Repository solidusio/solidus, pull requests merged in 2018-04, with the labels that each got.

#2658 Update Orders state machine doc removing confirmation_required text
  guides/orders/order-state-machine.md
Labels: documentation

#2641 Add initial Solidus upgrades documentation
  guides/upgrades/overview.md
  guides/upgrades/versioning-guidelines.md
Labels: documentation

#2684 UI fixes for admin locale select
  backend/app/assets/stylesheets/spree/backend/components/_navigation.scss
  backend/app/views/spree/admin/stores/_form.html.erb
  core/config/locales/en.yml
Labels: admin

#2283 Translate reception states and fix translation key
  core/app/models/spree/return_item.rb
  core/config/locales/en.yml
Labels: Code review needed

#2524 Add documentation that summarizes Solidus's built-in promotion calculators
  guides/calculators/promotion-calculators.md
Labels: documentation

#2525 Add documentation that summarizes Solidus's built-in shipping calculators
  guides/calculators/shipping-calculators.md
Labels: documentation

#2581 Add custom authentication (User model) setup article
  guides/users/custom-authentication.md
Labels: documentation

#2613 Rewrite payments overview documentation
  core/app/models/spree/payment_method.rb
  guides/payments/overview.md
Labels: documentation

#2617 Add initial documentation about payment sources
  guides/payments/payment-sources.md
Labels: documentation

#2618 Rewrite article documenting payment methods
  guides/payments/payment-methods.md
  guides/payments/payment_method.md
Labels: documentation

#2620 Add documentation introducing payment service providers
  guides/payments/payment-service-providers.md
Labels: documentation

#2640 Add initial Spree migration article
  guides/upgrades/migrate-from-spree.md
Labels: documentation

#2676 Add documentation of Spree::ReturnItem model
  guides/returns/return-items.md
Labels: documentation

#2675 Add overview of returns system
  guides/inventory/overview.md
  guides/returns/overview.md
Labels: documentation

#2708 Fix markdown link syntax in payment service provider guide
  guides/payments/payment-service-providers.md
Labels: Code review needed, documentation

#2707 Fix the code syntax in installation options guide
  guides/getting-started/installation-options.md
Labels: Code review needed, documentation

#2511 Initial calculators documentation
  guides/calculators/overview.md
  guides/shipments/custom-shipping-calculators.md
  guides/taxation/custom-tax-calculators.md
Labels: documentation

#2709 Guides: Links and syntax fixes
  guides/extensions/testing-extensions.md
  guides/getting-started/develop-solidus.md
  guides/getting-started/first-time-installation.md
  guides/getting-started/installation-options.md
  guides/locations/countries-and-states.md
  guides/orders/overview.md
  guides/payments/overview.md
  guides/payments/payment-sources.md
  guides/preferences/add-model-preferences.md
  guides/products-and-variants/product-images.md
  guides/products-and-variants/product-properties.md
  guides/shipments/custom-shipping-calculators.md
  guides/upgrades/migrate-from-spree.md
  guides/users/custom-authentication.md
  guides/views/custom-frontend.md
  guides/views/override-views.md
Labels: Code review needed, documentation

#2624 Rewrite payment processing documentation; add Spree::Order#payment_states documentation
  core/app/models/spree/order_updater.rb
  guides/orders/payment-states.md
  guides/payments/payment-processing.md
  guides/payments/payment_processing.md
  guides/payments/refunds.md
Labels: documentation
