Repository solidusio/solidus, pull requests merged in 2018-02, with the labels that each got.

#2558 Removing leftover jquery validate script from checkout edit form
  frontend/app/views/spree/checkout/edit.html.erb
Labels: Code review needed

#2520 Add specs and convert Admin::Variant#destroy to discard
  backend/app/controllers/spree/admin/variants_controller.rb
  backend/config/routes.rb
  backend/spec/controllers/spree/admin/variants_controller_spec.rb
  backend/spec/features/admin/products/variant_spec.rb
Labels: admin

#2569 fix comment
  core/app/models/spree/product.rb
Labels: documentation

#2467 Initial promotions documentation
  guides/promotions/overview.md
  guides/promotions/promotion-actions.md
  guides/promotions/promotion-handlers.md
  guides/promotions/promotion-rules.md
Labels: documentation

#2560 Add article about views for new Rails developers
  guides/views/custom-frontend.md
Labels: documentation

#2471 Addresses documentation
  guides/users/addresses.md
Labels: documentation

#2539 Add documentation for stock items and stock movements
  guides/inventory/stock-items.md
  guides/inventory/stock-movements.md
Labels: documentation

#2480 adding meta_title to api json product response
  api/app/helpers/spree/api/api_helpers.rb
  api/spec/requests/spree/api/unauthenticated_products_controller_spec.rb
Labels: Code review needed

#2563 Preparations for Rails 5.2 (part 2)
  core/lib/spree/testing_support/dummy_app.rb
  core/lib/spree/testing_support/dummy_app/migrations.rb
  core/lib/spree/testing_support/dummy_app/rake_tasks.rb
  core/lib/spree/testing_support/dummy_app/routes.rb
Labels: Code review needed

#2600 Replace button helper with standard button_tag
  backend/app/helpers/spree/admin/navigation_helper.rb
  backend/app/views/spree/admin/adjustments/edit.html.erb
  backend/app/views/spree/admin/adjustments/index.html.erb
  backend/app/views/spree/admin/adjustments/new.html.erb
  backend/app/views/spree/admin/customer_returns/new.html.erb
  backend/app/views/spree/admin/images/_new.html.erb
  backend/app/views/spree/admin/images/edit.html.erb
  backend/app/views/spree/admin/orders/customer_details/_form.html.erb
  backend/app/views/spree/admin/orders/index.html.erb
  backend/app/views/spree/admin/payment_methods/edit.html.erb
  backend/app/views/spree/admin/payment_methods/new.html.erb
  backend/app/views/spree/admin/payments/credit.html.erb
  backend/app/views/spree/admin/payments/new.html.erb
  backend/app/views/spree/admin/prices/index.html.erb
  backend/app/views/spree/admin/product_properties/index.html.erb
  backend/app/views/spree/admin/products/index.html.erb
  backend/app/views/spree/admin/promotion_code_batches/new.html.erb
  backend/app/views/spree/admin/promotions/_actions.html.erb
  backend/app/views/spree/admin/promotions/_rules.html.erb
  backend/app/views/spree/admin/promotions/index.html.erb
  backend/app/views/spree/admin/properties/index.html.erb
  backend/app/views/spree/admin/refunds/edit.html.erb
  backend/app/views/spree/admin/refunds/new.html.erb
  backend/app/views/spree/admin/return_authorizations/edit.html.erb
  backend/app/views/spree/admin/return_authorizations/new.html.erb
  backend/app/views/spree/admin/shared/_edit_resource_links.html.erb
  backend/app/views/spree/admin/shared/_new_resource_links.html.erb
  backend/app/views/spree/admin/shared/_report_order_criteria.html.erb
  backend/app/views/spree/admin/shared/_variant_search.html.erb
  backend/app/views/spree/admin/store_credits/edit_validity.html.erb
  backend/app/views/spree/admin/taxonomies/edit.html.erb
  backend/app/views/spree/admin/taxonomies/new.html.erb
  backend/app/views/spree/admin/taxons/edit.html.erb
  backend/app/views/spree/admin/users/index.html.erb
Labels: admin

#2601 Replace button_link_to with either button_to or link_to
  backend/app/helpers/spree/admin/navigation_helper.rb
  backend/app/helpers/spree/admin/orders_helper.rb
  backend/app/views/spree/admin/adjustment_reasons/index.html.erb
  backend/app/views/spree/admin/adjustments/index.html.erb
  backend/app/views/spree/admin/adjustments/new.html.erb
  backend/app/views/spree/admin/customer_returns/index.html.erb
  backend/app/views/spree/admin/customer_returns/new.html.erb
  backend/app/views/spree/admin/images/edit.html.erb
  backend/app/views/spree/admin/log_entries/index.html.erb
  backend/app/views/spree/admin/option_types/index.html.erb
  backend/app/views/spree/admin/orders/cart.html.erb
  backend/app/views/spree/admin/orders/customer_details/show.html.erb
  backend/app/views/spree/admin/orders/edit.html.erb
  backend/app/views/spree/admin/orders/index.html.erb
  backend/app/views/spree/admin/payment_methods/index.html.erb
  backend/app/views/spree/admin/payments/index.html.erb
  backend/app/views/spree/admin/payments/show.html.erb
  backend/app/views/spree/admin/prices/index.html.erb
  backend/app/views/spree/admin/products/edit.html.erb
  backend/app/views/spree/admin/products/index.html.erb
  backend/app/views/spree/admin/promotion_categories/index.html.erb
  backend/app/views/spree/admin/promotion_code_batches/index.html.erb
  backend/app/views/spree/admin/promotion_codes/index.html.erb
  backend/app/views/spree/admin/promotions/edit.html.erb
  backend/app/views/spree/admin/promotions/index.html.erb
  backend/app/views/spree/admin/properties/index.html.erb
  backend/app/views/spree/admin/refund_reasons/index.html.erb
  backend/app/views/spree/admin/refunds/edit.html.erb
  backend/app/views/spree/admin/refunds/new.html.erb
  backend/app/views/spree/admin/reimbursements/edit.html.erb
  backend/app/views/spree/admin/reimbursements/index.html.erb
  backend/app/views/spree/admin/reimbursements/show.html.erb
  backend/app/views/spree/admin/return_authorizations/edit.html.erb
  backend/app/views/spree/admin/return_authorizations/index.html.erb
  backend/app/views/spree/admin/return_authorizations/new.html.erb
  backend/app/views/spree/admin/shared/_edit_resource_links.html.erb
  backend/app/views/spree/admin/shared/named_types/_index.html.erb
  backend/app/views/spree/admin/shipping_categories/index.html.erb
  backend/app/views/spree/admin/shipping_methods/index.html.erb
  backend/app/views/spree/admin/stock_locations/index.html.erb
  backend/app/views/spree/admin/store_credits/edit_validity.html.erb
  backend/app/views/spree/admin/stores/edit.html.erb
  backend/app/views/spree/admin/tax_categories/index.html.erb
  backend/app/views/spree/admin/tax_rates/index.html.erb
  backend/app/views/spree/admin/taxonomies/edit.html.erb
  backend/app/views/spree/admin/taxonomies/index.html.erb
  backend/app/views/spree/admin/taxons/edit.html.erb
  backend/app/views/spree/admin/users/_user_page_actions.html.erb
  backend/app/views/spree/admin/users/edit.html.erb
  backend/app/views/spree/admin/users/index.html.erb
  backend/app/views/spree/admin/zones/index.html.erb
Labels: admin

#2555 Splitted shipment should update order totals/payment status
  core/app/models/spree/fulfilment_changer.rb
  core/spec/models/spree/fulfilment_changer_spec.rb
Labels: Code review needed
