Repository solidusio/solidus, pull requests merged in 2018-05, with the labels that each got.

#2718 Add a documentation contributors guide
  guides/contributing.md
Labels: documentation

#2717 Make documentation clearer and fix invalid links
  guides/adjustments/overview.md
  guides/assets/override-solidus-assets.md
  guides/calculators/overview.md
  guides/calculators/promotion-calculators.md
  guides/extensions/installing-extensions.md
  guides/getting-started/develop-solidus.md
  guides/getting-started/first-time-installation.md
  guides/getting-started/installation-options.md
  guides/index.md
  guides/locations/overview.md
  guides/locations/zones.md
  guides/orders/display-total-methods.md
  guides/orders/order-state-machine.md
  guides/orders/overview.md
  guides/payments/custom_gateway.md
  guides/payments/overview.md
  guides/payments/payment-methods.md
  guides/payments/payment-processing.md
  guides/payments/payment-sources.md
  guides/preferences/class-extension-points.md
  guides/products-and-variants/overview.md
  guides/products-and-variants/products.md
  guides/products-and-variants/variants.md
  guides/promotions/overview.md
  guides/promotions/promotion-actions.md
  guides/returns/customer-returns.md
  guides/returns/overview.md
  guides/returns/return-authorizations.md
  guides/shipments/cartons.md
  guides/shipments/custom-shipping-calculators.md
  guides/shipments/overview.md
  guides/shipments/solidus-active-shipping-extension.md
  guides/shipments/user-interface-for-shipments.md
  guides/taxation/overview.md
  guides/upgrades/migrate-from-spree.md
  guides/upgrades/overview.md
  guides/upgrades/versioning-guidelines.md
  guides/users/addresses.md
Labels: documentation

#2416 Improve frontend checkout forms html
  frontend/app/assets/javascripts/spree/frontend/checkout/address.js
  frontend/app/assets/stylesheets/spree/frontend/screen.css.scss
  frontend/app/views/spree/address/_form.html.erb
  frontend/app/views/spree/checkout/_address.html.erb
  frontend/app/views/spree/checkout/_delivery.html.erb
  frontend/app/views/spree/checkout/_payment.html.erb
  frontend/app/views/spree/checkout/edit.html.erb
  frontend/app/views/spree/checkout/payment/_gateway.html.erb
Labels: UI, frontend

#2682 Negative coh red
  backend/app/assets/javascripts/spree/backend/admin.js
  backend/app/assets/javascripts/spree/backend/highlight_negative_numbers.js
  backend/app/assets/javascripts/spree/backend/templates/stock_items/stock_location_stock_item.hbs
  backend/app/assets/javascripts/spree/backend/views/stock/edit_stock_item_row.js
  backend/app/assets/stylesheets/spree/backend/shared/_typography.scss
Labels: UI

#1346 fixing the promotion categories error message
  backend/app/views/spree/admin/promotion_categories/_form.html.erb
  backend/app/views/spree/admin/promotion_categories/index.html.erb
  backend/spec/features/admin/promotions/promotion_categories_spec.rb
Labels: Code review needed, admin

#2690 Rails 5.2
  .circleci/config.yml
  Gemfile
  core/solidus_core.gemspec
  lib/sandbox.sh
Labels: Code review needed

#2683 Add locale selector to frontend nav bar
  frontend/app/assets/javascripts/spree/frontend.js
  frontend/app/assets/javascripts/spree/frontend/locale_selector.js
  frontend/app/views/spree/shared/_locale_selector.html.erb
  frontend/app/views/spree/shared/_nav_bar.html.erb
Labels: Code review needed

#2732 Update CHANGELOG for 2.6.0
  CHANGELOG.md
Labels: Code review needed

#2714 Overview documentation for the Solidus API
  guides/source/developers/api/endpoints.html.md
  guides/source/developers/api/overview.html.md
Labels: documentation
