Repository solidusio/solidus, pull requests merged in 2018-10, with the labels that each got.

#2803 Add article that documents a Spree::Order journey
  guides/data/nav_tree.yml
  guides/source/developers/getting-started/customer-flow.html.md
Labels: documentation

#2862 [RFC] New stock management
  backend/app/assets/javascripts/spree/backend/templates/stock_items/stock_location_stock_item.hbs
  backend/app/assets/javascripts/spree/backend/views/stock/add_stock_item.js
  backend/app/assets/javascripts/spree/backend/views/stock/edit_stock_item_row.js
  backend/app/assets/stylesheets/spree/backend/sections/_stock_management.scss
  backend/app/assets/stylesheets/spree/backend/spree_admin.scss
  backend/app/views/spree/admin/shared/_variant_search.html.erb
  backend/app/views/spree/admin/stock_items/_stock_management.html.erb
  backend/spec/features/admin/products/stock_management_spec.rb
  core/config/locales/en.yml
Labels: UI, admin

#2911 Fill credit card input with force in checkout spec
  frontend/spec/features/checkout_spec.rb
  frontend/spec/support/features/fill_in_with_force.rb
Labels: Code review needed
