Repository solidusio/solidus, pull requests merged in 2019-07, with the labels that each got.

#3235 Improve documentation around customizing Solidus
  core/lib/generators/spree/install/templates/config/initializers/spree.rb.tt
  guides/data/nav/developers.yml
  guides/source/developers/customizations/customizing-admin.html.md
  guides/source/developers/customizations/customizing-assets.html.md
  guides/source/developers/customizations/customizing-permissions.html.md
  guides/source/developers/customizations/customizing-storefront.html.md
  guides/source/developers/customizations/decorators.html.md
  guides/source/developers/customizations/overview.html.md
Labels: Documentation, Needs Work

#3241 Tiny install_generator fixes
  core/lib/generators/spree/install/install_generator.rb
Labels: Code Review Needed

#3239 Refactor Promotions Environment Configuration
  CHANGELOG.md
  core/lib/spree/app_configuration.rb
  core/lib/spree/core.rb
  core/lib/spree/core/class_constantizer.rb
  core/lib/spree/core/environment.rb
  core/lib/spree/core/environment/promotions.rb
  core/lib/spree/promo/environment.rb
  core/spec/lib/spree/app_configuration_spec.rb
  core/spec/lib/spree/core/class_constantizer_spec.rb
  core/spec/lib/spree/promo/environment_spec.rb
Labels: Code Review Needed, Internal

#3252 Document the API via OpenAPI
  .circleci/config.yml
  openapi/.stoplight.yml
  openapi/api.oas2.yml
  openapi/authentication.md
  openapi/checkout-flow.md
  openapi/errors.md
  openapi/lint.yml
  openapi/main.hub.yml
  openapi/pagination.md
  openapi/theme.css
Labels: API, Documentation

#3232 Support class reloading for Event Subscribers
  core/app/subscribers/spree/mailer_subscriber.rb
  core/lib/spree/core/engine.rb
  core/lib/spree/event.rb
  core/lib/spree/event/configuration.rb
  core/lib/spree/event/processors/mailer_processor.rb
  core/spec/lib/spree/event/subscriber_spec.rb
  core/spec/lib/spree/event_spec.rb
  core/spec/models/spree/order_spec.rb
  guides/source/developers/events/overview.html.md
Labels: Code Review Needed

#3243 Improve gem-release configuration
  .gem_release.yml
Labels: Code Review Needed

#3250 Require spree/event/subscriber before using it
  core/app/subscribers/spree/mailer_subscriber.rb
Labels: Code Review Needed, Internal

#3256 Update Rubocop config
  .rubocop.yml
Labels: Code Review Needed

#3264 Improve Spree::Event guides
  guides/source/developers/events/overview.html.md
Labels: Code Review Needed, Documentation

#3267 Make preferences usage uniform across all Solidus gems
  api/lib/spree/api.rb
  api/lib/spree/api/config.rb
  api/lib/spree/api/engine.rb
  api/lib/spree/api/responders.rb
  api/lib/spree/api_configuration.rb
  backend/lib/spree/backend/config.rb
  backend/lib/spree/backend/engine.rb
  backend/lib/spree/backend_configuration.rb
  backend/spec/lib/spree/backend_configuration/menu_item_spec.rb
  backend/spec/lib/spree/backend_configuration_spec.rb
  frontend/lib/spree/frontend/config.rb
  frontend/lib/spree/frontend/engine.rb
  frontend/lib/spree/frontend_configuration.rb
Labels: Code Review Needed, Internal

#3274 Update Tab colors with its own variables
  backend/app/assets/stylesheets/spree/backend/components/_tabs.scss
  backend/app/assets/stylesheets/spree/backend/globals/_variables.scss
Labels: Admin, Bug, Need Backport

#3247 Add zone link
  guides/source/developers/taxation/overview.html.md
Labels: Code Review Needed

#3273 [Guides] Bump lodash for a security vulnerability
  guides/package.json
  guides/yarn.lock
Labels: Documentation
