Repository solidusio/solidus, pull requests merged in 2019-12, with the labels that each got.

#3436 Updates Guides: Security and simple installation
  guides/source/assets/stylesheets/components/_blocks.scss
  guides/source/assets/stylesheets/components/_layout.scss
  guides/source/assets/stylesheets/components/_navigation.scss
  guides/source/developers/getting-started/first-time-installation.html.md
  guides/source/partials/_security_updates.erb
Labels: Documentation

#3443 Remove unused route
  backend/config/routes.rb
Labels: Admin, Bug, Code Review Needed

#3445 Improve line items params in the API documentation
  api/openapi/api.oas2.yml
Labels: API, Documentation

#3449 update rubocop version
  .hound.yml
  Gemfile
Labels: Code Review Needed

#3453 Fix Money gem deprecations
  core/config/initializers/money.rb
Labels: Enhancement

#3439 Fixing product discard and classifications issue
  core/app/models/spree/product.rb
  core/spec/models/spree/classification_spec.rb
Labels: Code Review Needed

#3455 Add instructions to create a sandbox with Rails 5.2
  README.md
  guides/source/developers/getting-started/develop-solidus.html.md
Labels: Documentation

#3444 Fix Turbolinks installation instructions
  README.md
  guides/source/developers/getting-started/installation-options.html.md
Labels: Documentation

#3451 Allow configuring VAT Price Generator class
  core/app/models/spree/variant.rb
  core/lib/spree/app_configuration.rb
  guides/source/developers/taxation/value-added-tax.html.md
Labels: Code Review Needed, Documentation, Enhancement
