Repository solidusio/solidus, pull requests merged in 2019-03, with the labels that each got.

#3125 Count only completed orders
  backend/app/views/spree/admin/users/index.html.erb
Labels: Code Review Needed

#3101 Admin payments UI cleanup
  backend/app/assets/stylesheets/spree/backend/sections/_log_entries.scss
  backend/app/assets/stylesheets/spree/backend/shared/_icons.scss
  backend/app/assets/stylesheets/spree/backend/shared/_layout.scss
  backend/app/assets/stylesheets/spree/backend/shared/_tables.scss
  backend/app/assets/stylesheets/spree/backend/shared/_typography.scss
  backend/app/controllers/spree/admin/log_entries_controller.rb
  backend/app/views/spree/admin/log_entries/index.html.erb
  backend/app/views/spree/admin/payments/_capture_events.html.erb
  backend/app/views/spree/admin/payments/_list.html.erb
  backend/app/views/spree/admin/payments/_log_entries.html.erb
  backend/app/views/spree/admin/payments/show.html.erb
  backend/spec/features/admin/orders/log_entries_spec.rb
  backend/spec/features/admin/orders/payments_spec.rb
  core/config/locales/en.yml
Labels: Admin, UI

#2988 Normalize API I18n keys
  api/app/controllers/spree/api/shipments_controller.rb
  api/app/controllers/spree/api/stock_items_controller.rb
  api/app/views/spree/api/errors/invalid_api_key.json.jbuilder
  api/app/views/spree/api/payments/credit_over_limit.json.jbuilder
  api/app/views/spree/api/payments/update_forbidden.json.jbuilder
  api/config/locales/en.yml
  api/spec/requests/spree/api/stock_items_controller_spec.rb
  backend/app/controllers/spree/admin/users_controller.rb
  core/config/locales/en.yml
Labels: Needs Work

#3114 Add migration to drop table/column from `20180710170104`
  core/db/migrate/20190220093635_drop_spree_store_credit_update_reasons.rb
Labels: Code Review Needed

#3134 Refactor order #refund_total
  core/app/models/spree/order.rb
Labels: Code Review Needed

#3092 Add initial shipments documentation for end users
  backend/app/views/spree/admin/shipping_methods/_form.html.erb
  backend/app/views/spree/admin/stores/_form.html.erb
  core/config/locales/en.yml
  guides/data/nav/users.yml
  guides/source/users/orders/shipments.html.md
  guides/source/users/products/product-details.html.md
  guides/source/users/settings/overview.html.md
  guides/source/users/settings/payments.html.md
  guides/source/users/settings/refunds-and-returns.html.md
  guides/source/users/settings/shipping.html.md
  guides/source/users/settings/stores.html.md
  guides/source/users/settings/taxes.html.md
Labels: Code Review Needed, Documentation

#3106 Enable Docker for demoing purposes
  README.md
  lib/demo/Dockerfile
  lib/demo/README.md
  lib/demo/docker-entrypoint.sh
Labels: Code Review Needed

#3139 Don't allow deletion for users with orders
  backend/app/views/spree/admin/users/index.html.erb
  backend/spec/features/admin/users_spec.rb
Labels: Major Change

#3144 Add missing I18n namespace
  core/app/views/spree/order_mailer/inventory_cancellation_email.text.erb
Labels: Code Review Needed

#3141 Tentative fix for flaky specs
  backend/spec/features/admin/products/edit/taxons_spec.rb
  core/lib/spree/testing_support/capybara_ext.rb
  core/spec/models/spree/stock/location_filter/active_spec.rb
  core/spec/models/spree/stock/location_sorter/default_first_spec.rb
  core/spec/models/spree/stock/location_sorter/unsorted_spec.rb
  frontend/spec/features/checkout_spec.rb
Labels: Code Review Needed
