Repository solidusio/solidus, pull requests merged in 2019-11, with the labels that each got.

#3322 Style collapsing sidebar
  backend/app/assets/javascripts/spree/backend.js
  backend/app/assets/javascripts/spree/backend/components/admin_nav.js
  backend/app/assets/stylesheets/spree/backend/_bootstrap_custom.scss
  backend/app/assets/stylesheets/spree/backend/components/_breadcrumb.scss
  backend/app/assets/stylesheets/spree/backend/components/_messages.scss
  backend/app/assets/stylesheets/spree/backend/components/_navigation.scss
  backend/app/assets/stylesheets/spree/backend/globals/_variables.scss
  backend/app/assets/stylesheets/spree/backend/shared/_header.scss
  backend/app/assets/stylesheets/spree/backend/shared/_layout.scss
  backend/app/views/spree/admin/shared/_navigation.html.erb
  backend/app/views/spree/layouts/admin.html.erb
  backend/vendor/assets/stylesheets/solidus_admin/bootstrap/_variables.scss
  core/config/locales/en.yml
Labels: Code Review Needed, hold

#3418 Several Guides improvements
  guides/data/nav/developers.yml
  guides/source/developers/customizations/customizing-mailers.html.md
Labels: Code Review Needed, Documentation

#3391 Display error if editing non-current order
  core/config/locales/en.yml
  frontend/app/controllers/spree/orders_controller.rb
  frontend/spec/controllers/spree/orders_controller_spec.rb
Labels: Code Review Needed

#3410 Add max_line_length for Markdown files
  .editorconfig
Labels: Code Review Needed

#3382 Add tooltips to admin calculators
  backend/app/views/spree/admin/promotions/_actions.html.erb
  backend/app/views/spree/admin/shared/_calculator_fields.html.erb
  backend/app/views/spree/admin/shipping_methods/_form.html.erb
  backend/app/views/spree/admin/tax_rates/_form.html.erb
  core/config/locales/en.yml
Labels: Admin, Code Review Needed

#3415 Remove last migration's spec file
  core/spec/migrate/20190106184413_remove_code_from_spree_promotions_spec.rb
Labels: Code Review Needed, Internal

#3416 Several small refactors to promotions code
  core/app/models/spree/shipping_calculator.rb
  core/spec/models/spree/calculator/shipping/flat_percent_item_total_spec.rb
  core/spec/models/spree/calculator/shipping/flat_rate_spec.rb
  core/spec/models/spree/calculator/shipping/flexi_rate_spec.rb
  core/spec/models/spree/calculator/shipping/per_item_spec.rb
  core/spec/models/spree/calculator/shipping/price_sack_spec.rb
  core/spec/models/spree/returns_calculator_spec.rb
  core/spec/models/spree/shipping_calculator_spec.rb
Labels: Code Review Needed, Internal

#3435 [Admin] Fix bug for billing address state value not changing with customer
  backend/app/assets/javascripts/spree/backend/views/order/address.js
  backend/spec/features/admin/orders/new_order_spec.rb
Labels: Admin, Bug

#3369 Allow to easily extend `Auth#store_location` behavior
  core/app/models/spree/user_last_url_storer.rb
  core/app/models/spree/user_last_url_storer/rules/authentication_rule.rb
  core/lib/generators/spree/install/templates/config/initializers/spree.rb.tt
  core/lib/spree/app_configuration.rb
  core/lib/spree/core/controller_helpers/auth.rb
  core/spec/models/spree/user_last_url_storer/rules/authentication_rule_spec.rb
  core/spec/models/spree/user_last_url_storer_spec.rb
  guides/source/developers/customizations/customizing-after-login-redirects.html.md
  guides/source/developers/customizations/overview.html.md
Labels: Code Review Needed

#3297 Update usage count in Promotion eligibility check
  core/app/models/spree/adjustment.rb
  core/app/models/spree/promotion.rb
  core/app/models/spree/promotion_code.rb
  core/lib/spree/testing_support/factories/promotion_factory.rb
  core/spec/models/spree/promotion_spec.rb
Labels: Code Review Needed
