Repository solidusio/solidus, pull requests merged in 2019-05, with the labels that each got.

#3155 Hide Master Price input when there's no default price
  backend/app/views/spree/admin/products/_form.html.erb
  backend/spec/features/admin/products/edit/products_spec.rb
  backend/spec/features/admin/products/products_spec.rb
  core/app/models/concerns/spree/default_price.rb
  core/config/locales/en.yml
  core/spec/support/concerns/default_price.rb
Labels: Admin, Bug

#3170 Remove unused variable assignment from Admin::OrdersController#index action
  backend/app/controllers/spree/admin/orders_controller.rb
Labels: Code Review Needed

#3007 Verify ownership of payment_source when creating WalletPaymentSource
  backend/spec/features/admin/orders/payments_spec.rb
  core/app/models/spree/wallet_payment_source.rb
  core/config/locales/en.yml
  core/spec/models/spree/order/checkout_spec.rb
  core/spec/models/spree/wallet_payment_source_spec.rb
  core/spec/models/spree/wallet_spec.rb
Labels: Code Review Needed

#3202 Fixes for discard 1.1.0
  core/app/models/spree/store_credit.rb
Labels: Bug, Code Review Needed

#3163 Disable adjust stock field when user does not have the correct permission
  backend/app/assets/javascripts/spree/backend/stock_management.js
  backend/app/views/spree/admin/stock_items/_stock_management.html.erb
Labels: Code Review Needed

#3168 Use taxon children when searching classification
  core/app/models/spree/promotion/rules/taxon.rb
  core/spec/models/spree/promotion/rules/taxon_spec.rb
Labels: Code Review Needed

#3182 Use classes alongside data-hook attributes for gateway partial
  frontend/app/views/spree/checkout/payment/_gateway.html.erb
Labels: Code Review Needed

#3167 Add basic tooling for JS linting
  .eslintrc.json
  .gitignore
  .hound.yml
  backend/app/assets/javascripts/spree/backend/components/sortable_table.js
  backend/app/assets/javascripts/spree/backend/components/tabs.js
  backend/app/assets/javascripts/spree/backend/shipments.js
  backend/app/assets/javascripts/spree/backend/translation.js
  backend/app/assets/javascripts/spree/backend/turbolinks-integration.js
  package.json
Labels: Code Review Needed

#3199 Allow order with multiple line items to be marked as "Returned"
  backend/app/controllers/spree/admin/customer_returns_controller.rb
  backend/spec/features/admin/orders/customer_returns_spec.rb
  core/app/models/spree/customer_return.rb
  core/app/models/spree/return_item.rb
  core/lib/spree/testing_support/factories/return_item_factory.rb
  core/spec/models/spree/return_item_spec.rb
Labels: Important Change

#3210 Improve jbuilder serialization for Oj gem
  api/app/helpers/spree/api/api_helpers.rb
  api/app/views/spree/api/products/_product.json.jbuilder
  api/app/views/spree/api/variants/_small.json.jbuilder
  api/spec/requests/spree/api/products_controller_spec.rb
  api/spec/requests/spree/api/variants_controller_spec.rb
Labels: API

#3157 Improve promotion statuses
  backend/app/helpers/spree/admin/promotions_helper.rb
  backend/app/views/spree/admin/promotions/index.html.erb
  backend/spec/features/admin/promotions/promotion_spec.rb
  core/app/models/spree/promotion.rb
  core/config/locales/en.yml
  core/spec/models/spree/promotion_spec.rb
Labels: Code Review Needed

#3213 Add OriginalPayment reimbursement type in seeds
  core/db/default/spree/store_credit.rb
Labels: Admin

#3206 Use a rails application template for Heroku + example-app
  README.md
  app.json
  bin/rails-application-template
Labels: Important Change

#3192 Update admin color palette and font
  backend/app/assets/stylesheets/spree/backend/_bootstrap_custom.scss
  backend/app/assets/stylesheets/spree/backend/components/_breadcrumb.scss
  backend/app/assets/stylesheets/spree/backend/components/_buttons.scss
  backend/app/assets/stylesheets/spree/backend/components/_image_placeholder.scss
  backend/app/assets/stylesheets/spree/backend/components/_list_group.scss
  backend/app/assets/stylesheets/spree/backend/components/_messages.scss
  backend/app/assets/stylesheets/spree/backend/components/_navigation.scss
  backend/app/assets/stylesheets/spree/backend/components/_progress.scss
  backend/app/assets/stylesheets/spree/backend/components/_sidebar.scss
  backend/app/assets/stylesheets/spree/backend/components/_tabs.scss
  backend/app/assets/stylesheets/spree/backend/globals/_deprecated_variables.scss
  backend/app/assets/stylesheets/spree/backend/globals/_deprecation.scss
  backend/app/assets/stylesheets/spree/backend/globals/_variables.scss
  backend/app/assets/stylesheets/spree/backend/globals/_variables_override.scss
  backend/app/assets/stylesheets/spree/backend/globals/mixins/_caret.scss
  backend/app/assets/stylesheets/spree/backend/globals/mixins/_line_through.scss
  backend/app/assets/stylesheets/spree/backend/sections/_log_entries.scss
  backend/app/assets/stylesheets/spree/backend/sections/_orders.scss
  backend/app/assets/stylesheets/spree/backend/sections/_products.scss
  backend/app/assets/stylesheets/spree/backend/sections/_promotions.scss
  backend/app/assets/stylesheets/spree/backend/sections/_style_guide.scss
  backend/app/assets/stylesheets/spree/backend/sections/_taxonomies.scss
  backend/app/assets/stylesheets/spree/backend/shared/_fonts.scss
  backend/app/assets/stylesheets/spree/backend/shared/_forms.scss
  backend/app/assets/stylesheets/spree/backend/shared/_header.scss
  backend/app/assets/stylesheets/spree/backend/shared/_icons.scss
  backend/app/assets/stylesheets/spree/backend/shared/_layout.scss
  backend/app/assets/stylesheets/spree/backend/shared/_tables.scss
  backend/app/assets/stylesheets/spree/backend/shared/_typography.scss
  backend/app/assets/stylesheets/spree/backend/spree_admin.scss
  backend/app/views/spree/admin/images/index.html.erb
  backend/app/views/spree/admin/option_types/edit.html.erb
  backend/app/views/spree/admin/orders/_line_items_edit_form.html.erb
  backend/app/views/spree/admin/products/edit.html.erb
  backend/app/views/spree/admin/reimbursements/edit.html.erb
  backend/app/views/spree/admin/shared/_head.html.erb
  backend/app/views/spree/admin/shared/_modal.html.erb
  backend/app/views/spree/admin/store_credits/edit_validity.html.erb
  backend/app/views/spree/admin/store_credits/index.html.erb
  backend/app/views/spree/admin/store_credits/show.html.erb
  backend/app/views/spree/admin/style_guide/topics/typography/_colors.html.erb
  backend/app/views/spree/admin/style_guide/topics/typography/_fonts.html.erb
  backend/app/views/spree/admin/taxonomies/edit.html.erb
  backend/app/views/spree/admin/taxons/edit.html.erb
  backend/app/views/spree/admin/users/edit.html.erb
  backend/spec/support/appear_before_matcher.rb
  backend/vendor/assets/fonts/inter/Inter-Regular.woff
  backend/vendor/assets/fonts/inter/Inter-Regular.woff2
  backend/vendor/assets/fonts/inter/Inter-SemiBold.woff
  backend/vendor/assets/fonts/inter/Inter-SemiBold.woff2
  backend/vendor/assets/stylesheets/solidus_admin/bootstrap/_pagination.scss
  core/app/assets/images/logo/solidus.svg
  core/app/assets/images/logo/solidus_logo.png
  frontend/app/assets/stylesheets/spree/frontend/screen.css.scss
Labels: WIP
