Repository solidusio/solidus, pull requests merged in 2019-01, with the labels that each got.

#3019 Setup Netlify site for yard docs
  .yardopts
  Gemfile
  core/app/mailers/spree/carton_mailer.rb
  core/app/models/spree/order_cancellations.rb
  netlify.toml
Labels: Documentation

#3015 Enable partial doubles verification for RSpec (part 2)
  api/spec/requests/spree/api/line_items_controller_spec.rb
  api/spec/requests/spree/api/orders_controller_spec.rb
  api/spec/spec_helper.rb
  backend/spec/controllers/spree/admin/base_controller_spec.rb
  backend/spec/controllers/spree/admin/orders_controller_spec.rb
  backend/spec/controllers/spree/admin/payments_controller_spec.rb
  backend/spec/controllers/spree/admin/stock_items_controller_spec.rb
  backend/spec/features/admin/homepage_spec.rb
  backend/spec/features/admin/orders/order_details_spec.rb
  backend/spec/features/admin/products/products_spec.rb
  backend/spec/helpers/admin/navigation_helper_spec.rb
  backend/spec/spec_helper.rb
  backend/spec/views/spree/admin/shared/navigation_footer_spec.rb
  core/lib/spree/testing_support/partial_double_verification.rb
  core/spec/spec_helper.rb
  core/spec/support/example_groups/partial_double_verification_example_group.rb
  frontend/spec/controllers/spree/checkout_controller_spec.rb
  frontend/spec/controllers/spree/orders_controller_ability_spec.rb
  frontend/spec/controllers/spree/products_controller_spec.rb
  frontend/spec/controllers/spree/taxons_controller_spec.rb
  frontend/spec/spec_helper.rb
Labels: Needs Core Team Decision

#3027 Replace jquery_ujs with rails-ujs in frontend and backend
  backend/app/assets/javascripts/spree/backend.js
  backend/app/assets/javascripts/spree/backend/store_credits.js
  backend/spec/features/admin/store_credits_spec.rb
  backend/spec/javascripts/spec_helper.js
  core/lib/generators/spree/install/templates/vendor/assets/javascripts/spree/backend/all.js
  core/lib/generators/spree/install/templates/vendor/assets/javascripts/spree/frontend/all.js
  core/lib/spree/testing_support/dummy_app/assets/javascripts/spree/backend/all.js
  core/lib/spree/testing_support/dummy_app/assets/javascripts/spree/frontend/all.js
  guides/source/developers/assets/asset-management.html.md
Labels: Needs Core Team Decision

#3023 Rescue from `Spree::Order::InsufficientStock` on `frontend` checkout flow
  core/config/locales/en.yml
  frontend/app/controllers/spree/checkout_controller.rb
  frontend/spec/controllers/spree/checkout_controller_spec.rb
  frontend/spec/features/checkout_confirm_insufficient_stock_spec.rb
Labels: Bug, Frontend, Needs Core Team Decision

#2798 Store credit reasons
  backend/app/controllers/spree/admin/store_credit_reasons_controller.rb
  backend/app/controllers/spree/admin/store_credits_controller.rb
  backend/app/views/spree/admin/shared/_settings_checkout_tabs.html.erb
  backend/app/views/spree/admin/store_credit_reasons/edit.html.erb
  backend/app/views/spree/admin/store_credit_reasons/index.html.erb
  backend/app/views/spree/admin/store_credit_reasons/new.html.erb
  backend/app/views/spree/admin/store_credit_reasons/shared/_form.html.erb
  backend/app/views/spree/admin/store_credits/_store_credit_reason_field.html.erb
  backend/app/views/spree/admin/store_credits/_update_reason_field.html.erb
  backend/app/views/spree/admin/store_credits/edit_amount.html.erb
  backend/app/views/spree/admin/store_credits/edit_validity.html.erb
  backend/app/views/spree/admin/store_credits/show.html.erb
  backend/config/routes.rb
  backend/spec/controllers/spree/admin/store_credits_controller_spec.rb
  backend/spec/features/admin/store_credits_spec.rb
  backend/spec/helpers/admin/store_credit_events_helper_spec.rb
  core/app/models/spree/store_credit.rb
  core/app/models/spree/store_credit_event.rb
  core/app/models/spree/store_credit_reason.rb
  core/app/models/spree/store_credit_update_reason.rb
  core/config/locales/en.yml
  core/db/default/spree/store_credit.rb
  core/db/migrate/20180710170104_create_spree_store_credit_reasons_table.rb
  core/lib/spree/testing_support/factories/store_credit_event_factory.rb
  core/lib/spree/testing_support/factories/store_credit_reason_factory.rb
  core/lib/spree/testing_support/factories/store_credit_update_reason_factory.rb
  core/spec/lib/spree/core/testing_support/factories/store_credit_reason_factory_spec.rb
  core/spec/lib/spree/core/testing_support/factories/store_credit_update_reason_factory_spec.rb
  core/spec/models/spree/store_credit_event_spec.rb
  core/spec/models/spree/store_credit_spec.rb
Labels: Admin, Needs Core Team Decision

#3011 Fix N+1 problem on Api::TaxonsController#index
  api/app/controllers/spree/api/taxons_controller.rb
  api/spec/requests/spree/api/taxons_controller_spec.rb
  core/app/models/spree/taxon.rb
Labels: Code review needed

#3028 Remove code column from spree_promotions table
  CHANGELOG.md
  api/spec/features/checkout_spec.rb
  core/app/models/spree/promotion.rb
  core/db/migrate/20190106184413_remove_code_from_spree_promotions.rb
  core/lib/solidus/migrations/promotions_with_code_handlers.rb
  core/spec/migrate/20190106184413_remove_code_from_spree_promotions_spec.rb
  core/spec/models/spree/promotion_spec.rb
Labels: Bug

#3045 Extend Decorator documentation
  guides/source/developers/extensions/decorators.html.md
Labels: Documentation
