Repository solidusio/solidus, pull requests merged in 2019-04, with the labels that each got.

#3154 Convert Tax Categories to discard
  core/app/models/spree/tax_category.rb
  core/spec/models/spree/tax_category_spec.rb
Labels: Code Review Needed

#3066 Accept source as permitted attribute importing orders
  api/app/controllers/spree/api/orders_controller.rb
  api/spec/requests/spree/api/orders_controller_spec.rb
Labels: Code Review Needed

#3081 ActiveSupport notifications for Events Handling
  CHANGELOG.md
  core/app/models/spree/order.rb
  core/app/models/spree/reimbursement.rb
  core/lib/spree/app_configuration.rb
  core/lib/spree/core.rb
  core/lib/spree/core/engine.rb
  core/lib/spree/event.rb
  core/lib/spree/event/adapters/active_support_notifications.rb
  core/lib/spree/event/configuration.rb
  core/lib/spree/event/processors/mailer_processor.rb
  core/lib/spree/event/subscriber.rb
  core/spec/lib/spree/event/subscriber_spec.rb
  core/spec/lib/spree/event_spec.rb
  core/spec/models/spree/app_configuration_spec.rb
  core/spec/models/spree/order/finalizing_spec.rb
  core/spec/models/spree/order_spec.rb
  core/spec/models/spree/reimbursement_spec.rb
  guides/data/nav/developers.yml
  guides/source/developers/events/overview.html.md
Labels: Code Review Needed, Important Change, Needs Core Team Decision

#3180 Remove name column from default ransackable attributes
  core/app/models/concerns/spree/ransackable_attributes.rb
  core/app/models/spree/country.rb
  core/app/models/spree/option_type.rb
  core/app/models/spree/option_value.rb
  core/app/models/spree/product.rb
  core/app/models/spree/promotion.rb
  core/app/models/spree/property.rb
  core/app/models/spree/state.rb
  core/app/models/spree/stock_location.rb
  core/app/models/spree/taxon.rb
  core/app/models/spree/taxonomy.rb
  core/app/models/spree/zone.rb
Labels: Code Review Needed, Important Change
