Repository solidusio/solidus, pull requests merged in 2019-02, with the labels that each got.

#3058 Improve Pull Request template
  .github/pull_request_template.md
Labels: Documentation

#3094 Fixing inventory unit finalizer
  core/app/models/spree/stock/inventory_units_finalizer.rb
  core/spec/models/spree/stock/inventory_units_finalizer_spec.rb
Labels: Bug

#3097 Update Solidus Guide footer
  guides/source/assets/images/social-icons/opencollective.svg
  guides/source/partials/_footer.erb
Labels: Documentation

#3093 Add support for multiple tables of contents in the Solidus Guides
  guides/config.rb
  guides/data/nav/developers.yml
  guides/data/nav/global.yml
  guides/data/nav/meta.yml
  guides/data/nav/users.yml
  guides/helpers/custom_helpers.rb
  guides/helpers/nav_helpers.rb
  guides/lib/custom_markdown_renderer.rb
  guides/source/assets/stylesheets/components/_blocks.scss
  guides/source/assets/stylesheets/components/_layout.scss
  guides/source/assets/stylesheets/components/_navigation.scss
  guides/source/assets/stylesheets/vendor/bootstrap/bootstrap.scss
  guides/source/contents.json.erb
  guides/source/developers/index.html.md
  guides/source/index.html.md
  guides/source/layouts/layout.erb
  guides/source/partials/_header.erb
  guides/source/partials/_nav.erb
  guides/source/partials/_nav_content.erb
  guides/source/partials/_nav_header.erb
  guides/source/partials/_nav_tree_single.erb
  guides/source/users/index.html.md
  guides/source/users/products/product-stock.html.md
Labels: Documentation

#3100 Fix fieldset legend position in Firefox
  backend/app/assets/stylesheets/spree/backend/shared/_forms.scss
Labels: Admin, UI

#3090 Parameterize taxon's permalink also on update
  core/app/models/spree/taxon.rb
  core/spec/models/spree/taxon_spec.rb
Labels: Needs Core Team Decision

#3108 Fix remove code from promotions migration
  core/db/migrate/20190106184413_remove_code_from_spree_promotions.rb
  core/spec/migrate/20190106184413_remove_code_from_spree_promotions_spec.rb
Labels: Bug, Needs Core Team Decision

#3109 Remove destructive actions from migration 20180710170104
  core/db/migrate/20180710170104_create_spree_store_credit_reasons_table.rb
Labels: Needs Core Team Decision

#3113 Fix migration `20161123154034` and `20120411123334`
  api/db/migrate/20120411123334_resize_api_key_field.rb
  core/db/migrate/20161123154034_add_available_to_users_and_remove_display_on_from_shipping_methods.rb
Labels: Code Review Needed
