Repository solidusio/solidus, pull requests merged in 2019-10, with the labels that each got.

#3337 Bump required ruby version to 2.4
  .hound.yml
  .rubocop.yml
  Gemfile
  api/solidus_api.gemspec
  backend/solidus_backend.gemspec
  core/solidus_core.gemspec
  frontend/solidus_frontend.gemspec
  sample/solidus_sample.gemspec
  solidus.gemspec
Labels: Code Review Needed

#3333 Deprecate Rails 5.1
  .circleci/config.yml
  core/lib/spree/core.rb
  core/spec/models/spree/payment_create_spec.rb
Labels: Needs Core Team Decision

#3356 Extract the state machines into replaceable modules
  core/app/models/spree/inventory_unit.rb
  core/app/models/spree/payment.rb
  core/app/models/spree/reimbursement.rb
  core/app/models/spree/return_authorization.rb
  core/app/models/spree/return_item.rb
  core/app/models/spree/shipment.rb
  core/lib/spree/app_configuration.rb
  core/lib/spree/core.rb
  core/lib/spree/core/state_machines.rb
  core/lib/spree/core/state_machines/inventory_unit.rb
  core/lib/spree/core/state_machines/payment.rb
  core/lib/spree/core/state_machines/reimbursement.rb
  core/lib/spree/core/state_machines/return_authorization.rb
  core/lib/spree/core/state_machines/return_item/acceptance_status.rb
  core/lib/spree/core/state_machines/return_item/reception_status.rb
  core/lib/spree/core/state_machines/shipment.rb
  guides/data/nav/developers.yml
  guides/source/developers/customizations/state-machines.html.md
Labels: Needs Core Team Decision

#3359 Update guides node-sass dependency to be compatible with Node versions > v10
  guides/package.json
Labels: Code Review Needed

#3360 Added a new page to the documentation for customizing model attributes
  guides/data/nav/developers.yml
  guides/source/developers/customizations/customizing-attributes.html.md
  guides/source/developers/customizations/overview.html.md
Labels: Code Review Needed

#3340 Remove duplicate Spree::Order.register_update_hook specs
  core/spec/models/spree/order/updating_spec.rb
  core/spec/models/spree/order_spec.rb
Labels: Code Review Needed

#3354 Officialize new taxation system
  core/app/models/spree/tax_calculator/default.rb
  core/app/models/spree/tax_calculator/shipping_rate.rb
  core/app/models/spree/tax_rate.rb
  core/lib/spree/app_configuration.rb
  core/spec/models/spree/tax_rate_spec.rb
Labels: Code Review Needed

#3342 [backend] Disable submit buttons after first click
  backend/app/views/spree/admin/customer_returns/new.html.erb
  backend/app/views/spree/admin/payment_methods/new.html.erb
  backend/app/views/spree/admin/promotion_code_batches/new.html.erb
  backend/app/views/spree/admin/promotion_codes/new.html.erb
  backend/app/views/spree/admin/return_authorizations/new.html.erb
  backend/app/views/spree/admin/shared/_new_resource_links.html.erb
  backend/app/views/spree/admin/taxonomies/new.html.erb
  backend/spec/features/admin/configuration/payment_methods_spec.rb
  backend/spec/features/admin/configuration/shipping_methods_spec.rb
  backend/spec/features/admin/configuration/taxonomies_spec.rb
  backend/spec/features/admin/orders/customer_returns_spec.rb
  backend/spec/features/admin/orders/return_authorizations_spec.rb
  backend/spec/features/admin/products/products_spec.rb
  backend/spec/features/admin/promotion_adjustments_spec.rb
  backend/spec/features/admin/promotions/promotion_code_batches_spec.rb
  backend/spec/features/admin/promotions/promotion_code_spec.rb
  backend/spec/support/feature/base_feature_helper.rb
Labels: Admin, Code Review Needed

#3130 Allow orders with different shipping categories
  core/app/models/spree/shipping_method.rb
  core/spec/models/spree/shipping_method_spec.rb
  frontend/spec/features/checkout_spec.rb
Labels: Bug, Need Backport

#3165 Ensure cartons find soft deleted shipping methods
  core/app/models/spree/carton.rb
  core/spec/models/spree/carton_spec.rb
Labels: Code Review Needed, Important Change
