Repository solidusio/solidus, pull requests merged in 2019-08, with the labels that each got.

#3275 Freeze preferences for Backend, Frontend and Api specs as well
  api/spec/features/checkout_spec.rb
  api/spec/models/spree/legacy_user_spec.rb
  api/spec/requests/spree/api/checkouts_controller_spec.rb
  api/spec/requests/spree/api/products_controller_spec.rb
  api/spec/requests/spree/api/unauthenticated_products_controller_spec.rb
  api/spec/spec_helper.rb
  backend/spec/features/admin/locale_spec.rb
  core/lib/spree/testing_support/preferences.rb
  core/spec/models/spree/stock/quantifier_spec.rb
  frontend/spec/controllers/controller_helpers_spec.rb
  frontend/spec/features/locale_spec.rb
Labels: Need Backport

#3270 Upload new sample images
  core/app/models/spree/image/paperclip_attachment.rb
  sample/db/samples/assets.rb
  sample/db/samples/images/ror_bag.jpg
  sample/db/samples/images/ror_baseball.jpg
  sample/db/samples/images/ror_baseball_back.jpg
  sample/db/samples/images/ror_jr_spaghetti.jpg
  sample/db/samples/images/ror_mug.jpg
  sample/db/samples/images/ror_mug_back.jpg
  sample/db/samples/images/ror_ringer.jpg
  sample/db/samples/images/ror_ringer_back.jpg
  sample/db/samples/images/ror_stein.jpg
  sample/db/samples/images/ror_stein_back.jpg
  sample/db/samples/images/ror_tote.jpg
  sample/db/samples/images/ror_tote_back.jpg
  sample/db/samples/images/ruby_hoodie.jpg
  sample/db/samples/images/ruby_hoodie_zip.jpg
  sample/db/samples/images/ruby_mug.jpg
  sample/db/samples/images/ruby_polo.jpg
  sample/db/samples/images/ruby_polo_back.jpg
  sample/db/samples/images/solidus_girly.jpg
  sample/db/samples/images/solidus_girly_black.png
  sample/db/samples/images/solidus_girly_blue.png
  sample/db/samples/images/solidus_girly_white.png
  sample/db/samples/images/solidus_hoodie.jpg
  sample/db/samples/images/solidus_long.jpg
  sample/db/samples/images/solidus_long_back.jpg
  sample/db/samples/images/solidus_long_back_black.png
  sample/db/samples/images/solidus_long_back_blue.png
  sample/db/samples/images/solidus_long_back_white.png
  sample/db/samples/images/solidus_long_black.png
  sample/db/samples/images/solidus_long_blue.png
  sample/db/samples/images/solidus_long_white.png
  sample/db/samples/images/solidus_mug.jpg
  sample/db/samples/images/solidus_snapback_cap.jpg
  sample/db/samples/images/solidus_tshirt.jpg
  sample/db/samples/images/solidus_tshirt_back.jpg
  sample/db/samples/images/solidus_tshirt_back_black.png
  sample/db/samples/images/solidus_tshirt_back_blue.png
  sample/db/samples/images/solidus_tshirt_back_white.png
  sample/db/samples/images/solidus_tshirt_black.png
  sample/db/samples/images/solidus_tshirt_blue.png
  sample/db/samples/images/solidus_tshirt_white.png
  sample/db/samples/images/tote_bag_ruby.jpg
  sample/db/samples/images/tote_bag_solidus.jpg
  sample/db/samples/option_values.rb
  sample/db/samples/orders.rb
  sample/db/samples/product_option_types.rb
  sample/db/samples/product_properties.rb
  sample/db/samples/products.rb
  sample/db/samples/taxons.rb
  sample/db/samples/variants.rb
Labels: Important Change

#3266 Document security policy location
  SECURITY.md
Labels: Code Review Needed

#3312 Lock js-yaml and debug packages versions in guides
  guides/package.json
  guides/yarn.lock
Labels: Documentation

#3316 Added empty cart button in admin cart
  backend/app/assets/javascripts/spree/backend/models/order.js
  backend/app/assets/javascripts/spree/backend/orders/cart.js
  backend/app/assets/javascripts/spree/backend/views/cart/empty_cart_button.js
  backend/app/assets/javascripts/spree/backend/views/cart/line_item_table.js
  backend/app/assets/javascripts/spree/backend/views/index.js
  backend/app/views/spree/admin/orders/_line_items_edit_form.html.erb
  backend/spec/features/admin/orders/order_details_spec.rb
Labels: Admin

#3317 Bump/Lock a couple of npm libraries in /guides
  guides/package.json
  guides/yarn.lock
Labels: Documentation
