Repository solidusio/solidus, pull requests merged in 2020-05, with the labels that each got.

#3594 Bump required Ruby version to 2.5
  api/solidus_api.gemspec
  backend/solidus_backend.gemspec
  core/solidus_core.gemspec
  frontend/solidus_frontend.gemspec
  sample/solidus_sample.gemspec
  solidus.gemspec
Labels: Important Change

#3603 Refactoring Admin::ProductsController to use ResourcesController#update
  backend/app/controllers/spree/admin/products_controller.rb
Labels: Important Change, Solidus Admin

#3553 Add order_recalculated event
  core/app/models/spree/order.rb
  core/app/models/spree/order_updater.rb
  core/spec/models/spree/order_spec.rb
  core/spec/models/spree/order_updater_spec.rb
  guides/source/developers/events/overview.html.md
Labels: Events

#3617 Fix in_taxons scope when taxon is an ActiveRecord::Base
  core/app/models/spree/product/scopes.rb
Labels: Bug, Needs Backport, Needs Core Team Review

#3621 Allow to configure guest_token cookie options
  core/lib/spree/app_configuration.rb
  core/lib/spree/core/controller_helpers/auth.rb
  core/spec/lib/spree/core/controller_helpers/auth_spec.rb
Labels: Solidus Core

#3622 Revert "API uploads images via URL" (#3573)
  api/app/controllers/spree/api/images_controller.rb
  api/openapi/solidus-api.oas.yml
  api/spec/requests/spree/api/images_controller_spec.rb
Labels: Solidus API

#3577 Making simple coordinator insufficient stock to include a message
  core/app/models/spree/order.rb
  core/app/models/spree/stock/simple_coordinator.rb
  core/spec/models/spree/stock/simple_coordinator_spec.rb
Labels: Needs Core Team Review

#3563 Uniform bill_address and ship_address behaviour in Spree::UserAddressBook module
  core/app/models/concerns/spree/user_address_book.rb
  core/app/models/spree/order.rb
  core/app/models/spree/user_address.rb
  core/db/migrate/20200320144521_add_default_billng_flag_to_user_addresses.rb
  core/spec/models/spree/concerns/user_address_book_spec.rb
  core/spec/models/spree/order/checkout_spec.rb
  core/spec/models/spree/user_address_spec.rb
Labels: Important Change

#3640 Make Order#shipping_discount consider only credits
  core/app/models/spree/order.rb
  core/spec/models/spree/order_spec.rb
Labels: Bug, Important Change, Solidus Core

#3641 Stop calling perform! as Spree::Refund after_create callback
  backend/app/controllers/spree/admin/refunds_controller.rb
  backend/spec/controllers/spree/admin/refunds_controller_spec.rb
  core/app/models/spree/payment/cancellation.rb
  core/app/models/spree/refund.rb
  core/app/models/spree/reimbursement_type/reimbursement_helpers.rb
  core/lib/spree/testing_support/factories/refund_factory.rb
  core/spec/models/spree/order_spec.rb
  core/spec/models/spree/payment/cancellation_spec.rb
  core/spec/models/spree/refund_spec.rb
Labels: Enhancement, Needs Core Team Review, Solidus Core
