Repository solidusio/solidus, pull requests merged in 2020-01, with the labels that each got.

#3466 Update Solidus events guide
  guides/source/developers/events/overview.html.md
Labels: Documentation

#3454 Add v2.10 CHANGELOG entries
  CHANGELOG.md
Labels: Documentation

#3328 Remove Rails 5.1 support
  core/lib/spree/testing_support/dummy_app/rake_tasks.rb
  core/solidus_core.gemspec
Labels: Code Review Needed

#3458 Add name to Spree::Address
  api/spec/requests/spree/api/orders_controller_spec.rb
  backend/app/views/spree/admin/shared/_address.html.erb
  backend/spec/controllers/spree/admin/search_controller_spec.rb
  core/app/models/spree/address.rb
  core/app/models/spree/address/name.rb
  core/app/models/spree/credit_card.rb
  core/app/models/spree/order.rb
  core/spec/lib/spree/core/importer/order_spec.rb
  core/spec/models/spree/address/name_spec.rb
  core/spec/models/spree/address_spec.rb
  core/spec/models/spree/concerns/user_address_book_spec.rb
  core/spec/models/spree/credit_card_spec.rb
  core/spec/models/spree/order_spec.rb
  frontend/app/views/spree/checkout/payment/_gateway.html.erb
  frontend/app/views/spree/shared/_address.html.erb
  frontend/spec/features/checkout_spec.rb
  sample/db/samples/addresses.rb
Labels: Code Review Needed

#3479 Preparation for v2.11
  CHANGELOG.md
  core/lib/spree/core/version.rb
Labels: Code Review Needed, Documentation

#3456 Deprecate raising an exception when order and line item currencies mismatch
  api/spec/requests/spree/api/orders_controller_spec.rb
  core/app/models/spree/line_item.rb
  core/config/locales/en.yml
  core/lib/generators/spree/install/templates/config/initializers/spree.rb.tt
  core/lib/spree/app_configuration.rb
  core/lib/spree/core/engine.rb
  core/lib/spree/testing_support/dummy_app.rb
  core/spec/models/spree/line_item_spec.rb
Labels: Code Review Needed, Enhancement

#3442 Use RESTful routing for users' API key management
  api/config/routes.rb
  backend/app/controllers/spree/admin/users/api_key_controller.rb
  backend/app/controllers/spree/admin/users_controller.rb
  backend/app/views/spree/admin/users/edit.html.erb
  backend/spec/controllers/spree/admin/users/api_key_controller_spec.rb
  backend/spec/controllers/spree/admin/users_controller_spec.rb
  core/lib/spree/permission_sets/user_management.rb
Labels: Admin, Code Review Needed

#3368 Guides (API): Some additional API token info
  api/openapi/authentication.md
Labels: Code Review Needed

#3490 [Admin] Change shipment email checkbox label
  backend/spec/features/admin/orders/shipments_spec.rb
  core/config/locales/en.yml
Labels: Admin, Enhancement

#3499 Api: move address books specs in the right folder
  api/spec/requests/spree/api/address_books_spec.rb
Labels: API, Enhancement
