Repository solidusio/solidus, pull requests merged in 2020-02, with the labels that each got.

#3485 Reintroduce and deprecate Order#deliver_order_confirmation_email
  core/app/models/spree/order.rb
Labels: Code Review Needed, Need Backport

#3495 Improve sample data for the returned/reimbursed order
  sample/db/samples/reimbursements.rb
Labels: Code Review Needed, Documentation, Enhancement

#3505 Remove conditional code that targets Rails 5.1
  core/lib/spree/core.rb
  core/lib/spree/testing_support/dummy_app.rb
  core/lib/spree/testing_support/dummy_app/migrations.rb
Labels: Enhancement

#3487 Fix stock configuration examples in documentation
  guides/source/developers/shipments/stock-allocator.html.md
  guides/source/developers/shipments/stock-locations-filter.html.md
  guides/source/developers/shipments/stock-locations-sorter.html.md
Labels: Code Review Needed

#3508 Only log basic response information
  core/app/models/spree/payment/processing.rb
  core/spec/models/spree/payment_spec.rb
Labels: Important Change

#3522 [Guides] Improve extensions pages
  guides/source/developers/extensions/installing-extensions.html.md
  guides/source/developers/extensions/testing-extensions.html.md
  guides/source/developers/extensions/writing-extensions.html.md
  guides/source/developers/getting-started/develop-solidus.html.md
Labels: Documentation

#3519 Replace `Spree::Event#name_with_suffix` with `adapter#normalize_name`
  core/lib/spree/event.rb
  core/lib/spree/event/adapters/active_support_notifications.rb
  core/spec/lib/spree/event/adapters/active_support_notifications_spec.rb
  core/spec/lib/spree/event_spec.rb
Labels: Enhancement

#3482 Remove user address reference when removing address from the address
  core/app/models/concerns/spree/user_address_book.rb
  core/spec/models/spree/concerns/user_address_book_spec.rb
Labels: Code Review Needed
