Repository solidusio/solidus, pull requests merged in 2020-06, with the labels that each got.

#3643 [guides] Fix awesome nested set gem link
  guides/source/developers/products-and-variants/taxonomies-and-taxons.html.md
Labels: Documentation

#3645 Add ability to run validations in order updater
  core/app/models/spree/order_merger.rb
  core/app/models/spree/order_updater.rb
  core/lib/generators/solidus/install/templates/config/initializers/spree.rb.tt
  core/lib/spree/app_configuration.rb
  core/lib/spree/core/engine.rb
  core/lib/spree/testing_support/dummy_app.rb
  core/spec/models/spree/order/checkout_spec.rb
  core/spec/models/spree/order_contents_spec.rb
  core/spec/models/spree/order_updater_spec.rb
  core/spec/models/spree/promotion_handler/coupon_spec.rb
  frontend/app/controllers/spree/orders_controller.rb
Labels: Important Change, Solidus Core

#3624 Admin UI for shipping methods - stock locations association
  backend/app/assets/javascripts/spree/backend.js
  backend/app/assets/javascripts/spree/backend/shipping_methods/stock_locations_picker.js
  backend/app/views/spree/admin/shipping_methods/_form.html.erb
  core/config/locales/en.yml
Labels: Important Change, Solidus Admin

#3558 Add support for prefill user address in new order
  backend/app/controllers/spree/admin/orders_controller.rb
  backend/spec/controllers/spree/admin/orders_controller_spec.rb
  backend/spec/features/admin/users_spec.rb
Labels: Enhancement, Needs Core Team Review, Solidus Admin

#3654 [Backend] More precise cancan validations for some resource links
  backend/app/views/spree/admin/images/index.html.erb
  backend/app/views/spree/admin/orders/index.html.erb
  backend/app/views/spree/admin/payments/index.html.erb
  backend/app/views/spree/admin/return_authorizations/index.html.erb
  backend/app/views/spree/admin/users/items.html.erb
  backend/app/views/spree/admin/users/orders.html.erb
  backend/spec/features/admin/orders/listing_spec.rb
  backend/spec/features/admin/orders/payments_spec.rb
  backend/spec/features/admin/orders/return_authorizations_spec.rb
  backend/spec/features/admin/products/edit/images_spec.rb
  backend/spec/features/admin/users_spec.rb
Labels: Enhancement

#3658 Allow to specify if billing address is required for orders
  core/app/models/spree/order.rb
  core/app/models/spree/order/checkout.rb
  core/config/locales/en.yml
  core/lib/spree/app_configuration.rb
  core/spec/models/spree/order/checkout_spec.rb
Labels: Solidus Core

#3672 Add Refund#perform_response and reintroduce @response ivar
  core/app/models/spree/refund.rb
  core/spec/models/spree/refund_spec.rb
Labels: Solidus Core

#3662 Cancel authorized (pending) payments when cancelling an order (cont.)
  core/app/models/spree/order.rb
  core/spec/models/spree/order_spec.rb
Labels: Solidus Core

#3543 Replace ActiveJob::TestHelper with own module.
  api/spec/spec_helper.rb
  backend/spec/spec_helper.rb
  core/lib/spree/testing_support/job_helpers.rb
  core/spec/rails_helper.rb
Labels: Needs Core Team Decision, Solidus Core

#3579 Add API endpoint for customer returns
  api/app/controllers/spree/api/customer_returns_controller.rb
  api/app/helpers/spree/api/api_helpers.rb
  api/app/views/spree/api/customer_returns/index.json.jbuilder
  api/app/views/spree/api/customer_returns/new.json.jbuilder
  api/app/views/spree/api/customer_returns/show.json.jbuilder
  api/config/routes.rb
  api/openapi/solidus-api.oas.yml
  api/spec/requests/spree/api/customer_returns_controller_spec.rb
  core/app/models/spree/customer_return.rb
  core/app/models/spree/order.rb
Labels: Enhancement, Needs Core Team Review, Solidus API

#3673 Display originator email in stock movement admin
  backend/app/helpers/spree/admin/stock_movements_helper.rb
  backend/spec/helpers/admin/stock_movements_helper_spec.rb
Labels: Solidus Admin, UI

#3655 Allow Importer::Order to accept array of line items and stock_location_id
  core/lib/spree/core/importer/order.rb
  core/spec/lib/spree/core/importer/order_spec.rb
Labels: Solidus Core

#3592 Unified Handling of Option Values and Product Properties List
  backend/app/assets/javascripts/spree/backend/admin.js
  backend/app/controllers/spree/admin/product_properties_controller.rb
  backend/app/helpers/spree/admin/base_helper.rb
  backend/app/views/spree/admin/option_types/_option_value_fields.html.erb
  backend/app/views/spree/admin/product_properties/_product_property_fields.html.erb
  backend/spec/features/admin/products/option_types_spec.rb
  backend/spec/features/admin/products/properties_spec.rb
Labels: Solidus Admin, UI

#3571 [Events] Add subscribers automatically
  core/lib/spree/core/engine.rb
  core/lib/spree/event.rb
  core/lib/spree/event/configuration.rb
  core/lib/spree/event/subscriber.rb
  core/spec/lib/spree/event_spec.rb
  guides/source/developers/events/overview.html.md
Labels: Events
