Repository solidusio/solidus, pull requests merged in 2020-10, with the labels that each got.

#3783 Show the admin/settings menu for any of its elements
  backend/lib/spree/backend_configuration.rb
  backend/spec/features/admin/homepage_spec.rb
  backend/spec/lib/spree/backend_configuration_spec.rb
Labels: Needs Core Team Review

#3787 Replace with :all_adjustments.nonzero.any?
  frontend/app/views/spree/orders/_form.html.erb
Labels: Solidus Frontend

#3786 Update backend New Image link for consistency
  backend/app/views/spree/admin/images/index.html.erb
Labels: Needs Core Team Review

#3722 Fix Italy state seed generation
  core/db/default/spree/states.rb
  core/lib/spree/app_configuration.rb
Labels: Needs Work

#3749 Do not consider promotions without actions as active
  backend/spec/controllers/spree/admin/promotions_controller_spec.rb
  backend/spec/features/admin/promotions/promotion_spec.rb
  core/app/models/spree/promotion.rb
  core/app/models/spree/promotion_handler/coupon.rb
  core/lib/generators/solidus/install/templates/config/initializers/spree.rb.tt
  core/lib/spree/app_configuration.rb
  core/lib/spree/core/engine.rb
  core/lib/spree/testing_support/dummy_app.rb
  core/lib/spree/testing_support/factories/promotion_factory.rb
  core/spec/models/spree/product_spec.rb
  core/spec/models/spree/promotion_spec.rb
Labels: Needs Core Team Review, Solidus Core

#3129 Refactor address state validation
  core/app/models/spree/address.rb
  core/app/models/spree/address/state_validator.rb
  core/lib/generators/solidus/install/templates/config/initializers/spree.rb.tt
  core/lib/spree/app_configuration.rb
  core/lib/spree/core/engine.rb
  core/lib/spree/testing_support/dummy_app.rb
  core/spec/models/spree/address/state_validator_spec.rb
  core/spec/models/spree/address_spec.rb
  core/spec/models/spree/credit_card_spec.rb
Labels: Needs Core Team Review, Solidus Core

#3790 Add missing space to deprecation message
  core/lib/spree/core/state_machines.rb
Labels: Needs Core Team Review

#3768 TaxHelpers#rates_for_item now respects the validity period of tax rates
  core/app/models/spree/tax/tax_helpers.rb
  core/app/models/spree/tax_rate.rb
  core/spec/models/spree/tax/tax_helpers_spec.rb
  core/spec/models/spree/tax_rate_spec.rb
Labels: Needs Core Team Review

#3704 Selectively disable stock item rows when some do not track inventory
  backend/app/assets/javascripts/spree/backend/stock_management.js
  backend/app/controllers/spree/admin/stock_items_controller.rb
  backend/spec/features/admin/products/stock_management_spec.rb
Labels: Needs Core Team Review

#3758 Change internal mapping for event subscriber registrations
  core/lib/spree/core/engine.rb
  core/lib/spree/event.rb
  core/lib/spree/event/configuration.rb
  core/lib/spree/event/subscriber.rb
  core/lib/spree/event/subscriber_registry.rb
  core/lib/spree/testing_support/preferences.rb
  core/spec/lib/spree/event/subscriber_registry_spec.rb
  core/spec/lib/spree/event/subscriber_spec.rb
  core/spec/lib/spree/event_spec.rb
  core/spec/models/spree/order_spec.rb
Labels: Needs Core Team Review, Solidus Core

#3507 Fix reimbursement_category_name ending up in a translation missing error
  core/app/models/spree/reimbursement.rb
  core/app/models/spree/reimbursement_type/reimbursement_helpers.rb
  core/app/models/spree/store_credit_category.rb
  core/db/default/spree/store_credit.rb
  core/lib/generators/solidus/install/templates/config/initializers/spree.rb.tt
  core/lib/spree/app_configuration.rb
  core/lib/spree/testing_support/dummy_app.rb
  core/lib/spree/testing_support/factories/store_credit_category_factory.rb
  core/spec/models/spree/reimbursement_spec.rb
  core/spec/models/spree/reimbursement_type/store_credit_spec.rb
  core/spec/models/spree/store_credit_category_spec.rb
Labels: Needs Core Team Review
