Repository solidusio/solidus, pull requests merged in 2020-09, with the labels that each got.

#3770 Fix typo in comment in navigation_helper.rb
  backend/app/helpers/spree/admin/navigation_helper.rb
Labels: Needs Core Team Review

#3763 Fix address validation having a country w/o states
  core/app/models/spree/address.rb
  core/spec/models/spree/address_spec.rb
Labels: Needs Core Team Review

#3598 Remove a N+1 query on shipment model
  core/app/models/spree/shipment.rb
Labels: Needs Work, Solidus Core

#3779 Add link to stock movements page from variant stock display
  backend/app/assets/javascripts/spree/backend/stock_management.js
  backend/app/assets/javascripts/spree/backend/templates/stock_items/stock_location_stock_item.hbs
  backend/app/assets/javascripts/spree/backend/views/stock/edit_stock_item_row.js
  backend/app/views/spree/admin/stock_items/_stock_management.html.erb
  backend/spec/features/admin/products/stock_management_spec.rb
Labels: Needs Core Team Review

#3780 Make spelling of 'email' consistent
  backend/spec/features/admin/orders/customer_details_spec.rb
  backend/spec/features/admin/orders/new_order_spec.rb
  core/config/locales/en.yml
  frontend/spec/features/checkout_spec.rb
  frontend/spec/features/first_order_promotion_spec.rb
Labels: Needs Core Team Review

#3772 Make admin order event_links translatable
  backend/app/helpers/spree/admin/orders_helper.rb
  backend/spec/helpers/admin/orders_helper_spec.rb
  core/config/locales/en.yml
Labels: Solidus Admin, UI

#3767 Make order customer email links consistent
  backend/app/views/spree/admin/orders/index.html.erb
  core/config/locales/en.yml
Labels: Needs Core Team Review
