Repository solidusio/solidus, pull requests merged in 2020-11, with the labels that each got.

#3824 Move "thinking cat" fixture to lib folder
  api/lib/spree/api/testing_support/helpers.rb
  api/spec/fixtures/thinking-cat.jpg
  api/spec/requests/spree/api/images_controller_spec.rb
  api/spec/requests/spree/api/orders_controller_spec.rb
  api/spec/requests/spree/api/products_controller_spec.rb
  api/spec/requests/spree/api/variants_controller_spec.rb
  core/lib/spree/testing_support/factories/image_factory.rb
  core/lib/spree/testing_support/factories/taxon_factory.rb
  core/lib/spree/testing_support/fixtures/blank.jpg
  core/spec/fixtures/thinking-cat.jpg
  core/spec/models/spree/image_spec.rb
  core/spec/models/spree/product_duplicator_spec.rb
  core/spec/models/spree/product_spec.rb
  core/spec/support/shared_examples/attachment.rb
  frontend/spec/features/products_spec.rb
  frontend/spec/fixtures/thinking-cat.jpg
Labels: Needs Backport

#3825 Update install instructions after 2.11 release
  README.md
  guides/source/developers/getting-started/first-time-installation.html.md
Labels: Documentation

#3832 Lock Rails version to < 6.1.x
  core/solidus_core.gemspec
Labels: Bug, Needs Backport

#3831 Fix ability to perform refunds after a first failed attempt
  backend/app/controllers/spree/admin/refunds_controller.rb
  backend/spec/controllers/spree/admin/refunds_controller_spec.rb
  core/app/models/spree/refund.rb
Labels: Bug, Needs Backport, Solidus Admin

#3810 Fix reassign image to another variant in admin
  api/app/controllers/spree/api/images_controller.rb
  backend/spec/features/admin/products/edit/images_spec.rb
Labels: Bug, Needs Backport, Solidus Admin

#3805 Remove seeds for images associated to master variant
  sample/db/samples/assets.rb
Labels: Needs Backport

#3843 Check for edit permission when showing store credit edit link
  backend/app/views/spree/admin/store_credits/index.html.erb
Labels: Needs Backport, Solidus Admin

#3841 Remove deprecated cancan abilities
  backend/app/views/spree/admin/products/index.html.erb
Labels: Bug, Needs Backport

#3840 Fix permissions to see admin menu items
  backend/app/views/spree/admin/shared/_settings_sub_menu.html.erb
  backend/lib/spree/backend_configuration.rb
  backend/spec/features/admin/homepage_spec.rb
Labels: Bug, Needs Backport, Solidus Admin

#3839 Avoid asking user to run migration creating the sandbox
  bin/sandbox
Labels: Needs Backport

#3478 Only require the necessary Rails frameworks
  backend/lib/spree/backend.rb
  backend/spec/lib/spree/backend_spec.rb
  core/lib/spree/core.rb
  core/lib/spree/testing_support/dummy_app.rb
  core/spec/lib/spree/core_spec.rb
  core/spec/lib/spree/event/subscriber_spec.rb
  frontend/lib/spree/frontend.rb
  frontend/spec/lib/spree/frontend_spec.rb
Labels: Needs Backport

#3850 Remove all usage of FooAbility and BarAbility when testing abilities
  core/spec/models/spree/ability_spec.rb
Labels: Needs Backport, Solidus Core

#3849 Rename all occurrences of emails with spree username to solidus
  api/lib/spree/api/testing_support/helpers.rb
  api/spec/requests/spree/api/checkouts_controller_spec.rb
  api/spec/requests/spree/api/coupon_codes_controller_spec.rb
  api/spec/requests/spree/api/orders_controller_spec.rb
  api/spec/requests/spree/api/stores_controller_spec.rb
  api/spec/requests/spree/api/users_controller_spec.rb
  backend/spec/features/admin/configuration/store_spec.rb
  core/lib/generators/spree/dummy/templates/rails/test.rb
  core/lib/spree/app_configuration.rb
  core/lib/spree/testing_support/factories/store_factory.rb
  core/lib/spree/testing_support/order_walkthrough.rb
  core/lib/tasks/email.rake
  core/spec/models/spree/order/checkout_spec.rb
  core/spec/models/spree/order_merger_spec.rb
  core/spec/models/spree/order_spec.rb
  core/spec/models/spree/promotion/rules/first_order_spec.rb
  core/spec/models/spree/reimbursement_type/store_credit_spec.rb
  frontend/spec/features/checkout_spec.rb
  frontend/spec/features/coupon_code_spec.rb
  frontend/spec/features/free_shipping_promotions_spec.rb
  sample/db/samples/orders.rb
Labels: Needs Backport

#3845 Fix use_legacy_address_state_validator deprecation message
  core/lib/spree/core/engine.rb
Labels: Needs Backport
