Repository solidusio/solidus, pull requests merged in 2020-07, with the labels that each got.

#3520 Rescue state machine exception from api base controller
  api/app/controllers/spree/api/base_controller.rb
  api/app/controllers/spree/api/checkouts_controller.rb
  api/app/views/spree/api/errors/could_not_transition.json.jbuilder
  api/app/views/spree/api/orders/could_not_transition.json.jbuilder
  api/config/locales/en.yml
  api/spec/requests/spree/api/checkouts_controller_spec.rb
  api/spec/requests/spree/api/orders_controller_spec.rb
  api/spec/views/spree/api/orders/could_not_transition.json.jbuilder_spec.rb
Labels: Important Change, Solidus API

#3542 Configurable order state machine and reduce the number of possible transitions
  core/app/models/spree/order.rb
  core/lib/generators/solidus/install/templates/config/initializers/spree.rb.tt
  core/lib/spree/app_configuration.rb
  core/lib/spree/core/state_machines.rb
  core/lib/spree/core/state_machines/order.rb
  core/lib/spree/testing_support/dummy_app.rb
Labels: Enhancement, Important Change, Needs Core Team Decision

#3674 Return API Users with distinct result when using Ransack
  api/app/controllers/spree/api/users_controller.rb
  api/spec/requests/spree/api/users_controller_spec.rb
Labels: Needs Core Team Review, Solidus API

#3565 Add ability to select multiple rows on Admin Tables
  backend/app/assets/javascripts/spree/backend.js
  backend/app/assets/javascripts/spree/backend/components/selectable_table.js
  backend/app/assets/javascripts/spree/backend/components/selectable_table/return_items.js
  backend/app/assets/javascripts/spree/backend/components/selectable_table/summary.js
  backend/app/assets/javascripts/spree/backend/returns/return_item_selection.js
  backend/app/assets/javascripts/spree/backend/templates/index.js
  backend/app/assets/javascripts/spree/backend/templates/tables/return_item_sum_amount.hbs
  backend/app/assets/javascripts/spree/backend/templates/tables/selectable_label.hbs
  backend/app/assets/javascripts/spree/backend/views/index.js
  backend/app/assets/javascripts/spree/backend/views/tables/return_items.js
  backend/app/assets/javascripts/spree/backend/views/tables/selectable_table.js
  backend/app/assets/javascripts/spree/backend/views/tables/selectable_table/sum_return_item_amount.js
  backend/app/assets/javascripts/spree/backend/views/tables/selectable_table/summary.js
  backend/app/assets/stylesheets/spree/backend/sections/_style_guide.scss
  backend/app/views/spree/admin/customer_returns/_return_item_selection.html.erb
  backend/app/views/spree/admin/return_authorizations/_form.html.erb
  backend/app/views/spree/admin/style_guide/topics/tables/_building_tables.html.erb
  backend/spec/features/admin/orders/return_authorizations_spec.rb
  core/config/locales/en.yml
Labels: Solidus Admin, UI
