Repository solidusio/solidus, pull requests merged in 2020-03, with the labels that each got.

#3531 Replace wrong key and add parameters in product taxons endpoint doc
  api/openapi/api.oas2.yml
Labels: API, Code Review Needed

#3530 Replace http method in api doc
  api/openapi/api.oas2.yml
Labels: API, Code Review Needed

#3528 [API] Add bang method when finding product property
  api/app/controllers/spree/api/product_properties_controller.rb
  api/spec/requests/spree/api/product_properties_controller_spec.rb
Labels: API, Code Review Needed, Important Change

#3483 Fix order state with customer returns when receiving return items
  backend/app/controllers/spree/admin/customer_returns_controller.rb
  backend/spec/controllers/spree/admin/return_items_controller_spec.rb
  backend/spec/features/admin/orders/customer_returns_spec.rb
  core/app/models/spree/order.rb
  core/app/models/spree/return_item.rb
  core/lib/spree/core/state_machines/return_item/reception_status.rb
  core/lib/spree/testing_support/factories/return_item_factory.rb
  core/spec/models/spree/order_spec.rb
  core/spec/models/spree/return_item_spec.rb
  sample/db/samples/reimbursements.rb
Labels: Code Review Needed

#3545 Simplify Solidus installation steps
  README.md
  bin/rails-application-template
  bin/sandbox
  core/lib/generators/solidus/install/install_generator.rb
  core/lib/spree/testing_support/common_rake.rb
  guides/source/developers/getting-started/develop-solidus.html.md
  guides/source/developers/getting-started/first-time-installation.html.md
  guides/source/developers/getting-started/installation-options.html.md
Labels: Documentation

#3512 Allow multiple events subscription with regexp
  core/lib/spree/event.rb
  core/lib/spree/event/adapters/active_support_notifications.rb
  core/spec/lib/spree/event/adapters/active_support_notifications_spec.rb
  core/spec/lib/spree/event_spec.rb
  guides/source/developers/events/overview.html.md
Labels: Code Review Needed, Enhancement

#3197 Fix issue 3164 - generate shipments for backend-added products when necessary
  backend/spec/features/admin/orders/order_details_spec.rb
  core/app/models/spree/order.rb
  core/app/models/spree/order_inventory.rb
  core/app/models/spree/stock/inventory_unit_builder.rb
  core/spec/models/spree/order_inventory_spec.rb
  core/spec/models/spree/order_spec.rb
  core/spec/models/spree/stock/inventory_unit_builder_spec.rb
Labels: Code Review Needed, Important Change

#3549 Fix install generator auth option in common rake tasks
  core/lib/spree/testing_support/common_rake.rb
Labels: Bug, Code Review Needed

#3557 Add CircleCI job to run tests against Rails master
  .circleci/config.yml
Labels: Code Review Needed

#3540 [Guides] Add System Requirements page
  guides/data/nav/developers.yml
  guides/source/developers/getting-started/first-time-installation.html.md
  guides/source/developers/getting-started/system-requirements.html.md
Labels: Documentation

#3547 replace link_to_add_fields usage and deprecate helper function
  backend/app/helpers/spree/admin/base_helper.rb
  backend/app/views/spree/admin/option_types/edit.html.erb
  backend/app/views/spree/admin/product_properties/index.html.erb
  backend/spec/features/admin/products/option_types_spec.rb
Labels: Code Review Needed

#3562 Show v2.10 install instructions along with new ones
  README.md
  guides/source/developers/getting-started/first-time-installation.html.md
  guides/source/developers/getting-started/installation-options.html.md
Labels: Documentation

#3529 Remove code from Spree::Api::PromotionsController
  api/app/controllers/spree/api/promotions_controller.rb
Labels: API

#3548 Build default address with an existing method in checkout address
  frontend/app/controllers/spree/checkout_controller.rb
Labels: Frontend

#3555 DRY paranoia and discard inclusion into models
  core/app/models/concerns/spree/soft_deletable.rb
  core/app/models/spree/payment_method.rb
  core/app/models/spree/price.rb
  core/app/models/spree/product.rb
  core/app/models/spree/promotion_action.rb
  core/app/models/spree/shipping_method.rb
  core/app/models/spree/stock_item.rb
  core/app/models/spree/store_credit.rb
  core/app/models/spree/store_credit_event.rb
  core/app/models/spree/tax_category.rb
  core/app/models/spree/tax_rate.rb
  core/app/models/spree/variant.rb
  core/lib/spree/paranoia_deprecations.rb
  core/spec/models/spree/concerns/soft_deletable_spec.rb
  core/spec/models/spree/order_merger_spec.rb
  core/spec/models/spree/product_spec.rb
  core/spec/models/spree/variant_spec.rb
Labels: Internal
