Repository solidusio/solidus, pull requests merged in 2021-01, with the labels that each got.

#3865 Update canonical-rails syntax for latest version
  frontend/config/initializers/canonical_rails.rb
  frontend/solidus_frontend.gemspec
Labels: Needs Backport

#3869 Update taxon icon to use present instead of exists
  backend/app/views/spree/admin/taxons/attachment_forms/_paperclip.html.erb
Labels: Needs Backport

#3862 Add Rails 6.1 support
  api/app/controllers/spree/api/base_controller.rb
  backend/spec/helpers/admin/navigation_helper_spec.rb
  core/app/models/spree/base.rb
  core/app/models/spree/product/scopes.rb
  core/solidus_core.gemspec
  core/spec/helpers/base_helper_spec.rb
  core/spec/models/spree/promotion_spec.rb
Labels: Needs Backport, Needs Core Team Review

#3885 Adjust CircleCI config to reflect Rails versions that we support
  .circleci/config.yml
  Gemfile
Labels: Needs Backport, Needs Core Team Review

#3893 Remove awesome_nested_set override for Rails 6.1 compatibility
  core/lib/spree/awesome_nested_set_override.rb
  core/lib/spree/core.rb
  core/solidus_core.gemspec
Labels: Needs Backport

#3910 Show 'guest' correctly in order customer details
  backend/app/views/spree/admin/orders/customer_details/show.html.erb
Labels: Needs Backport

#3904 [Admin] Automatically check edited return items in RMA form
  backend/app/assets/javascripts/spree/backend/views/tables/return_items.js
  backend/spec/features/admin/orders/return_authorizations_spec.rb
Labels: Needs Backport, Solidus Admin

#3901 Fix ActionMailer preview loading
  core/lib/spree/core/engine.rb
  core/lib/spree/testing_support/dummy_app.rb
  core/lib/spree/testing_support/dummy_app/mailer_previews/test_mailer_preview.rb
  core/spec/lib/spree/core/engine_spec.rb
Labels: Needs Backport, Solidus Core

#3899 Convert jQuery data attribute to number
  backend/app/assets/javascripts/spree/backend/views/tables/selectable_table/sum_return_item_amount.js
Labels: Bug, Needs Backport, Solidus Admin

#3488 Discard Paranoia
  api/spec/requests/spree/api/checkouts_controller_spec.rb
  backend/app/controllers/spree/admin/resource_controller.rb
  core/app/models/concerns/spree/soft_deletable.rb
  core/app/models/spree/product.rb
  core/app/models/spree/variant.rb
  core/lib/spree/core.rb
  core/lib/spree/paranoia_deprecations.rb
  core/solidus_core.gemspec
  core/spec/models/spree/concerns/soft_deletable_spec.rb
  core/spec/models/spree/customer_return_spec.rb
  core/spec/models/spree/exchange_spec.rb
  core/spec/models/spree/order_inventory_spec.rb
  core/spec/models/spree/order_merger_spec.rb
  core/spec/models/spree/promotion/actions/create_adjustment_spec.rb
  core/spec/models/spree/promotion/actions/create_item_adjustments_spec.rb
  core/spec/models/spree/return_item_spec.rb
  core/spec/models/spree/stock/availability_spec.rb
  core/spec/models/spree/stock/estimator_spec.rb
  core/spec/models/spree/stock/simple_coordinator_spec.rb
  core/spec/models/spree/stock_location_spec.rb
  core/spec/models/spree/variant/vat_price_generator_spec.rb
  core/spec/models/spree/variant_spec.rb
  frontend/spec/features/checkout_spec.rb
Labels: Hold
