Repository solidusio/solidus, pull requests merged in 2021-09, with the labels that each got.

#4148 Fix displaying of discarded variants in admin
  backend/app/views/spree/admin/variants/_table_filter.html.erb
  backend/app/views/spree/admin/variants/index.html.erb
  backend/spec/features/admin/products/variant_spec.rb
Labels: Bug, Solidus Admin

#4147 Fix small typo in the 'customizing permissions' guide
  guides/source/developers/customizations/customizing-permissions.html.md
Labels: Documentation

#3987 Do not allow prices with nil amount
  core/app/models/spree/price.rb
  core/db/migrate/20210312061050_change_column_null_on_prices.rb
  core/lib/tasks/migrations/delete_prices_with_nil_amount.rake
  core/lib/tasks/upgrade.rake
  core/spec/lib/tasks/migrations/delete_prices_with_nil_amount_spec.rb
  core/spec/models/spree/price_spec.rb
Labels: Solidus Core

#4164 Fix searching deleted products by SKU
  backend/app/assets/javascripts/spree/backend.js
  backend/app/assets/javascripts/spree/backend/namespaces.js
  backend/app/assets/javascripts/spree/backend/products/index.js
  backend/app/assets/javascripts/spree/backend/views/index.js
  backend/app/assets/javascripts/spree/backend/views/product/search.js
  backend/app/views/spree/admin/products/index.html.erb
  backend/spec/features/admin/products/products_spec.rb
  core/app/models/spree/product.rb
  core/app/models/spree/product/scopes.rb
  core/spec/models/spree/product/scopes_spec.rb
Labels: Bug, Solidus Admin

#4170 Add deprecation path for arity-zero preference defaults
  core/lib/spree/preferences/preferable_class_methods.rb
  core/spec/models/spree/preferences/configuration_spec.rb
Labels: Needs Backport

#4130 Introduce new EventBus adapter
  core/lib/spree/event.rb
  core/lib/spree/event/adapters/active_support_notifications.rb
  core/lib/spree/event/adapters/default.rb
  core/lib/spree/event/configuration.rb
  core/lib/spree/event/event.rb
  core/lib/spree/event/listener.rb
  core/lib/spree/testing_support/dummy_app.rb
  core/spec/lib/spree/app_configuration_spec.rb
  core/spec/lib/spree/event/adapters/active_support_notifications_spec.rb
  core/spec/lib/spree/event/adapters/default_spec.rb
  core/spec/lib/spree/event/listener_spec.rb
  core/spec/lib/spree/event_spec.rb
Labels: Needs Core Team Review, Hold
