Repository solidusio/solidus, pull requests merged in 2021-05, with the labels that each got.

#4039 Moving API attribute helpers to API config
  api/app/helpers/spree/api/api_helpers.rb
  api/lib/spree/api_configuration.rb
  api/spec/helpers/api_helpers_spec.rb
  api/spec/requests/spree/api/products_controller_spec.rb
  api/spec/requests/spree/api/promotions_controller_spec.rb
  api/spec/requests/spree/api/variants_controller_spec.rb
Labels: Important Change, Solidus API

#3979 Improve Customizing Attributes documentation
  guides/source/developers/customizations/customizing-attributes.html.md
Labels: Documentation

#3431 Improve the extensibility of Rules::ItemTotal
  backend/app/views/spree/admin/promotions/rules/_item_total.html.erb
  core/app/models/spree/promotion/rules/item_total.rb
  core/config/locales/en.yml
Labels: Solidus Core

#4048 Use symbols in polymorphic path for event_links
  backend/app/controllers/spree/admin/resource_controller.rb
  backend/app/helpers/spree/admin/orders_helper.rb
Labels: Needs Backport, Solidus Core

#4061 Fix "Cancel" URL link on reimbursement edit page
  backend/app/views/spree/admin/reimbursements/edit.html.erb
Labels: Bug

#3996 [ADMIN] Properly format flash error message
  backend/app/controllers/spree/admin/orders_controller.rb
  backend/spec/controllers/spree/admin/orders_controller_spec.rb
Labels: Bug

#4077 Fix detecting exec js version by adding minimal requirement for autoprefixer-rails
  backend/solidus_backend.gemspec
Labels: Needs Backport

#4080 Permit return_items_attributes return_reason_id
  core/lib/spree/permitted_attributes.rb
Labels: Bug, Needs Backport, Solidus Admin

#4066 Fix Request Bodies in API Documentation
  api/openapi/solidus-api.oas.yml
  api/spec/requests/spree/api/properties_controller_spec.rb
  api/spec/requests/spree/api/taxonomies_controller_spec.rb
  api/spec/requests/spree/api/taxons_controller_spec.rb
  api/spec/requests/spree/api/users_controller_spec.rb
  api/spec/requests/spree/api/variants_controller_spec.rb
Labels: Documentation, Solidus API
