Repository solidusio/solidus, pull requests merged in 2021-06, with the labels that each got.

#4064 Allow using different preference defaults depending on a Solidus version
  core/lib/generators/solidus/install/templates/config/initializers/spree.rb.tt
  core/lib/spree/core/versioned_value.rb
  core/lib/spree/preferences/configuration.rb
  core/lib/spree/preferences/preferable.rb
  core/lib/spree/preferences/preferable_class_methods.rb
  core/spec/lib/spree/core/versioned_value_spec.rb
  core/spec/models/spree/preferences/configuration_spec.rb
Labels: Important Change, Solidus Core

#4062 Add preferences to configure product and taxon images style
  core/app/models/spree/image/active_storage_attachment.rb
  core/app/models/spree/image/paperclip_attachment.rb
  core/app/models/spree/taxon/active_storage_attachment.rb
  core/app/models/spree/taxon/paperclip_attachment.rb
  core/lib/spree/app_configuration.rb
Labels: Solidus Core

#4076 Simplify `Variant#default_price` logic
  api/app/controllers/spree/api/base_controller.rb
  api/app/controllers/spree/api/shipments_controller.rb
  api/app/controllers/spree/api/taxons_controller.rb
  api/app/controllers/spree/api/variants_controller.rb
  backend/app/controllers/spree/admin/products_controller.rb
  backend/app/controllers/spree/admin/variants_controller.rb
  backend/app/views/spree/admin/products/index.html.erb
  backend/app/views/spree/admin/variants/_form.html.erb
  core/app/models/concerns/spree/default_price.rb
  core/app/models/spree/product.rb
  core/app/models/spree/product/scopes.rb
  core/lib/spree/core/product_filters.rb
  core/spec/models/spree/product_spec.rb
  core/spec/models/spree/variant_spec.rb
Labels: Important Change, Solidus Core

#4104 Update billing address migration tasks with batch limit
  core/lib/tasks/migrations/migrate_default_billing_addresses_to_address_book.rake
  core/spec/lib/tasks/migrations/migrate_default_billing_addresses_to_address_book_spec.rb
Labels: Enhancement
