Repository solidusio/solidus, pull requests merged in 2021-04, with the labels that each got.

#3989 Fix double store credits creation when performing refunds
  core/app/models/spree/payment_method/bogus_credit_card.rb
  core/app/models/spree/payment_method/simple_bogus_credit_card.rb
  core/app/models/spree/refund.rb
  core/spec/models/spree/refund_spec.rb
Labels: Bug

#3999 Only run spring stop in install generator if spring is available
  core/lib/generators/solidus/install/install_generator.rb
Labels: Needs Backport

#4003 Switch to the correct ActiveStorage variant syntax
  core/app/models/concerns/spree/active_storage_adapter/attachment.rb
Labels: Needs Backport, Solidus Core

#4025 Bump removal horizon for 3.x deprecations
  core/lib/spree/deprecation.rb
Labels: Solidus Core

#4021 Image attachment content type validation fix for ActiveStorage
  core/app/models/spree/image/active_storage_attachment.rb
  core/app/models/spree/image/paperclip_attachment.rb
  core/lib/spree/app_configuration.rb
  core/lib/spree/testing_support/fixtures/file.txt
  core/spec/lib/search/base_spec.rb
  core/spec/models/spree/image_spec.rb
  core/spec/support/image_spec_helper.rb
  core/spec/support/shared_examples/attachment.rb
Labels: Needs Backport, Solidus Core

#4026 Patch for FileNotFoundError bug on failed image downloads.
  backend/spec/features/admin/products/edit/images_spec.rb
  core/app/models/concerns/spree/active_storage_adapter.rb
Labels: Needs Backport, Solidus Core

#3975 Add CHANGELOG entries for 2.11.x and 3.0
  CHANGELOG.md
Labels: Documentation

#4033 Master now tracks 3.1.0
  CHANGELOG.md
  core/lib/spree/core/version.rb
Labels: Solidus Core

#3819 Improve Solidus events documentation
  guides/source/developers/events/overview.html.md
Labels: Documentation

#3925 Let the PriceSelector return a Spree::Price
  api/app/views/spree/api/products/_product.json.jbuilder
  api/app/views/spree/api/variants/_small.json.jbuilder
  core/app/helpers/spree/base_helper.rb
  core/app/helpers/spree/products_helper.rb
  core/app/models/spree/line_item.rb
  core/app/models/spree/product.rb
  core/app/models/spree/variant.rb
  core/app/models/spree/variant/price_selector.rb
  core/spec/models/spree/line_item_spec.rb
  core/spec/models/spree/variant/price_selector_spec.rb
  core/spec/models/spree/variant_spec.rb
  frontend/app/views/spree/products/_cart_form.html.erb
  frontend/app/views/spree/shared/_products.html.erb
Labels: Hold, Solidus Core

#3835 Update order_tabs Order number format
  backend/app/views/spree/admin/shared/_order_tabs.html.erb
Labels: Hold, Solidus Admin

#3875 eager load records instead of n+1 for update_positions
  backend/app/controllers/spree/admin/resource_controller.rb
Labels: Hold, Solidus Admin

#3884 Allow Variant to check stock by stock_location
  core/app/models/spree/variant.rb
  core/spec/models/spree/variant_spec.rb
Labels: Hold, Solidus Core

#3950 Fix order checkout flow completion with custom steps
  core/lib/spree/core/state_machines/order.rb
  core/spec/models/spree/order/state_machine_spec.rb
  guides/source/developers/orders/order-state-machine.html.md
Labels: Hold, Solidus Core

#3961 Don't hack into ActionMailer to add our mail previews path
  core/lib/spree/core/engine.rb
  core/lib/spree/testing_support/dummy_app.rb
Labels: Hold, Solidus Core

#4007 Allow customer returns to reference existing `ReturnItem`s on create through API
  api/app/controllers/spree/api/customer_returns_controller.rb
  api/spec/requests/spree/api/customer_returns_controller_spec.rb
Labels: Solidus API

#3957 Consolidation of promotion code batch form fields into partial.
  backend/app/views/spree/admin/promotion_code_batches/_form_fields.html.erb
  backend/app/views/spree/admin/promotion_code_batches/new.html.erb
  backend/app/views/spree/admin/promotions/_activations_new.html.erb
  backend/spec/features/admin/promotion_adjustments_spec.rb
  backend/spec/features/admin/promotions/promotion_code_batches_spec.rb
Labels: Solidus Admin
