Repository solidusio/solidus, pull requests merged in 2021-03, with the labels that each got.

#3962 Add and start populating `spree_addresses.name` field
  core/app/models/spree/address.rb
  core/db/migrate/20210122110141_add_name_to_spree_addresses.rb
  core/spec/models/spree/address_spec.rb
Labels: Needs Core Team Review

#3974 Remove deprecated attachment_partial_name
  backend/app/views/spree/admin/taxons/_form.html.erb
  backend/app/views/spree/admin/taxons/attachment_forms/_paperclip.html.erb
  core/app/models/spree/taxon/active_storage_attachment.rb
  core/app/models/spree/taxon/paperclip_attachment.rb
Labels: Needs Core Team Review, Solidus Core

#3913 Switch to maintained Paperclip fork
  core/solidus_core.gemspec
Labels: Solidus Core, dependencies

#3970 Improve Active Storage configuration for in-memory Dummy App
  .circleci/config.yml
  core/lib/spree/testing_support/dummy_app.rb
  core/lib/spree/testing_support/dummy_app/migrations.rb
Labels: Needs Core Team Review, Solidus Core

#3969 Add Active Storage in Dummy App for extensions
  core/lib/generators/spree/dummy/dummy_generator.rb
  core/lib/generators/spree/dummy/templates/rails/storage.yml
  core/lib/generators/spree/dummy/templates/rails/test.rb
  core/lib/spree/app_configuration.rb
Labels: Bug, Solidus Core

#3933 Add Address name data migration rake task
  core/lib/tasks/migrations/migrate_address_names.rake
  core/lib/tasks/upgrade.rake
  core/spec/lib/tasks/migrations/migrate_address_names_spec.rb
Labels: Needs Backport, Needs Core Team Review, Solidus Core

#3982 Improve address name migration task output
  core/lib/tasks/migrations/migrate_address_names.rake
  core/spec/lib/tasks/migrations/migrate_address_names_spec.rb
Labels: Needs Backport, Solidus Core

#3991 Fix for incorrect deprecation class
  core/lib/spree/testing_support.rb
Labels: Bug, Needs Backport

#3998 Allow accessing preferences on models that do not have any set
  core/app/models/spree/base.rb
  core/spec/models/spree/stock/estimator_spec.rb
Labels: Bug, Needs Backport

#3995 Use Spree.user_class instead of Spree::LegacyUser in production code
  core/lib/tasks/migrations/migrate_default_billing_addresses_to_address_book.rake
Labels: Needs Backport

#3985 Add Post-Install message to Solidus 3.0
  core/lib/tasks/migrations/migrate_address_names.rake
  core/lib/tasks/migrations/migrate_default_billing_addresses_to_address_book.rake
  core/lib/tasks/upgrade.rake
  core/solidus_core.gemspec
  core/spec/lib/tasks/migrations/migrate_address_names_spec.rb
  core/spec/lib/tasks/migrations/migrate_default_billing_addresses_to_address_book_spec.rb
Labels: Solidus Core
