Repository solidusio/solidus, pull requests merged in 2022-08, with the labels that each got.

#4495 Include discarded prices in delete_prices_with_nil_amount task
  core/lib/tasks/solidus/delete_prices_with_nil_amount.rake
  core/spec/lib/tasks/solidus/delete_prices_with_nil_amount_spec.rb
Labels: Bug

#4272 Fix Country factory states_required attribute
  api/spec/requests/spree/api/orders_spec.rb
  api/spec/requests/spree/api/users_spec.rb
  core/lib/spree/testing_support/factories/address_factory.rb
  core/lib/spree/testing_support/factories/country_factory.rb
  core/lib/spree/testing_support/factories/state_factory.rb
  core/spec/lib/spree/core/testing_support/factories/address_factory_spec.rb
  core/spec/lib/spree/core/testing_support/factories/state_factory_spec.rb
Labels: Bug

#4515 Add eligibility check to free shipping action
  core/app/models/spree/promotion/actions/free_shipping.rb
  core/spec/models/spree/promotion/actions/free_shipping_spec.rb
Labels: Bug, Solidus Core

#4525 Add a SQLite job to the CI
  .circleci/config.yml
  Gemfile
  api/spec/requests/spree/api/checkouts_spec.rb
  api/spec/requests/spree/api/users_spec.rb
  core/lib/spree/testing_support/dummy_app.rb
Labels: Enhancement, Solidus API, Solidus Core

#4103 Prevent UI crash on FileNotFound errors with Active Storage
  api/app/views/spree/api/images/_image.json.jbuilder
  api/spec/requests/spree/api/images_spec.rb
  core/app/models/concerns/spree/active_storage_adapter/attachment.rb
Labels: Bug, Solidus API, Solidus Core
