Repository solidusio/solidus, pull requests merged in 2022-04, with the labels that each got.

#4323 feat(Variants Form): Add some visual structure
  backend/app/views/spree/admin/variants/_form.html.erb
  backend/app/views/spree/admin/variants/new.html.erb
  core/config/locales/en.yml
Labels: UI, Solidus Admin

#4322 Fix admin variants table UX
  backend/app/views/spree/admin/variants/_table.html.erb
  backend/app/views/spree/admin/variants/_table_filter.html.erb
  backend/app/views/spree/admin/variants/index.html.erb
  backend/spec/features/admin/products/variant_spec.rb
  core/config/locales/en.yml
Labels: UI, Solidus Admin

#4318 Fixes defining thumbnail sizes through ActiveStorage adapter
  core/app/models/concerns/spree/active_storage_adapter/attachment.rb
  core/spec/models/spree/concerns/active_storage_adapter/attachment_spec.rb
Labels: Needs Backport

#4344 Fix creating refund with amount in foreign format
  core/app/models/spree/refund.rb
  core/spec/models/spree/refund_spec.rb
Labels: Needs Backport

#4348 Enhance refund admin UI
  backend/app/assets/stylesheets/spree/backend/components/_number_with_currency.scss
  backend/app/assets/stylesheets/spree/backend/shared/_forms.scss
  backend/app/views/spree/admin/payments/_list.html.erb
  backend/app/views/spree/admin/refunds/edit.html.erb
  backend/app/views/spree/admin/refunds/new.html.erb
Labels: UI, Solidus Admin, Needs Backport

#4352 Make more room for long values in Order Summary
  backend/app/assets/stylesheets/spree/backend/shared/_typography.scss
  backend/vendor/assets/stylesheets/solidus_admin/bootstrap/mixins/_lists.scss
Labels: UI, Solidus Admin

#4345 [v3.1] Fix creating refund with amount in foreign format
  core/app/models/spree/refund.rb
  core/spec/models/spree/refund_spec.rb
Labels: Solidus Core

#4346 [v3.0] Fix creating refund with amount in foreign format
  core/app/models/spree/refund.rb
  core/spec/models/spree/refund_spec.rb
Labels: Solidus Core

#4347 [v2.11] Fix creating refund with amount in foreign format
  core/app/models/spree/refund.rb
  core/spec/models/spree/refund_spec.rb
Labels: Solidus Core

#4349 [v3.1] Enhance refund admin UI
  backend/app/views/spree/admin/payments/_list.html.erb
  backend/app/views/spree/admin/refunds/new.html.erb
Labels: UI, Solidus Admin

#4350 [v3.0] Enhance refund admin UI
  backend/app/views/spree/admin/payments/_list.html.erb
  backend/app/views/spree/admin/refunds/new.html.erb
Labels: UI, Solidus Admin

#4351 [v2.11] Enhance refund admin UI
  backend/app/views/spree/admin/payments/_list.html.erb
  backend/app/views/spree/admin/refunds/new.html.erb
Labels: UI, Solidus Admin

#4335 [v3.1] Update in-memory shipments of order in order_shipping
  core/app/models/spree/order_shipping.rb
  core/spec/models/spree/order_shipping_spec.rb
Labels: Solidus Core

#4336 [v3.0] Update in-memory shipments of order in order_shipping
  core/app/models/spree/order_shipping.rb
  core/spec/models/spree/order_shipping_spec.rb
Labels: Solidus Core

#4337 [v2.11] Update in-memory shipments of order in order_shipping
  core/app/models/spree/order_shipping.rb
  core/spec/models/spree/order_shipping_spec.rb
Labels: Solidus Core

#4354 [v3.0] Make more room for long values in Order Summary
  backend/app/assets/stylesheets/spree/backend/shared/_typography.scss
  backend/vendor/assets/stylesheets/solidus_admin/bootstrap/mixins/_lists.scss
Labels: UI, Solidus Admin

#4353 [v3.1] Make more room for long values in Order Summary
  backend/app/assets/stylesheets/spree/backend/shared/_typography.scss
  backend/vendor/assets/stylesheets/solidus_admin/bootstrap/mixins/_lists.scss
Labels: UI, Solidus Admin
