Repository solidusio/solidus, pull requests merged in 2022-05, with the labels that each got.

#4375 Fix update generator taking non-comparable values as changes in a default
  core/lib/spree/preferences/configuration.rb
  core/lib/spree/preferences/preferable_class_methods.rb
  core/lib/spree/preferences/preference_differentiator.rb
  core/spec/lib/generators/solidus/update/update_generator_spec.rb
  core/spec/lib/spree/preferences/preference_differentiator_spec.rb
  core/spec/models/spree/preferences/configuration_spec.rb
Labels: Needs Core Team Review

#4369 Add flexibility to `Spree::Order#restart_checkout_flow`
  core/app/models/spree/order.rb
  core/spec/models/spree/order_spec.rb
Labels: Solidus Core

#4387 Deprecate creating new shipment with an item via API
  api/app/controllers/spree/api/shipments_controller.rb
  api/openapi/solidus-api.oas.yml
  api/spec/requests/spree/api/shipments_spec.rb
Labels: Solidus API
