Repository solidusio/solidus, pull requests merged in 2022-12, with the labels that each got.

#4721 Fix call context when a preference default is a proc
  core/lib/spree/preferences/preferable.rb
  core/lib/spree/preferences/preferable_class_methods.rb
  core/spec/models/spree/preferences/preferable_spec.rb
Labels: type:bug, Solidus Core, Needs Backport-v3.2, Needs Backport-v3.1

#4758 Remove trailing zeroes in tax amount
  backend/spec/features/admin/orders/adjustments_spec.rb
  core/app/models/spree/tax_rate.rb
  core/spec/models/spree/tax_calculator/default_spec.rb
Labels: type:bug, Solidus Admin, Solidus Core

#4756 Use labeler action to mark all kind of changes
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: type:enhancement

#4748 Don't install solidus_auth_devise if it's already in the Gemfile
  core/lib/generators/solidus/install/install_generator.rb
  core/lib/generators/solidus/install/install_generator/bundler_context.rb
  core/lib/generators/solidus/install/install_generator/install_frontend.rb
Labels: type:enhancement

#4743 Add back PayPal as a payment method for the starter frontend
  .circleci/config.yml
  core/lib/generators/solidus/install/app_templates/payment_method/paypal.rb
  core/lib/generators/solidus/install/install_generator.rb
  core/spec/generators/solidus/install/install_generator_spec.rb
Labels: type:enhancement, changelog:solidus_core

#4719 Automatically update the release draft when merging PRs
  .circleci/config.yml
  .github/workflows/extract_pipeline_context.yml
  .github/workflows/update_release_draft.yml
  dev_tools/Gemfile
  dev_tools/README.md
  dev_tools/bin/extract-pipeline-context
  dev_tools/bin/update-release-draft
  dev_tools/lib/solidus/pipeline_context.rb
  dev_tools/lib/solidus/release_drafter.rb
  dev_tools/lib/solidus/release_drafter/builder.rb
  dev_tools/lib/solidus/release_drafter/client.rb
  dev_tools/lib/solidus/release_drafter/draft.rb
  dev_tools/spec/lib/solidus/pipeline_context_spec.rb
  dev_tools/spec/lib/solidus/release_drafter/builder_spec.rb
  dev_tools/spec/lib/solidus/release_drafter/draft_spec.rb
  dev_tools/spec/lib/solidus/release_drafter_spec.rb
Labels: type:enhancement, changelog:repository

#4740 Do not require 'mail'
  core/lib/spree/core.rb
Labels: type:bug, changelog:solidus_core, backport-v3.2

#4793 [v3.2] Fix CircleCI Config
  .circleci/config.yml
Labels: type:bug, changelog:skip

#4791 Add action to prepare a release
  .github/actions/commit_and_submit_pull_request/action.yml
  .github/workflows/prepare_release.yml
  CHANGELOG.md
  dev_tools/Gemfile
  dev_tools/bin/bump-docker-image-version
  dev_tools/bin/bump-version
  dev_tools/bin/update-changelog
  dev_tools/bin/update-release-draft
  dev_tools/lib/solidus/bumper.rb
  dev_tools/lib/solidus/changelog_updater.rb
  dev_tools/spec/lib/solidus/bumper_spec.rb
  dev_tools/spec/lib/solidus/changelog_updater_spec.rb
Labels: changelog:repository

#4801 Fix source tag used to create the diff for the release notes on master
  .github/workflows/extract_pipeline_context.yml
  .github/workflows/update_release_draft.yml
  dev_tools/bin/extract-pipeline-context
  dev_tools/bin/update-release-draft
  dev_tools/lib/solidus/pipeline_context.rb
  dev_tools/lib/solidus/release_drafter.rb
  dev_tools/spec/lib/solidus/pipeline_context_spec.rb
  dev_tools/spec/lib/solidus/release_drafter_spec.rb
Labels: changelog:repository

#4802 Skip update of release notes at the job definition level
  .github/workflows/update_release_draft.yml
Labels: changelog:repository

#4767 Improve variant and product autocomplete functions flexibility with Ransack
  api/spec/requests/spree/api/variants_spec.rb
  backend/app/assets/javascripts/spree/backend/orders/edit.js
  backend/app/assets/javascripts/spree/backend/product_picker.js
  backend/app/assets/javascripts/spree/backend/variant_autocomplete.js
  backend/app/assets/javascripts/spree/backend/views/cart/line_item_row.js
  backend/spec/controllers/spree/admin/search_controller_spec.rb
Labels: type:enhancement, changelog:solidus_api, changelog:solidus_backend

#4805 Extract pipeline context into a composite action
  .github/actions/extract_pipeline_context/action.yml
  .github/workflows/extract_pipeline_context.yml
  .github/workflows/prepare_post_release.yml
  .github/workflows/prepare_release.yml
  .github/workflows/update_release_draft.yml
Labels: changelog:repository

#4808 [v3.2] Backport release pipeline automations from master
  .github/CODEOWNERS
  .github/actions/commit_and_submit_pull_request/action.yml
  .github/actions/extract_pipeline_context/action.yml
  .github/labeler.yml
  .github/stale.yml
  .github/workflows/backport.yml
  .github/workflows/ensure_changelog_label.yml
  .github/workflows/prepare_post_release.yml
  .github/workflows/prepare_release.yml
  .github/workflows/triage_for_changelog.yml
  .github/workflows/update_release_draft.yml
  dev_tools/Gemfile
  dev_tools/README.md
  dev_tools/bin/bump-docker-image-to-dev-version
  dev_tools/bin/bump-docker-image-version
  dev_tools/bin/bump-previous-minor-version
  dev_tools/bin/bump-to-dev-version
  dev_tools/bin/bump-version
  dev_tools/bin/extract-pipeline-context
  dev_tools/bin/publish-release
  dev_tools/bin/update-changelog
  dev_tools/bin/update-release-draft
  dev_tools/lib/solidus/bumper.rb
  dev_tools/lib/solidus/changelog_updater.rb
  dev_tools/lib/solidus/pipeline_context.rb
  dev_tools/lib/solidus/release_drafter.rb
  dev_tools/lib/solidus/release_drafter/builder.rb
  dev_tools/lib/solidus/release_drafter/client.rb
  dev_tools/lib/solidus/release_drafter/draft.rb
  dev_tools/spec/lib/solidus/bumper_spec.rb
  dev_tools/spec/lib/solidus/changelog_updater_spec.rb
  dev_tools/spec/lib/solidus/pipeline_context_spec.rb
  dev_tools/spec/lib/solidus/release_drafter/builder_spec.rb
  dev_tools/spec/lib/solidus/release_drafter/draft_spec.rb
  dev_tools/spec/lib/solidus/release_drafter_spec.rb
Labels: changelog:repository

#4815 Depend on solidus_frontend in GH for development
  Gemfile
  solidus.gemspec
Labels: changelog:solidus, changelog:repository

#4812 Fix Octokit pagination
  dev_tools/lib/solidus/release_drafter/client.rb
Labels: backport-v3.2, backport-v3.1, changelog:repository

#4825 Fix typo s/loout/logout/
  core/app/models/spree/user_last_url_storer/rules/authentication_rule.rb
Labels: changelog:solidus_core

#4824 Revert "Remove trailing zeroes in tax amount"
  core/app/models/spree/tax_rate.rb
  core/config/locales/en.yml
Labels: changelog:solidus_core, backport-v3.2, backport-v3.1
