Repository solidusio/solidus, pull requests merged in 2022-10, with the labels that each got.

#4661 Paginate variant autocomplete
  backend/app/assets/javascripts/spree/backend/variant_autocomplete.js
  backend/vendor/assets/stylesheets/solidus_admin/select2.scss
Labels: Solidus Admin

#4654 Use app-templates to handle authentication options in the installer
  .circleci/config.yml
  bin/rails-application-template
  core/lib/generators/solidus/install/app_templates/authentication/existing_devise.rb
  core/lib/generators/solidus/install/app_templates/authentication/none.rb
  core/lib/generators/solidus/install/app_templates/authentication/solidus_auth_devise.rb
  core/lib/generators/solidus/install/app_templates/frontend/break_down_solidus_gem.rb
  core/lib/generators/solidus/install/app_templates/frontend/none.rb
  core/lib/generators/solidus/install/app_templates/frontend/solidus_frontend.rb
  core/lib/generators/solidus/install/app_templates/frontend/solidus_starter_frontend.rb
  core/lib/generators/solidus/install/install_generator.rb
  core/lib/generators/spree/custom_user/custom_user_generator.rb
  core/lib/generators/spree/custom_user/templates/authentication_helpers.rb.tt
  core/lib/generators/spree/custom_user/templates/migration.rb.tt
  core/lib/spree/testing_support/common_rake.rb
Labels: Solidus Core

#4670 Make --authentication=none the same as --with-authentication=false
  .circleci/config.yml
  core/lib/generators/solidus/install/app_templates/authentication/custom.rb
  core/lib/generators/solidus/install/app_templates/authentication/devise.rb
  core/lib/generators/solidus/install/app_templates/authentication/existing.rb
  core/lib/generators/solidus/install/app_templates/authentication/none.rb
  core/lib/generators/solidus/install/install_generator.rb
Labels: Bug, Solidus Core

#4675 Installer UI improvements
  .circleci/config.yml
  bin/rails-application-template
  bin/sandbox
  core/lib/generators/solidus/install/app_templates/frontend/classic.rb
  core/lib/generators/solidus/install/app_templates/frontend/starter.rb
  core/lib/generators/solidus/install/install_generator.rb
  core/lib/spree/migrations.rb
  core/lib/spree/testing_support/common_rake.rb
  core/spec/generators/solidus/install/install_generator_spec.rb
  sample/db/samples/assets.rb
Labels: Solidus Core

#4660 Update underscore.js
  backend/vendor/assets/javascripts/solidus_admin/underscore.js
Labels: Bug, Solidus Admin

#4678 GitHub Action to automatically create backport PRs
  .github/workflows/backport.yml
Labels: Enhancement

#4659 Add back the `--payment-method` option for `solidus:install`
  .circleci/config.yml
  core/lib/generators/solidus/install/app_templates/authentication/devise.rb
  core/lib/generators/solidus/install/app_templates/frontend/classic.rb
  core/lib/generators/solidus/install/app_templates/payment_method/bolt.rb
  core/lib/generators/solidus/install/app_templates/payment_method/none.rb
  core/lib/generators/solidus/install/app_templates/payment_method/paypal.rb
  core/lib/generators/solidus/install/install_generator.rb
  core/lib/generators/spree/dummy/templates/rails/database.yml
  core/lib/spree/testing_support/common_rake.rb
  core/spec/generators/solidus/install/install_generator_spec.rb
Labels: Enhancement, Solidus Core

#4681 Remove "Deploy to Heroku" Button from Readme
  README.md
Labels: Enhancement

#4682 Make Promotion factory adjustment trait more flexible
  core/lib/spree/testing_support/factories/promotion_factory.rb
  core/spec/lib/spree/core/testing_support/factories/promotion_factory_spec.rb
Labels: Enhancement, Solidus Core

#4688 Install and set up Buildkite Test Analytics
  .circleci/config.yml
  Gemfile
  api/spec/spec_helper.rb
  backend/spec/spec_helper.rb
  core/lib/spree/testing_support/buildkite_test_collector.rb
  core/spec/spec_helper.rb
Labels: Enhancement, Solidus API, Solidus Admin, Solidus Core
