Repository solidusio/solidus, pull requests merged in 2022-11, with the labels that each got.

#4695 Configure GitHub releases
  .github/release.yml
Labels: Enhancement

#4697 [3.2 hotfix] Fix `nil` bundle_path while installing solidus_frontend
  core/lib/generators/solidus/install/install_generator/install_frontend.rb
Labels: Solidus API, Solidus Admin, Solidus Core

#4704 Remove typo from warning about solidus migration check
  core/lib/spree/migrations.rb
Labels: Solidus Core

#4680 Update product_option_types Seed File
  sample/db/samples/assets.rb
  sample/db/samples/option_types.rb
  sample/db/samples/product_option_types.rb
  sample/db/samples/variants.rb
Labels: Enhancement

#4707 Revert jQuery changes to xhr var in image upload
  backend/app/assets/javascripts/spree/backend/models/image_upload.js
  backend/spec/features/admin/products/edit/images_spec.rb
Labels: Bug, Solidus Admin

#4677 Add support for sorting store credits with different algorithms
  core/app/models/spree/order.rb
  core/app/models/spree/store_credit_prioritizer.rb
  core/lib/spree/app_configuration.rb
  core/spec/models/spree/store_credit_prioritizer_spec.rb
Labels: Enhancement, Solidus Core

#4705 Do not pass arrays to can?
  backend/app/views/spree/admin/product_properties/index.html.erb
  backend/app/views/spree/admin/users/_user_page_actions.html.erb
  backend/app/views/spree/admin/users/items.html.erb
  backend/app/views/spree/admin/users/orders.html.erb
Labels: Bug, Solidus Admin, Needs Backport, Needs Backport-v3.2, Needs Backport-v3.1

#4712 Deprecate unused `Spree::Config#mails_from`
  api/spec/requests/spree/api/orders_spec.rb
  core/lib/generators/solidus/install/templates/config/initializers/spree.rb.tt
  core/lib/spree/app_configuration.rb
  core/lib/spree/testing_support/dummy_app.rb
  core/spec/lib/spree/app_configuration_spec.rb
  core/spec/lib/spree/core/testing_support/preferences_spec.rb
Labels: Solidus API, Solidus Core

#4709 Update Changelog after v3.2.4 release
  CHANGELOG.md
Labels: Enhancement

#4713 Use repo configuration from solidusio/.github repository
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/pull_request_template.md
  .github/stale.yml
  CONTRIBUTING.md
  README.md
  SECURITY.md
Labels: Enhancement

#4723 Re-add and fix extension:test_app test
  .circleci/config.yml
  core/lib/generators/solidus/install/install_generator.rb
  core/lib/generators/solidus/install/install_generator/bundler_context.rb
  core/lib/generators/solidus/install/install_generator/install_frontend.rb
  core/lib/generators/solidus/install/install_generator/support_solidus_frontend_extraction.rb
Labels: Bug

#4724 Copy the Solidus::InstallGenerator::InstallFrontend patch from SolidusStarterFrontend v3.2
  core/lib/generators/solidus/install/install_generator/install_frontend.rb
Labels: Enhancement

#4726 Notify CI failures on Slack
  .circleci/config.yml
Labels: Enhancement

#4722 Improve Spree::Order::NumberGenerator speed
  core/app/models/spree/order/number_generator.rb
  core/spec/models/spree/order/number_generator_spec.rb
Labels: Enhancement, Solidus Core

#4741 Ignore big reformatting commits in GitHub blame UI
  .git-blame-ignore-revs
Labels: Enhancement
