Repository solidusio/solidus, pull requests merged in 2022-09, with the labels that each got.

#4563 Only default to activestorage adapter if Rails version is supported
  core/lib/spree/app_configuration.rb
  core/lib/spree/rails_compatibility.rb
Labels: Bug, Solidus Core, Needs Backport

#4537 Cleanup Gemfile groups
  .circleci/config.yml
  Gemfile
  core/Rakefile
Labels: Enhancement, Solidus Core

#4608 Delegate `--auto-accept` installer option to solidus_frontend
  core/lib/generators/solidus/install/install_generator/install_frontend.rb
Labels: Enhancement, Solidus Core

#4609 Don't remove non-accessible roles when assigning new accessible roles
  backend/app/controllers/spree/admin/users_controller.rb
  backend/spec/controllers/spree/admin/users_controller_spec.rb
  core/app/models/concerns/spree/user_methods.rb
  core/spec/models/spree/concerns/user_methods_spec.rb
Labels: Bug, Solidus Admin, Solidus Core, Needs Backport, Security Concern

#3136 Add coverage report badge using Codecov
  .circleci/config.yml
  Gemfile
  README.md
  Rakefile
  api/spec/spec_helper.rb
  backend/spec/spec_helper.rb
  backend/spec/teaspoon_env.rb
  bin/build
  core/spec/spec_helper.rb
Labels: Enhancement, Solidus API, Solidus Admin, Needs Work, Solidus Core

#4460 Configurable promotion adjuster
  core/app/models/spree/order_updater.rb
  core/app/models/spree/promotion/order_adjustments_recalculator.rb
  core/lib/spree/app_configuration.rb
  core/spec/lib/spree/app_configuration_spec.rb
  core/spec/models/spree/order_updater_spec.rb
  core/spec/models/spree/promotion/order_adjustments_recalculator_spec.rb
Labels: Enhancement, Solidus Core

#4491 Support for Colorado Delivery Fee (flat fee and order-level taxes)
  backend/app/views/spree/admin/tax_rates/_form.html.erb
  core/app/models/spree/calculator/flat_fee.rb
  core/app/models/spree/tax/tax_helpers.rb
  core/app/models/spree/tax_calculator/default.rb
  core/app/models/spree/tax_rate.rb
  core/config/locales/en.yml
  core/db/migrate/20220805202442_add_level_to_spree_tax_rates.rb
  core/lib/spree/app_configuration.rb
  core/lib/spree/testing_support/factories/calculator_factory.rb
  core/lib/tasks/colorado_delivery_fee.rake
  core/spec/models/spree/calculator/flat_fee_spec.rb
  core/spec/models/spree/tax_calculator/default_spec.rb
Labels: Enhancement, Solidus Admin, Solidus Core, Important Change

#4533 Deprecate method #redirect_back_or_default
  core/app/models/spree/user_last_url_storer.rb
  core/lib/spree/core/controller_helpers/auth.rb
  core/spec/lib/spree/core/controller_helpers/auth_spec.rb
  core/spec/models/spree/user_last_url_storer_spec.rb
Labels: Enhancement, Solidus Core, Hold

#4625 Update deprecated jQuery methods
  backend/app/assets/javascripts/spree/backend/models/image_upload.js
  backend/app/assets/javascripts/spree/backend/shipments.js
  backend/spec/features/admin/orders/shipments_spec.rb
Labels: Bug, Solidus Admin

#4629 Frontend installers with app-templates
  .circleci/config.yml
  bin/sandbox
  core/lib/generators/solidus/install/frontend_templates/break_down_solidus_gem.rb
  core/lib/generators/solidus/install/frontend_templates/none.rb
  core/lib/generators/solidus/install/frontend_templates/solidus_frontend.rb
  core/lib/generators/solidus/install/frontend_templates/solidus_starter_frontend.rb
  core/lib/generators/solidus/install/install_generator.rb
  core/lib/generators/solidus/install/install_generator/bundler_context.rb
  core/lib/generators/solidus/install/install_generator/install_frontend.rb
  core/lib/generators/solidus/install/install_generator/support_solidus_frontend_extraction.rb
Labels: Solidus Core

#4642 Improve variant spec coverage
  core/app/models/spree/variant.rb
  core/spec/models/spree/variant_spec.rb
Labels: Solidus Core

#4637 `solidus:install` improvements
  api/db/migrate/20100107141738_add_api_key_to_spree_users.rb
  api/db/migrate/20120411123334_resize_api_key_field.rb
  api/db/migrate/20120530054546_rename_api_key_to_spree_api_key.rb
  api/db/migrate/20131017162334_add_index_to_user_spree_api_key.rb
  bin/sandbox
  core/db/seeds.rb
  core/lib/generators/solidus/install/install_generator.rb
  core/lib/generators/solidus/install/templates/config/initializers/spree.rb.tt
  core/lib/generators/spree/dummy/dummy_generator.rb
  core/lib/spree/core.rb
  core/lib/spree/migrations.rb
  sample/db/samples/assets.rb
  sample/lib/spree/sample.rb
  sample/lib/tasks/sample.rake
Labels: Enhancement, Solidus API, Solidus Core

#4644 Update link to solidus_frontend
  README.md
Labels: Bug

#4646 Fix the dummy app usage of the generator
  .circleci/config.yml
  core/lib/generators/solidus/install/frontend_templates/solidus_frontend.rb
  core/lib/generators/solidus/install/install_generator.rb
  core/lib/spree/testing_support/common_rake.rb
Labels: Bug, Solidus Core

#4648 Fix occasional "database is locked" errors while loading sample data
  sample/lib/spree_sample.rb
Labels: Enhancement
