Repository solidusio/solidus, pull requests merged in 2023-01, with the labels that each got.

#4829 [v3.1] Test with Ruby 2.7
  .circleci/config.yml
Labels: changelog:skip

#4833 Fix styling of table rows for deleted records
  backend/app/assets/stylesheets/spree/backend/shared/_tables.scss
Labels: changelog:solidus_backend, backport-v3.2

#4832 Hide soft deleted prices from admin product view
  backend/app/controllers/spree/admin/prices_controller.rb
  backend/spec/controllers/spree/admin/prices_controller_spec.rb
Labels: type:bug, changelog:solidus_backend, backport-v3.2

#4827 [v3.1] Add EN percentage number format
  backend/spec/features/admin/orders/adjustments_spec.rb
  core/config/locales/en.yml
  core/spec/models/spree/tax_calculator/default_spec.rb
Labels: changelog:solidus_backend, changelog:solidus_core

#4818 Be explicit about the solidus_frontend gemspec dependency
  solidus.gemspec
Labels: changelog:solidus

#4828 Pre-add the default store to new payment methods
  backend/app/controllers/spree/admin/payment_methods_controller.rb
  backend/spec/controllers/spree/admin/payment_methods_controller_spec.rb
Labels: changelog:solidus_backend

#4843 Add a default implementation for PaymentMethod#try_void
  core/app/models/spree/payment_method.rb
  core/spec/models/spree/payment_method_spec.rb
Labels: type:enhancement, changelog:solidus_core

#4845 Remove Ruby v2.5 support
  .circleci/config.yml
  api/solidus_api.gemspec
  backend/solidus_backend.gemspec
  core/app/models/spree/credit_card.rb
  core/lib/generators/solidus/install/app_templates/frontend/break_down_solidus_gem.rb
  core/lib/generators/spree/dummy/dummy_generator.rb
  core/lib/spree/core.rb
  core/lib/spree/testing_support/factory_bot.rb
  core/solidus_core.gemspec
  sample/solidus_sample.gemspec
  solidus.gemspec
Labels: changelog:solidus_api, changelog:solidus_backend, changelog:solidus_core, changelog:solidus_sample, changelog:solidus

#4848 Remove Ruby v2.6 support
  .circleci/config.yml
  Gemfile
  api/solidus_api.gemspec
  backend/app/views/spree/admin/taxons/_form.html.erb
  backend/solidus_backend.gemspec
  core/lib/spree/core.rb
  core/lib/spree/testing_support/order_walkthrough.rb
  core/solidus_core.gemspec
  sample/solidus_sample.gemspec
  solidus.gemspec
Labels: changelog:solidus_api, changelog:solidus_backend, changelog:solidus_core, changelog:solidus_sample, changelog:solidus, changelog:repository

#4850 Remove Rails v5.2 support
  .circleci/config.yml
  api/app/controllers/spree/api/base_controller.rb
  core/app/controllers/spree/base_controller.rb
  core/lib/spree/core.rb
  core/lib/spree/core/controller_helpers/current_host.rb
  core/lib/spree/rails_compatibility.rb
  core/solidus_core.gemspec
  core/spec/lib/spree/core/controller_helpers/current_host_spec.rb
Labels: changelog:solidus_api, changelog:solidus_core

#4855 Use `call` in the adjustments recalculator's interface
  core/app/models/spree/order_updater.rb
  core/app/models/spree/promotion/order_adjustments_recalculator.rb
  core/spec/models/spree/order_updater_spec.rb
  core/spec/models/spree/promotion/order_adjustments_recalculator_spec.rb
Labels: changelog:solidus_core

#4853 Improve ransackable attribute class method names
  api/spec/requests/ransackable_attributes_spec.rb
  core/app/models/concerns/spree/ransackable_attributes.rb
  core/app/models/concerns/spree/user_methods.rb
  core/app/models/spree/address.rb
  core/app/models/spree/country.rb
  core/app/models/spree/customer_return.rb
  core/app/models/spree/line_item.rb
  core/app/models/spree/option_type.rb
  core/app/models/spree/option_value.rb
  core/app/models/spree/order.rb
  core/app/models/spree/order_promotion.rb
  core/app/models/spree/price.rb
  core/app/models/spree/product.rb
  core/app/models/spree/product_property.rb
  core/app/models/spree/promotion.rb
  core/app/models/spree/promotion_code.rb
  core/app/models/spree/property.rb
  core/app/models/spree/return_authorization.rb
  core/app/models/spree/shipment.rb
  core/app/models/spree/state.rb
  core/app/models/spree/stock_item.rb
  core/app/models/spree/stock_location.rb
  core/app/models/spree/stock_movement.rb
  core/app/models/spree/tax_rate.rb
  core/app/models/spree/taxon.rb
  core/app/models/spree/taxonomy.rb
  core/app/models/spree/variant.rb
  core/app/models/spree/zone.rb
  core/spec/models/spree/concerns/ransackable_attributes_spec.rb
  core/spec/models/spree/price_spec.rb
Labels: type:enhancement, changelog:solidus_api, changelog:solidus_core

#4856 Revert the deprecation of `#redirect_back_or_default` method
  core/app/models/spree/user_last_url_storer.rb
  core/lib/spree/core/controller_helpers/auth.rb
  core/spec/lib/spree/core/controller_helpers/auth_spec.rb
  core/spec/models/spree/user_last_url_storer_spec.rb
Labels: type:bug, changelog:solidus_core

#4844 Raise a custom extension passing invalid search params
  core/lib/spree/core/search/base.rb
  core/spec/lib/search/base_spec.rb
Labels: type:enhancement, changelog:solidus_core

#4817 Test Solidus against Ruby 3.2
  .circleci/config.yml
Labels: type:enhancement, changelog:repository

#4859 Provide transaction_id and source in try_void
  core/app/models/spree/payment_method.rb
Labels: type:enhancement, changelog:solidus_core

#4857 Improve Ransackable attribute class methods usage
  core/app/models/concerns/spree/ransackable_attributes.rb
Labels: type:enhancement, changelog:solidus_core

#4823 Spree::Payment::Processing refactor
  core/app/models/spree/payment/processing.rb
Labels: changelog:solidus_core

#4861 Improve Bogus (test) Credit Card voiding
  core/app/models/spree/payment_method/bogus_credit_card.rb
  core/app/models/spree/payment_method/simple_bogus_credit_card.rb
  core/spec/models/spree/order/state_machine_spec.rb
  core/spec/models/spree/order_spec.rb
  core/spec/models/spree/payment_method_spec.rb
Labels: type:enhancement, changelog:solidus_core

#4865 Get the paypal payment method option out of pre-release
  core/lib/generators/solidus/install/app_templates/payment_method/paypal.rb
Labels: type:enhancement, changelog:solidus_core

#4869 Remove buildkite test collector until issue is fixed upstream
  Gemfile
  api/spec/spec_helper.rb
  backend/spec/spec_helper.rb
  core/lib/spree/testing_support/buildkite_test_collector.rb
  core/spec/spec_helper.rb
Labels: changelog:solidus_api, changelog:solidus_backend, changelog:solidus_core, changelog:repository, changelog:skip

#4870 Stop using RSpec is_expected with block expectations
  core/spec/models/spree/address/state_validator_spec.rb
  core/spec/models/spree/classification_spec.rb
  core/spec/models/spree/concerns/user_address_book_spec.rb
  core/spec/models/spree/order/checkout_spec.rb
  core/spec/models/spree/order_spec.rb
  core/spec/models/spree/taxon_spec.rb
Labels: type:enhancement, changelog:solidus_core

#4885 Fetch solidus_frontend from RubyGems instead of GitHub
  core/lib/generators/solidus/install/app_templates/frontend/classic.rb
Labels: changelog:solidus_core

#4847 Add a better description for the api key to Stoplight
  api/openapi/authentication.md
  api/openapi/solidus-api.oas.yml
Labels: type:enhancement, changelog:solidus_api

#4884 Fix sticky admin nav on long menu
  backend/app/assets/javascripts/spree/backend/navigation.js
Labels: changelog:solidus_backend

#4880 Fix CI only testing with the legacy event system adapter
  .circleci/config.yml
  core/lib/spree/testing_support/dummy_app.rb
Labels: changelog:solidus_core, backport-v3.2, backport-v3.3

#4888 [v3.2] Fix CI only testing with the legacy event system adapter
  .circleci/config.yml
  core/lib/spree/testing_support/dummy_app.rb
Labels: changelog:solidus_core

#4889 Update the SolidusFrontend dependency to 3.4.0.dev
  core/lib/generators/solidus/install/app_templates/frontend/classic.rb
  solidus.gemspec
Labels: changelog:solidus_core, changelog:solidus
