Repository solidusio/solidus, pull requests merged in 2023-10, with the labels that each got.

#5405 Update backend configuration for solidus `v4.2`
  backend/lib/spree/backend_configuration.rb
Labels: type:bug, changelog:solidus_backend

#5406 Restore using `MenuItem#sections` for matching paths
  backend/lib/spree/backend_configuration/menu_item.rb
  backend/spec/lib/spree/backend_configuration/menu_item_spec.rb
Labels: changelog:solidus_backend, backport-v4.2

#5413 Use bundler gem tasks instead of gem_release
  .gem_release.yml
  Gemfile
  Rakefile
  api/Rakefile
  backend/Rakefile
  core/Rakefile
  sample/Rakefile
Labels: changelog:solidus_api, changelog:solidus_backend, changelog:solidus_core, backport-v3.2, changelog:solidus_sample, changelog:repository, changelog:skip, backport-v3.3, backport-v3.4, backport-v4.0, backport-v4.1, backport-v4.2

#5416 Redefine the release task skipping tag creation
  Rakefile
Labels: changelog:repository, changelog:skip, backport-v4.2

#5421 Exclude Rails 7.1 from the installer in the CI
  .circleci/config.yml
Labels: changelog:repository

#5420 Skip ActionCable for Dummy Apps
  core/lib/generators/spree/dummy/dummy_generator.rb
Labels: changelog:solidus_core

#5399 [Admin] Ensure `action_name` is passed as symbol for `cancancan` authorization
  admin/app/controllers/solidus_admin/controller_helpers/authorization.rb
  admin/app/views/solidus_admin/base/unauthorized.html.erb
  admin/config/locales/errors.en.yml
  admin/spec/controllers/solidus_admin/base_controller_spec.rb
Labels: changelog:solidus_admin

#5404 Fix the link to customization guides
  README.md
  bin/sandbox
Labels: changelog:solidus, changelog:repository

#5423 Skip all the navbar hiding logic when using the new version
  backend/app/assets/javascripts/spree/backend/components/admin_nav.js
Labels: changelog:solidus_backend, backport-v4.2

#5376 [Admin] Add dynamic filters to `ui/table` component
  admin/app/components/solidus_admin/orders/index/component.rb
  admin/app/components/solidus_admin/orders/index/component.yml
  admin/app/components/solidus_admin/products/index/component.rb
  admin/app/components/solidus_admin/ui/table/component.html.erb
  admin/app/components/solidus_admin/ui/table/component.rb
  admin/app/components/solidus_admin/ui/table/ransack_filter/component.html.erb
  admin/app/components/solidus_admin/ui/table/ransack_filter/component.js
  admin/app/components/solidus_admin/ui/table/ransack_filter/component.rb
  admin/app/components/solidus_admin/ui/table/ransack_filter/component.yml
  admin/lib/solidus_admin/configuration.rb
  admin/spec/components/previews/solidus_admin/ui/table/ransack_filter/component_preview.rb
  admin/spec/components/previews/solidus_admin/ui/table/ransack_filter/component_preview/overview.html.erb
  admin/spec/components/solidus_admin/ui/table/ransack_filter/component_spec.rb
Labels: changelog:solidus_admin

#5427 Don't show missing order shipment and payment states
  admin/app/components/solidus_admin/orders/index/component.rb
Labels: changelog:solidus_admin

#5429 [Admin] Ensure labels are clickable by parameterizing ids
  admin/app/components/solidus_admin/ui/table/ransack_filter/component.rb
Labels: changelog:solidus_admin

#5428 Extract the table search field to a component
  admin/app/components/solidus_admin/ui/forms/input/component.rb
  admin/app/components/solidus_admin/ui/forms/search_field/component.html.erb
  admin/app/components/solidus_admin/ui/forms/search_field/component.js
  admin/app/components/solidus_admin/ui/forms/search_field/component.rb
  admin/app/components/solidus_admin/ui/forms/search_field/component.yml
  admin/app/components/solidus_admin/ui/table/component.html.erb
  admin/app/components/solidus_admin/ui/table/component.js
  admin/app/components/solidus_admin/ui/table/component.yml
  admin/spec/components/previews/solidus_admin/ui/forms/search_field/component_preview.rb
  admin/spec/components/previews/solidus_admin/ui/forms/search_field/component_preview/overview.html.erb
  admin/spec/components/solidus_admin/ui/forms/search_field/component_spec.rb
Labels: changelog:solidus_admin

#5431 Add a `ui/thumbnail` component
  admin/app/components/solidus_admin/products/index/component.rb
  admin/app/components/solidus_admin/ui/thumbnail/component.rb
  admin/spec/components/previews/solidus_admin/ui/thumbnail/component_preview.rb
  admin/spec/components/previews/solidus_admin/ui/thumbnail/component_preview/overview.html.erb
  admin/spec/components/solidus_admin/ui/thumbnail/component_spec.rb
Labels: changelog:solidus_admin

#5397 [Admin] Enhance `ui/table` component with clickable rows and URL navigation
  admin/app/components/solidus_admin/orders/index/component.html.erb
  admin/app/components/solidus_admin/orders/index/component.rb
  admin/app/components/solidus_admin/products/index/component.html.erb
  admin/app/components/solidus_admin/products/index/component.rb
  admin/app/components/solidus_admin/ui/table/component.html.erb
  admin/app/components/solidus_admin/ui/table/component.js
  admin/app/components/solidus_admin/ui/table/component.rb
  admin/spec/features/products_spec.rb
Labels: changelog:solidus_admin

#5436 [Admin] Enhance toast message positioning and layering
  admin/app/views/layouts/solidus_admin/application.html.erb
Labels: changelog:solidus_admin

#5434 [Admin] Construct base components for order creation in admin interface
  admin/app/components/solidus_admin/orders/index/component.html.erb
  admin/app/components/solidus_admin/orders/new/component.html.erb
  admin/app/components/solidus_admin/orders/new/component.js
  admin/app/components/solidus_admin/orders/new/component.rb
  admin/app/components/solidus_admin/orders/new/component.yml
  admin/app/controllers/solidus_admin/orders_controller.rb
  admin/config/routes.rb
  admin/spec/components/previews/solidus_admin/orders/new/component_preview.rb
  admin/spec/components/previews/solidus_admin/orders/new/component_preview/overview.html.erb
  admin/spec/components/solidus_admin/orders/new/component_spec.rb
Labels: hold, changelog:solidus_admin

#5439 Admin tooltip improvements
  admin/app/components/solidus_admin/products/show/component.html.erb
  admin/app/components/solidus_admin/ui/panel/component.html.erb
  admin/app/components/solidus_admin/ui/toggletip/component.html.erb
  admin/app/components/solidus_admin/ui/toggletip/component.rb
  admin/spec/components/previews/solidus_admin/ui/toggletip/component_preview.rb
  admin/spec/components/previews/solidus_admin/ui/toggletip/component_preview/overview.html.erb
Labels: changelog:solidus_admin

#5442 [Admin] Enhance toast component: Background color and animations
  admin/app/components/solidus_admin/ui/badge/component.rb
  admin/app/components/solidus_admin/ui/toast/component.html.erb
  admin/app/components/solidus_admin/ui/toast/component.js
  admin/app/components/solidus_admin/ui/toast/component.rb
  admin/app/views/solidus_admin/base/unauthorized.html.erb
  admin/config/solidus_admin/tailwind.config.js.erb
Labels: changelog:solidus_admin

#5445 SolidusAdmin: Extract page layout helpers
  admin/app/components/solidus_admin/layout/page_helpers.rb
  admin/app/components/solidus_admin/orders/new/component.html.erb
  admin/app/components/solidus_admin/orders/new/component.rb
  admin/app/components/solidus_admin/products/index/component.html.erb
  admin/app/components/solidus_admin/products/index/component.rb
  admin/app/components/solidus_admin/products/show/component.html.erb
  admin/app/components/solidus_admin/products/show/component.rb
  admin/app/components/solidus_admin/ui/table/component.html.erb
  admin/app/components/solidus_admin/ui/table/toolbar/component.rb
Labels: changelog:solidus_admin

#5444 SolidusAdmin misc. component fixes
  admin/app/assets/stylesheets/solidus_admin/application.tailwind.css.erb
  admin/app/components/solidus_admin/products/show/component.html.erb
  admin/app/components/solidus_admin/ui/badge/component.rb
  admin/app/components/solidus_admin/ui/button/component.rb
  admin/app/components/solidus_admin/ui/forms/field/component.html.erb
  admin/app/components/solidus_admin/ui/forms/input/component.rb
  admin/app/components/solidus_admin/ui/forms/switch/component.rb
  admin/app/javascript/solidus_admin/controllers/hello_controller.js
  admin/spec/components/previews/solidus_admin/ui/button/component_preview.rb
  admin/spec/components/previews/solidus_admin/ui/forms/input/component_preview/overview.html.erb
Labels: changelog:solidus_admin

#5449 [Admin] Fix `ui/table/toolbar` & restore `clearSearch` & Streamline `feedback` rendering
  admin/app/components/solidus_admin/orders/index/component.html.erb
  admin/app/components/solidus_admin/orders/new/component.html.erb
  admin/app/components/solidus_admin/products/index/component.html.erb
  admin/app/components/solidus_admin/ui/table/component.js
  admin/app/components/solidus_admin/ui/table/toolbar/component.rb
Labels: changelog:solidus_admin

#5446 Solidus legacy color hierarchy
  backend/app/assets/stylesheets/spree/backend/components/_hint.scss
  backend/app/assets/stylesheets/spree/backend/components/_navigation_solidus_admin.scss
  backend/app/assets/stylesheets/spree/backend/shared/_tables.scss
  backend/app/assets/stylesheets/spree/backend/themes/solidus_admin/_variables.scss
Labels: changelog:solidus_backend

#5450 Do not require active_storage/engine
  core/lib/spree/core.rb
Labels: changelog:solidus_core, backport-v3.4, backport-v4.0, backport-v4.1, backport-v4.2

#5441 Add an `orders/cart` component
  admin/app/components/solidus_admin/orders/cart/component.html.erb
  admin/app/components/solidus_admin/orders/cart/component.js
  admin/app/components/solidus_admin/orders/cart/component.rb
  admin/app/components/solidus_admin/orders/cart/component.yml
  admin/app/components/solidus_admin/orders/cart/result/component.html.erb
  admin/app/components/solidus_admin/orders/cart/result/component.js
  admin/app/components/solidus_admin/orders/cart/result/component.rb
  admin/app/components/solidus_admin/orders/index/component.html.erb
  admin/app/components/solidus_admin/orders/show/component.html.erb
  admin/app/components/solidus_admin/orders/show/component.js
  admin/app/components/solidus_admin/orders/show/component.rb
  admin/app/components/solidus_admin/orders/show/component.yml
  admin/app/components/solidus_admin/ui/icon/component.rb
  admin/app/components/solidus_admin/ui/toast/component.html.erb
  admin/app/components/solidus_admin/ui/toast/component.rb
  admin/app/controllers/solidus_admin/line_items_controller.rb
  admin/app/controllers/solidus_admin/orders_controller.rb
  admin/app/javascript/solidus_admin/controllers/confirm_controller.js
  admin/app/javascript/solidus_admin/controllers/readonly_when_submitting_controller.js
  admin/config/locales/line_items.en.yml
  admin/config/routes.rb
  admin/spec/components/previews/solidus_admin/orders/new/component_preview.rb
  admin/spec/components/previews/solidus_admin/orders/new/component_preview/overview.html.erb
  admin/spec/components/solidus_admin/orders/new/component_spec.rb
  admin/spec/features/order_spec.rb
Labels: changelog:solidus_admin

#5457 Restore ERB and JS linting
  .circleci/config.yml
  .eslintrc.json
  .format-erb-ignore
  .hound.yml
  Gemfile
  admin/.eslintrc.json
  admin/app/components/solidus_admin/ui/table/component.html.erb
  admin/app/components/solidus_admin/ui/table/component.js
  admin/app/javascript/solidus_admin/controllers/components.js
  backend/app/views/spree/admin/images/_image_row.html.erb
  core/app/views/spree/order_mailer/inventory_cancellation_email.html.erb
  package.json
Labels: changelog:solidus_backend, changelog:solidus_core, changelog:repository, changelog:solidus_admin

#5458 Fix deactivate_unsupported_payment_methods name
  core/app/models/spree/payment_method.rb
Labels: changelog:solidus_core

#5459 Update pinned chrome version
  .circleci/config.yml
Labels: backport-v3.2, changelog:repository, backport-v3.3, backport-v3.4, backport-v4.0, backport-v4.1, backport-v4.2

#5451 Dynamic `ui/toggletip` positioning
  admin/app/components/solidus_admin/ui/panel/component.js
  admin/app/components/solidus_admin/ui/panel/component.yml
  admin/app/components/solidus_admin/ui/toggletip/component.html.erb
  admin/app/components/solidus_admin/ui/toggletip/component.js
Labels: changelog:solidus_admin

#5464 [4.0] Update pinned chrome version
  .circleci/config.yml
Labels: changelog:repository

#5463 [4.1] Update pinned chrome version
  .circleci/config.yml
Labels: changelog:repository

#5465 [3.4] Update pinned chrome version
  .circleci/config.yml
Labels: changelog:repository

#5466 Configurable promotion handlers
  api/app/controllers/spree/api/coupon_codes_controller.rb
  core/app/models/spree/order.rb
  core/lib/spree/app_configuration.rb
  core/spec/lib/spree/app_configuration_spec.rb
Labels: changelog:solidus_api, changelog:solidus_core

#5364 [Admin] Add modal component
  admin/app/components/solidus_admin/ui/modal/component.html.erb
  admin/app/components/solidus_admin/ui/modal/component.rb
  admin/app/components/solidus_admin/ui/modal/component.yml
  admin/spec/components/previews/solidus_admin/ui/modal/component_preview.rb
  admin/spec/components/previews/solidus_admin/ui/modal/component_preview/with_actions.html.erb
  admin/spec/components/previews/solidus_admin/ui/modal/component_preview/with_form.html.erb
  admin/spec/components/previews/solidus_admin/ui/modal/component_preview/with_text.html.erb
  admin/spec/components/solidus_admin/ui/modal/component_spec.rb
Labels: changelog:solidus_admin

#5467 [Admin] Extract a `ui/search_panel` component from `orders/cart`
  admin/app/assets/stylesheets/solidus_admin/application.tailwind.css.erb
  admin/app/components/solidus_admin/orders/cart/component.html.erb
  admin/app/components/solidus_admin/orders/cart/component.js
  admin/app/components/solidus_admin/orders/cart/component.yml
  admin/app/components/solidus_admin/orders/cart/result/component.html.erb
  admin/app/components/solidus_admin/orders/cart/result/component.js
  admin/app/components/solidus_admin/ui/badge/component.rb
  admin/app/components/solidus_admin/ui/search_panel/component.html.erb
  admin/app/components/solidus_admin/ui/search_panel/component.js
  admin/app/components/solidus_admin/ui/search_panel/component.rb
  admin/app/components/solidus_admin/ui/search_panel/component.yml
  admin/app/components/solidus_admin/ui/search_panel/result/component.rb
  admin/spec/components/previews/solidus_admin/ui/search_panel/component_preview.rb
  admin/spec/components/previews/solidus_admin/ui/search_panel/component_preview/overview.html.erb
  admin/spec/components/solidus_admin/ui/search_panel/component_spec.rb
  admin/spec/features/order_spec.rb
Labels: changelog:solidus_admin

#5468 [Admin] Introduce `ui/forms/address` component for order admin checkout
  admin/app/components/solidus_admin/ui/forms/address/component.html.erb
  admin/app/components/solidus_admin/ui/forms/address/component.js
  admin/app/components/solidus_admin/ui/forms/address/component.rb
  admin/app/components/solidus_admin/ui/forms/input/component.rb
  admin/app/controllers/solidus_admin/countries_controller.rb
  admin/config/routes.rb
  admin/spec/components/previews/solidus_admin/ui/forms/address/component_preview.rb
  admin/spec/components/previews/solidus_admin/ui/forms/address/component_preview/overview.html.erb
  admin/spec/components/solidus_admin/ui/forms/address/component_spec.rb
Labels: changelog:solidus_admin
