Repository solidusio/solidus, pull requests merged in 2023-12, with the labels that each got.

#5530 [Admin] Add `Payment Methods` index component
  admin/app/components/solidus_admin/option_types/index/component.html.erb
  admin/app/components/solidus_admin/option_types/index/component.yml
  admin/app/components/solidus_admin/payment_methods/index/component.html.erb
  admin/app/components/solidus_admin/payment_methods/index/component.rb
  admin/app/components/solidus_admin/payment_methods/index/component.yml
  admin/app/components/solidus_admin/promotion_categories/index/component.html.erb
  admin/app/components/solidus_admin/promotion_categories/index/component.yml
  admin/app/components/solidus_admin/properties/index/component.html.erb
  admin/app/components/solidus_admin/properties/index/component.yml
  admin/app/components/solidus_admin/taxonomies/index/component.html.erb
  admin/app/components/solidus_admin/taxonomies/index/component.yml
  admin/app/components/solidus_admin/ui/table/component.html.erb
  admin/app/components/solidus_admin/ui/table/component.js
  admin/app/components/solidus_admin/ui/table/component.rb
  admin/app/components/solidus_admin/ui/toast/component.html.erb
  admin/app/controllers/solidus_admin/payment_methods_controller.rb
  admin/config/locales/payment_methods.en.yml
  admin/config/routes.rb
  admin/spec/features/payment_methods_spec.rb
  core/app/models/spree/payment_method.rb
Labels: changelog:solidus_core, changelog:solidus_admin

#5535 Fix rubocop violations after the latest release
  api/app/views/spree/api/images/_image.json.jbuilder
  backend/app/controllers/spree/admin/payment_methods_controller.rb
  backend/app/controllers/spree/admin/products_controller.rb
  core/app/models/spree/order.rb
  core/app/models/spree/promotion_handler/coupon.rb
  core/app/models/spree/stock/splitter/shipping_category.rb
  core/lib/spree/core/state_machines/order.rb
  core/lib/spree/money.rb
  sample/db/samples/shipping_methods.rb
Labels: changelog:solidus_api, changelog:solidus_backend, changelog:solidus_core, changelog:solidus_sample

#5534 [admin] Extract common admin resources patterns to a helper
  admin/config/routes.rb
  admin/lib/solidus_admin/admin_resources.rb
Labels: changelog:solidus_admin

#5532 [Admin] Add `Stock Items` index component
  admin/app/components/solidus_admin/orders/index/component.rb
  admin/app/components/solidus_admin/stock_items/index/component.html.erb
  admin/app/components/solidus_admin/stock_items/index/component.rb
  admin/app/components/solidus_admin/stock_items/index/component.yml
  admin/app/components/solidus_admin/ui/table/component.js
  admin/app/components/solidus_admin/ui/table/ransack_filter/component.js
  admin/app/controllers/solidus_admin/stock_items_controller.rb
  admin/config/locales/stock_items.en.yml
  admin/config/routes.rb
  admin/lib/solidus_admin/configuration.rb
  admin/spec/features/stock_items_spec.rb
  core/app/models/spree/stock_item.rb
Labels: changelog:solidus_core, changelog:solidus_admin

#5536 [admin] Add index pages for the settings / shipping area
  admin/app/components/solidus_admin/shipping/component.html.erb
  admin/app/components/solidus_admin/shipping/component.rb
  admin/app/components/solidus_admin/shipping/component.yml
  admin/app/components/solidus_admin/shipping_categories/index/component.html.erb
  admin/app/components/solidus_admin/shipping_categories/index/component.rb
  admin/app/components/solidus_admin/shipping_categories/index/component.yml
  admin/app/components/solidus_admin/shipping_methods/index/component.html.erb
  admin/app/components/solidus_admin/shipping_methods/index/component.rb
  admin/app/components/solidus_admin/shipping_methods/index/component.yml
  admin/app/components/solidus_admin/stock_locations/index/component.html.erb
  admin/app/components/solidus_admin/stock_locations/index/component.rb
  admin/app/components/solidus_admin/stock_locations/index/component.yml
  admin/app/controllers/solidus_admin/shipping_categories_controller.rb
  admin/app/controllers/solidus_admin/shipping_methods_controller.rb
  admin/app/controllers/solidus_admin/stock_locations_controller.rb
  admin/config/locales/shipping_categories.en.yml
  admin/config/locales/shipping_methods.en.yml
  admin/config/locales/stock_locations.en.yml
  admin/config/routes.rb
  admin/spec/features/shipping_categories_spec.rb
  admin/spec/features/shipping_methods_spec.rb
  admin/spec/features/stock_locations_spec.rb
  admin/spec/features/tax_categories_spec.rb
Labels: changelog:solidus_admin

#5542 Setup the pipeline context after bundler has run
  .github/workflows/prepare_post_release.yml
  .github/workflows/prepare_release.yml
  .github/workflows/update_release_draft.yml
Labels: changelog:repository

#5539 [Admin] Add `Refunds and Returns` section with correlated index pages
  admin/app/components/solidus_admin/adjustment_reasons/index/component.html.erb
  admin/app/components/solidus_admin/adjustment_reasons/index/component.rb
  admin/app/components/solidus_admin/adjustment_reasons/index/component.yml
  admin/app/components/solidus_admin/refund_reasons/index/component.html.erb
  admin/app/components/solidus_admin/refund_reasons/index/component.rb
  admin/app/components/solidus_admin/refund_reasons/index/component.yml
  admin/app/components/solidus_admin/refunds_and_returns/component.html.erb
  admin/app/components/solidus_admin/refunds_and_returns/component.rb
  admin/app/components/solidus_admin/refunds_and_returns/component.yml
  admin/app/components/solidus_admin/reimbursement_types/index/component.html.erb
  admin/app/components/solidus_admin/reimbursement_types/index/component.rb
  admin/app/components/solidus_admin/reimbursement_types/index/component.yml
  admin/app/components/solidus_admin/return_reasons/index/component.html.erb
  admin/app/components/solidus_admin/return_reasons/index/component.rb
  admin/app/components/solidus_admin/return_reasons/index/component.yml
  admin/app/components/solidus_admin/store_credit_reasons/index/component.html.erb
  admin/app/components/solidus_admin/store_credit_reasons/index/component.rb
  admin/app/components/solidus_admin/store_credit_reasons/index/component.yml
  admin/app/controllers/solidus_admin/adjustment_reasons_controller.rb
  admin/app/controllers/solidus_admin/refund_reasons_controller.rb
  admin/app/controllers/solidus_admin/reimbursement_types_controller.rb
  admin/app/controllers/solidus_admin/return_reasons_controller.rb
  admin/app/controllers/solidus_admin/store_credit_reasons_controller.rb
  admin/config/locales/adjustment_reasons.en.yml
  admin/config/locales/refund_reasons_.en.yml
  admin/config/locales/reimbursement_types.en.yml
  admin/config/locales/return_reasons.en.yml
  admin/config/locales/store_credit_reasons.en.yml
  admin/config/routes.rb
  admin/spec/features/adjustment_reasons_spec.rb
  admin/spec/features/refund_reasons_spec.rb
  admin/spec/features/reimbursement_types_spec.rb
  admin/spec/features/return_reasons_spec.rb
  admin/spec/features/store_credit_reasons_spec.rb
  core/app/models/spree/adjustment_reason.rb
  core/app/models/spree/refund_reason.rb
  core/app/models/spree/reimbursement_type.rb
  core/app/models/spree/return_reason.rb
  core/app/models/spree/store_credit_reason.rb
Labels: changelog:solidus_core, changelog:solidus_admin

#5544 Set the bundle group globally during GH actions execution
  .github/workflows/prepare_post_release.yml
  .github/workflows/prepare_release.yml
  .github/workflows/update_release_draft.yml
  sample/db/samples/shipping_methods.rb
Labels: changelog:solidus_sample, changelog:repository, changelog:skip

#5545 Cleanup the database configuration
  .circleci/config.yml
  core/lib/generators/spree/dummy/templates/rails/database.yml
  core/lib/spree/testing_support/dummy_app/database.yml
Labels: changelog:solidus_core, changelog:repository

#5543 [Admin] Add `stock_items/edit` modal component
  .circleci/config.yml
  admin/app/components/solidus_admin/orders/cart/component.html.erb
  admin/app/components/solidus_admin/stock_items/edit/component.html.erb
  admin/app/components/solidus_admin/stock_items/edit/component.js
  admin/app/components/solidus_admin/stock_items/edit/component.rb
  admin/app/components/solidus_admin/stock_items/edit/component.yml
  admin/app/components/solidus_admin/stock_items/index/component.html.erb
  admin/app/components/solidus_admin/stock_items/index/component.rb
  admin/app/components/solidus_admin/ui/forms/field/component.rb
  admin/app/components/solidus_admin/ui/forms/switch/component.rb
  admin/app/components/solidus_admin/ui/forms/switch_field/component.html.erb
  admin/app/components/solidus_admin/ui/forms/switch_field/component.rb
  admin/app/components/solidus_admin/ui/resource_item/component.html.erb
  admin/app/components/solidus_admin/ui/resource_item/component.rb
  admin/app/controllers/solidus_admin/stock_items_controller.rb
  admin/config/initializers/view_component.rb
  admin/config/routes.rb
  admin/spec/components/previews/solidus_admin/ui/forms/switch_field/component_preview.rb
  admin/spec/components/previews/solidus_admin/ui/forms/switch_field/component_preview/overview.html.erb
  admin/spec/components/previews/solidus_admin/ui/resource_item/component_preview.rb
  admin/spec/components/previews/solidus_admin/ui/resource_item/component_preview/overview.html.erb
  admin/spec/components/solidus_admin/ui/forms/switch_field/component_spec.rb
  admin/spec/components/solidus_admin/ui/resource_item/component_spec.rb
Labels: changelog:repository, changelog:solidus_admin

#5548 [Admin] Enhancements to filter toolbar and dropdown visibility
  admin/app/components/solidus_admin/ui/table/component.html.erb
  admin/app/components/solidus_admin/ui/table/ransack_filter/component.html.erb
  admin/app/components/solidus_admin/ui/table/toolbar/component.rb
Labels: changelog:solidus_admin

#5547 [admin] Relax the SolidusAdmin dependency on Solidus core
  admin/solidus_admin.gemspec
Labels: changelog:solidus_admin

#5552 [admin] Performance fixes
  admin/app/components/solidus_admin/orders/index/component.rb
  admin/app/components/solidus_admin/orders/index/component.yml
  admin/app/components/solidus_admin/products/index/component.rb
  admin/app/controllers/solidus_admin/products_controller.rb
Labels: changelog:solidus_admin

#5549 [Admin] Implement `enable_alpha_features?` preference config for selective feature access
  admin/config/routes.rb
  admin/lib/solidus_admin/configuration.rb
  admin/spec/features/order_spec.rb
  admin/spec/features/product_spec.rb
  admin/spec/features/products_spec.rb
Labels: changelog:solidus_admin

#5553 Add a missing YAML reference to the default database config
  .circleci/config.yml
  core/lib/generators/spree/dummy/templates/rails/database.yml
Labels: changelog:solidus_core, changelog:repository, backport-v4.2

#5505 Update the spree.rb.tt stripe configuration instructions for v5 of solidus_stripe
  core/lib/generators/solidus/install/templates/config/initializers/spree.rb.tt
Labels: changelog:solidus_core

#5556 Stop using teaspoon from source
  Gemfile
Labels: changelog:repository

#5557 Fix down migration
  core/db/migrate/20230427095534_drop_deprecated_address_id_from_shipments.rb
Labels: changelog:solidus_core

#5541 Deprecate `Spree::NamedType`
  core/app/models/concerns/spree/named_type.rb
  core/app/models/spree/refund_reason.rb
  core/app/models/spree/reimbursement_type.rb
  core/app/models/spree/return_reason.rb
  core/app/models/spree/store_credit_reason.rb
Labels: changelog:solidus_core

#5554 [admin] Provide a pre-built CSS file and a script to customize TW for local modifications
  .eslintrc.json
  .gitignore
  .rubocop.yml
  .rubocop_todo.yml
  Gemfile
  Procfile.dev
  admin/Rakefile
  admin/app/assets/builds/.keep
  admin/app/assets/config/solidus_admin_manifest.js
  admin/app/assets/stylesheets/solidus_admin/application.tailwind.css
  admin/app/assets/stylesheets/solidus_admin/application.tailwind.css.erb
  admin/app/views/layouts/solidus_admin/application.html.erb
  admin/app/views/layouts/solidus_admin/preview.html.erb
  admin/config/tailwind.config.js
  admin/docs/customizing_tailwind.md
  admin/docs/customizing_tailwindcss.md
  admin/lib/generators/solidus_admin/install/install_generator.rb
  admin/lib/generators/solidus_admin/install/templates/config/initializers/solidus_admin.rb.tt
  admin/lib/solidus_admin.rb
  admin/lib/solidus_admin/configuration.rb
  admin/lib/solidus_admin/install_tailwindcss.rb
  admin/lib/solidus_admin/tailwindcss.rb
  admin/lib/tasks/tailwind.rake
  admin/lib/tasks/tailwindcss.rake
  admin/solidus_admin.gemspec
  admin/spec/spec_helper.rb
  core/lib/spree/testing_support/dummy_app.rb
Labels: changelog:solidus_core, changelog:repository, changelog:solidus_admin

#5558 [admin] Build the admin CSS before running the specs
  admin/app/components/solidus_admin/layout/navigation/item/component.html.erb
  admin/app/components/solidus_admin/ui/forms/field/component.html.erb
  admin/app/components/solidus_admin/ui/forms/input/component.rb
  admin/spec/spec_helper.rb
Labels: changelog:solidus_admin

#5555 [admin] Reuse the same class name as Backend for MenuItem
  admin/README.md
  admin/app/components/solidus_admin/layout/navigation/component.rb
  admin/app/components/solidus_admin/layout/navigation/item/component.rb
  admin/config/locales/menu_item.en.yml
  admin/docs/customizing_menu_items.md
  admin/docs/customizing_view_components.md
  admin/lib/generators/solidus_admin/install/templates/config/initializers/solidus_admin.rb.tt
  admin/lib/solidus_admin.rb
  admin/lib/solidus_admin/menu_item.rb
  admin/spec/components/previews/solidus_admin/layout/navigation/component_preview.rb
  admin/spec/components/previews/solidus_admin/layout/navigation/item/component_preview.rb
  admin/spec/components/previews/solidus_admin/typography/typography_preview.rb
  admin/spec/components/solidus_admin/layout/navigation/item/component_spec.rb
  admin/spec/solidus_admin/menu_item_spec.rb
Labels: changelog:solidus_admin

#5422 Enhance log message for Bogus payments
  core/app/models/spree/payment_method/bogus_credit_card.rb
  core/app/models/spree/payment_method/simple_bogus_credit_card.rb
  core/spec/models/spree/refund_spec.rb
Labels: changelog:solidus_core

#5359 Rails 7.1 support
  .circleci/config.yml
  Gemfile
  admin/config/initializers/view_component.rb
  admin/spec/spec_helper.rb
  backend/app/controllers/spree/admin/orders_controller.rb
  core/app/models/spree/address.rb
  core/app/models/spree/credit_card.rb
  core/app/models/spree/order.rb
  core/app/models/spree/preference.rb
  core/app/models/spree/return_item.rb
  core/app/models/spree/shipping_rate.rb
  core/lib/generators/spree/dummy/templates/rails/test.rb
  core/lib/spree/core.rb
  core/lib/spree/core/engine.rb
  core/lib/spree/preferences/persistable.rb
  core/lib/spree/ransack_4_1_patch.rb
  core/lib/spree/testing_support/dummy_app.rb
  core/lib/spree/testing_support/dummy_app/rake_tasks.rb
  core/solidus_core.gemspec
  core/spec/helpers/base_helper_spec.rb
  core/spec/lib/spree/core/controller_helpers/auth_spec.rb
  core/spec/models/spree/preferences/preferable_spec.rb
  sample/db/samples/orders.rb
Labels: changelog:solidus_backend, changelog:solidus_core, changelog:solidus_sample, changelog:repository, changelog:solidus_admin

#5559 [Admin] Refactor admin components for consistent code style
  admin/app/components/solidus_admin/adjustment_reasons/index/component.html.erb
  admin/app/components/solidus_admin/adjustment_reasons/index/component.rb
  admin/app/components/solidus_admin/layout/feedback/component.yml
  admin/app/components/solidus_admin/layout/navigation/account/component.rb
  admin/app/components/solidus_admin/layout/navigation/component.rb
  admin/app/components/solidus_admin/layout/skip_link/component.rb
  admin/app/components/solidus_admin/option_types/index/component.html.erb
  admin/app/components/solidus_admin/option_types/index/component.rb
  admin/app/components/solidus_admin/orders/cart/component.yml
  admin/app/components/solidus_admin/orders/index/component.html.erb
  admin/app/components/solidus_admin/orders/index/component.rb
  admin/app/components/solidus_admin/orders/index/component.yml
  admin/app/components/solidus_admin/orders/show/address/component.yml
  admin/app/components/solidus_admin/orders/show/component.js
  admin/app/components/solidus_admin/orders/show/component.yml
  admin/app/components/solidus_admin/payment_methods/index/component.html.erb
  admin/app/components/solidus_admin/payment_methods/index/component.rb
  admin/app/components/solidus_admin/products/index/component.html.erb
  admin/app/components/solidus_admin/products/index/component.rb
  admin/app/components/solidus_admin/promotion_categories/index/component.html.erb
  admin/app/components/solidus_admin/promotion_categories/index/component.rb
  admin/app/components/solidus_admin/promotions/index/component.html.erb
  admin/app/components/solidus_admin/promotions/index/component.rb
  admin/app/components/solidus_admin/properties/index/component.html.erb
  admin/app/components/solidus_admin/properties/index/component.rb
  admin/app/components/solidus_admin/refund_reasons/index/component.html.erb
  admin/app/components/solidus_admin/refund_reasons/index/component.rb
  admin/app/components/solidus_admin/reimbursement_types/index/component.html.erb
  admin/app/components/solidus_admin/reimbursement_types/index/component.rb
  admin/app/components/solidus_admin/return_reasons/index/component.html.erb
  admin/app/components/solidus_admin/return_reasons/index/component.rb
  admin/app/components/solidus_admin/shipping_categories/index/component.html.erb
  admin/app/components/solidus_admin/shipping_categories/index/component.rb
  admin/app/components/solidus_admin/shipping_methods/index/component.html.erb
  admin/app/components/solidus_admin/shipping_methods/index/component.rb
  admin/app/components/solidus_admin/stock_items/index/component.html.erb
  admin/app/components/solidus_admin/stock_locations/index/component.html.erb
  admin/app/components/solidus_admin/stock_locations/index/component.rb
  admin/app/components/solidus_admin/store_credit_reasons/index/component.html.erb
  admin/app/components/solidus_admin/store_credit_reasons/index/component.rb
  admin/app/components/solidus_admin/stores/index/component.html.erb
  admin/app/components/solidus_admin/stores/index/component.rb
  admin/app/components/solidus_admin/tax_categories/index/component.html.erb
  admin/app/components/solidus_admin/tax_categories/index/component.rb
  admin/app/components/solidus_admin/tax_rates/index/component.html.erb
  admin/app/components/solidus_admin/tax_rates/index/component.rb
  admin/app/components/solidus_admin/taxonomies/index/component.html.erb
  admin/app/components/solidus_admin/taxonomies/index/component.rb
  admin/app/components/solidus_admin/ui/table/component.rb
  admin/app/components/solidus_admin/ui/table/ransack_filter/component.yml
  admin/app/components/solidus_admin/users/index/component.html.erb
  admin/app/components/solidus_admin/users/index/component.rb
  admin/app/components/solidus_admin/zones/index/component.html.erb
  admin/app/components/solidus_admin/zones/index/component.rb
  admin/app/controllers/solidus_admin/option_types_controller.rb
  admin/app/controllers/solidus_admin/products_controller.rb
  admin/app/controllers/solidus_admin/promotion_categories_controller.rb
  admin/app/controllers/solidus_admin/taxonomies_controller.rb
  admin/config/locales/menu_item.en.yml
Labels: changelog:solidus_admin

#5562 [Admin] Include pagination in `payment_methods/index` component
  admin/app/components/solidus_admin/payment_methods/index/component.html.erb
  admin/app/components/solidus_admin/payment_methods/index/component.rb
  admin/app/controllers/solidus_admin/payment_methods_controller.rb
Labels: changelog:solidus_admin

#5498 Use configurable promo adjuster in callback
  core/app/models/spree/adjustment.rb
  core/app/models/spree/order.rb
  core/spec/models/spree/adjustment_spec.rb
Labels: changelog:solidus_core

#5540 chore(admin): restyle legacy UI flash to not overlap buttons
  backend/app/assets/stylesheets/spree/backend/components/_messages.scss
Labels: changelog:solidus_backend

#5563 Enable the admin preview by default for new installations
  core/lib/generators/solidus/install/install_generator.rb
Labels: changelog:solidus_core

#5567 Update installer specs to match the new starter content
  .circleci/config.yml
Labels: changelog:repository

#5566 Remove unused action in controller callbacks
  admin/app/controllers/solidus_admin/promotion_categories_controller.rb
  api/app/controllers/spree/api/customer_returns_controller.rb
  api/app/controllers/spree/api/payments_controller.rb
  api/app/controllers/spree/api/stock_movements_controller.rb
  backend/app/controllers/spree/admin/adjustments_controller.rb
  core/lib/spree/testing_support/dummy_app.rb
Labels: changelog:solidus_api, changelog:solidus_backend, changelog:solidus_core, changelog:solidus_admin

#5569 Ensure the customer returns specs leverages time outs
  backend/spec/features/admin/orders/customer_returns_spec.rb
Labels: changelog:solidus_backend

#5573 Update the procfile to include the TW build for the frontend
  Procfile.dev
Labels: changelog:repository

#5575 Split the main Rakefile into themed sub-files
  .circleci/config.yml
  .eslintrc.json
  .gitignore
  .rubocop.yml
  Gemfile
  Rakefile
  tasks/cleaning.rake
  tasks/linting.rake
  tasks/releasing.rake
  tasks/testing.rake
Labels: changelog:repository
