Repository solidusio/solidus, pull requests merged in 2023-05, with the labels that each got.

#5061 [v3.4] Deprecate other code related to old factories loading
  core/lib/spree/testing_support.rb
  core/lib/spree/testing_support/factory_bot.rb
Labels: changelog:solidus_core

#5060 Fix generating the dummy app for extensions using solidus_frontend
  .circleci/config.yml
  core/lib/spree/testing_support/common_rake.rb
Labels: type:bug, changelog:solidus_core, release:major

#5063 Remove deprecated spree/testing_support file
  core/lib/spree/testing_support.rb
Labels: changelog:solidus_core, release:major

#5069 SolidusAdmin conditional routing
  admin/config/routes.rb
  admin/lib/generators/solidus_admin/install/install_generator.rb
  core/lib/generators/solidus/install/install_generator.rb
Labels: changelog:solidus_core, changelog:repository

#5070 Install & configure Tailwind for solidus_admin
  Gemfile
  Procfile.dev
  admin/Rakefile
  admin/app/assets/builds/solidus_admin.css
  admin/app/assets/config/solidus_admin_manifest.js
  admin/app/assets/stylesheets/application.tailwind.css
  admin/app/controllers/solidus_admin/.keep
  admin/app/controllers/solidus_admin/orders_controller.rb
  admin/app/views/layouts/solidus_admin/application.html.erb
  admin/app/views/solidus_admin/orders/index.html.erb
  admin/config/routes.rb
  admin/config/tailwind.config.js
  admin/lib/solidus_admin/engine.rb
  bin/dev
  solidus.gemspec
Labels: changelog:solidus, changelog:repository

#5077 [v3.4] Backport recent changes to the development tools
  .github/workflows/ensure_changelog_label.yml
  .github/workflows/prepare_post_release.yml
  .github/workflows/prepare_release.yml
  .github/workflows/update_release_draft.yml
  dev_tools/lib/solidus/pipeline_context.rb
  dev_tools/spec/lib/solidus/pipeline_context_spec.rb
  dev_tools/spec/lib/solidus/release_drafter_spec.rb
Labels: changelog:repository, changelog:skip

#5078 [v3.3] Backport recent changes to the development tools
  .github/workflows/ensure_changelog_label.yml
  .github/workflows/prepare_post_release.yml
  .github/workflows/prepare_release.yml
  .github/workflows/update_release_draft.yml
  dev_tools/bin/bump-starter-frontend-version
  dev_tools/lib/solidus/pipeline_context.rb
  dev_tools/lib/solidus/release_drafter.rb
  dev_tools/lib/solidus/release_drafter/builder.rb
  dev_tools/spec/lib/solidus/pipeline_context_spec.rb
  dev_tools/spec/lib/solidus/release_drafter/builder_spec.rb
  dev_tools/spec/lib/solidus/release_drafter_spec.rb
Labels: changelog:repository, changelog:skip

#5079 [v3.2] Backport recent changes to the development tools
  .github/workflows/ensure_changelog_label.yml
  .github/workflows/prepare_post_release.yml
  .github/workflows/prepare_release.yml
  .github/workflows/update_release_draft.yml
  dev_tools/bin/bump-starter-frontend-version
  dev_tools/lib/solidus/pipeline_context.rb
  dev_tools/lib/solidus/release_drafter.rb
  dev_tools/lib/solidus/release_drafter/builder.rb
  dev_tools/spec/lib/solidus/pipeline_context_spec.rb
  dev_tools/spec/lib/solidus/release_drafter/builder_spec.rb
  dev_tools/spec/lib/solidus/release_drafter_spec.rb
Labels: changelog:repository, changelog:skip

#5082 Revert "Fix selenium-webdriver version to avoid bug"
  Gemfile
Labels: type:enhancement, changelog:repository

#5058 Remove frontend related code from the core dummy app
  core/lib/spree/testing_support/dummy_app.rb
  core/lib/spree/testing_support/dummy_app/assets/javascripts/spree/frontend/all.js
  core/lib/spree/testing_support/dummy_app/assets/stylesheets/spree/frontend/all.css
  core/lib/spree/testing_support/dummy_app/views/layouts/application.html.erb
Labels: changelog:solidus_core

#5072 Make Spree::MigrationHelpers Ruby 3.0 compatible
  core/lib/spree/migration_helpers.rb
  core/spec/lib/spree/migration_helpers_spec.rb
Labels: changelog:solidus_core, backport-v3.2, backport-v3.1, backport-v3.3, backport-v3.4, backport-v4.0

#5108 [v4.0] Fix development version
  core/lib/spree/core/version.rb
Labels: changelog:solidus_core, changelog:skip

#5075 Relax rubocop version requirement and add it to the CI
  .circleci/config.yml
  .rubocop.yml
  .rubocop_todo.yml
  Gemfile
  api/app/views/spree/api/payments/source_views/_check.json.jbuilder
  api/app/views/spree/api/payments/source_views/_gateway.json.jbuilder
  api/app/views/spree/api/payments/source_views/_store_credit.json.jbuilder
  backend/app/concerns/spree/admin/sets_user_language_locale_key.rb
  backend/spec/features/admin/promotions/promotion_categories_spec.rb
  core/app/models/spree/order.rb
  core/lib/spree/bus.rb
  core/spec/lib/spree/migration_helpers_spec.rb
  core/spec/models/spree/taxon_spec.rb
Labels: changelog:solidus_api, changelog:solidus_backend, changelog:solidus_core, changelog:repository
