Repository solidusio/solidus, pull requests merged in 2023-08, with the labels that each got.

#5257 [Admin] Implement search bar in product listing index
  admin/app/components/solidus_admin/base_component.rb
  admin/app/components/solidus_admin/products/index/component.html.erb
  admin/app/components/solidus_admin/products/index/component.rb
  admin/app/components/solidus_admin/ui/table/component.html.erb
  admin/app/components/solidus_admin/ui/table/component.js
  admin/app/components/solidus_admin/ui/table/component.rb
  admin/app/components/solidus_admin/ui/table/component.yml
  admin/app/components/solidus_admin/ui/table/pagination/component.html.erb
  admin/app/components/solidus_admin/ui/table/pagination/component.rb
  admin/app/controllers/solidus_admin/products_controller.rb
  admin/app/javascript/solidus_admin/application.js
  admin/app/javascript/solidus_admin/utils.js
  admin/config/importmap.rb
  admin/lib/solidus_admin/configuration.rb
  admin/spec/components/previews/solidus_admin/ui/table/component_preview.rb
  admin/spec/components/previews/solidus_admin/ui/table/component_preview/simple.html.erb
Labels: changelog:solidus_admin

#5296 [Admin] Add filter toolbar for enhanced search functionality
  admin/app/components/solidus_admin/products/index/component.html.erb
  admin/app/components/solidus_admin/products/index/component.rb
  admin/app/components/solidus_admin/products/index/component.yml
  admin/app/components/solidus_admin/ui/table/component.html.erb
  admin/app/components/solidus_admin/ui/table/component.js
  admin/app/components/solidus_admin/ui/table/component.rb
  admin/app/components/solidus_admin/ui/table/component.yml
Labels: changelog:solidus_admin

#5302 [Admin] Add external id param to enhance table component flexibility
  admin/app/components/solidus_admin/products/index/component.html.erb
  admin/app/components/solidus_admin/ui/table/component.rb
  admin/spec/components/previews/solidus_admin/ui/table/component_preview.rb
Labels: changelog:solidus_admin

#5300 [Admin] Add clear button visibility check for search input
  admin/app/components/solidus_admin/ui/table/component.html.erb
Labels: changelog:solidus_admin

#5297 [Admin] Add support for switching locale
  admin/app/components/solidus_admin/base_component.rb
  admin/app/components/solidus_admin/sidebar/account_nav/component.html.erb
  admin/app/controllers/solidus_admin/base_controller.rb
Labels: changelog:solidus_admin

#5299 [Admin] Add toggle switch component
  admin/app/components/solidus_admin/ui/forms/switch/component.rb
  admin/spec/components/previews/solidus_admin/ui/forms/switch/component_preview.rb
  admin/spec/components/previews/solidus_admin/ui/forms/switch/component_preview/overview.html.erb
  admin/spec/components/solidus_admin/ui/forms/switch/component_spec.rb
Labels: changelog:solidus_admin

#5298 [Admin] back port the account navigation to solidus_backend
  backend/app/assets/images/spree/backend/themes/solidus_admin/remixicon.symbol.svg
  backend/app/assets/stylesheets/spree/backend/components/_navigation_solidus_admin.scss
  backend/app/assets/stylesheets/spree/backend/themes/solidus_admin/_colors.scss
  backend/app/assets/stylesheets/spree/backend/themes/solidus_admin/_tables.scss
  backend/app/assets/stylesheets/spree/backend/themes/solidus_admin/_variables.scss
  backend/app/views/spree/admin/shared/_navigation_solidus_admin.html.erb
Labels: changelog:solidus_backend

#5304 [Admin] align menu items and logo between admin and backend
  admin/app/assets/images/solidus_admin/solidus_logo.svg
  admin/app/components/solidus_admin/sidebar/component.html.erb
  admin/app/components/solidus_admin/sidebar/item/component.html.erb
  admin/app/components/solidus_admin/sidebar/item/component.rb
  admin/app/components/solidus_admin/sidebar/item/component.yml
  admin/app/components/solidus_admin/ui/icon/component.rb
  admin/config/locales/main_nav.en.yml
  admin/lib/solidus_admin/main_nav_item.rb
  admin/lib/solidus_admin/providers/main_nav.rb
  backend/app/assets/stylesheets/spree/backend/components/_navigation_solidus_admin.scss
  backend/app/assets/stylesheets/spree/backend/themes/solidus_admin/_variables.scss
  backend/app/helpers/spree/admin/navigation_helper.rb
  backend/lib/spree/backend_configuration.rb
  core/app/assets/images/logo/solidus.svg
Labels: changelog:solidus_backend, changelog:solidus_core, changelog:solidus_admin

#4177 Fix Spree::Api:LineItemsController#create handling validation errors
  api/app/controllers/spree/api/line_items_controller.rb
  api/spec/requests/spree/api/line_items_spec.rb
Labels: type:enhancement, changelog:solidus_api

#5290 Update deprecation horizon
  core/lib/spree/deprecation.rb
Labels: changelog:solidus_core, backport-v4.0, backport-v4.1

#5308 [Admin] Move product index title logic to the component class
  admin/app/components/solidus_admin/products/index/component.html.erb
  admin/app/components/solidus_admin/products/index/component.rb
Labels: type:enhancement, changelog:solidus_admin

#5310 Update Solidus logo
  logo.svg
Labels: changelog:repository

#5314 Use the new Solidus logo
  core/app/assets/images/logo/solidus.svg
  core/app/assets/images/logo/solidus_logo.png
Labels: changelog:solidus_core

#5318 Fix offense after RuboCop 1.56
  core/spec/models/spree/preferences/statically_configurable_spec.rb
Labels: type:bug, changelog:solidus_core

#5317 [Admin] Focus on the search field when rendered
  admin/app/components/solidus_admin/ui/table/component.js
Labels: type:enhancement, changelog:solidus_admin

#5285 Add Armenian language translations for `Select2` plugin
  backend/vendor/assets/javascripts/solidus_admin/select2_locales/select2_locale_hy.js
Labels: changelog:solidus_backend

#5249 Reorganize simple stock coordinator for improve debugging
  core/app/models/spree/stock/simple_coordinator.rb
Labels: changelog:solidus_core

#5322 Bump the minimum required Psych version
  core/solidus_core.gemspec
Labels: changelog:solidus_core, backport-v3.4, backport-v4.0, backport-v4.1

#5323 [Admin] Add a label to the batch actions form to make it a landmark
  admin/app/components/solidus_admin/ui/table/component.html.erb
  admin/app/components/solidus_admin/ui/table/component.yml
Labels: type:enhancement, changelog:solidus_admin

#5321 [Admin] Tweaks for search area a11y
  admin/app/components/solidus_admin/ui/table/component.html.erb
  admin/config/solidus_admin/tailwind.config.js.erb
Labels: type:enhancement, changelog:solidus_admin

#5330 Fix error added when resetting order flow on an empty order
  core/app/models/spree/order.rb
  core/spec/models/spree/order_spec.rb
Labels: type:bug, changelog:solidus_core, backport-v3.2, backport-v3.3, backport-v3.4, backport-v4.0, backport-v4.1

#5350 [Admin] Add text_field component
  admin/app/components/solidus_admin/ui/forms/text_field/component.rb
  admin/spec/components/previews/solidus_admin/ui/forms/text_field/component_preview.rb
  admin/spec/components/previews/solidus_admin/ui/forms/text_field/component_preview/overview.html.erb
  admin/spec/components/previews/solidus_admin/ui/forms/text_field/component_preview/playground.html.erb
  admin/spec/components/solidus_admin/ui/forms/text_field/component_spec.rb
Labels: type:enhancement, changelog:solidus_admin

#5353 Fix wrong translation key in pagination component
  admin/app/components/solidus_admin/ui/table/pagination/component.yml
Labels: type:bug, changelog:solidus_admin

#5352 Warn against Deface interference in Changelog for v3.2
  CHANGELOG.md
Labels: changelog:repository

#5355 [Admin] Extract product status component
  admin/app/components/solidus_admin/products/index/component.rb
  admin/app/components/solidus_admin/products/index/component.yml
  admin/app/components/solidus_admin/products/status/component.rb
  admin/app/components/solidus_admin/products/status/component.yml
  admin/spec/components/previews/solidus_admin/products/status/component_preview.rb
  admin/spec/components/previews/solidus_admin/products/status/component_preview/overview.html.erb
  admin/spec/components/solidus_admin/products/status/component_spec.rb
Labels: changelog:solidus_admin

#5357 [Admin] Add toggletip component
  admin/app/components/solidus_admin/ui/toggletip/component.erb
  admin/app/components/solidus_admin/ui/toggletip/component.js
  admin/app/components/solidus_admin/ui/toggletip/component.rb
  admin/app/components/solidus_admin/ui/toggletip/component.yml
  admin/spec/components/previews/solidus_admin/ui/toggletip/component_preview.rb
  admin/spec/components/previews/solidus_admin/ui/toggletip/component_preview/overview.html.erb
  admin/spec/components/previews/solidus_admin/ui/toggletip/component_preview/playground.html.erb
  admin/spec/components/solidus_admin/ui/toggletip/component_spec.rb
Labels: type:enhancement, changelog:solidus_admin

#5361 [Admin] Fix the legacy switcher not working on different paths
  admin/app/components/solidus_admin/sidebar/component.js
  backend/app/assets/javascripts/spree/backend/components/admin_nav.js
Labels: type:bug, changelog:solidus_backend, changelog:solidus_admin

#5362 [Admin] Fix color applied to the hint of disabled form fields
  admin/app/components/solidus_admin/ui/forms/guidance/component.rb
  admin/app/components/solidus_admin/ui/forms/text_area/component.rb
  admin/app/components/solidus_admin/ui/forms/text_field/component.rb
Labels: type:bug, changelog:solidus_admin

#5358 [Admin] Add fieldset component
  admin/app/components/solidus_admin/ui/forms/fieldset/component.erb
  admin/app/components/solidus_admin/ui/forms/fieldset/component.rb
  admin/spec/components/previews/solidus_admin/ui/forms/fieldset/component_preview.rb
  admin/spec/components/previews/solidus_admin/ui/forms/fieldset/component_preview/overview.html.erb
  admin/spec/components/solidus_admin/ui/forms/fieldset/component_spec.rb
Labels: type:enhancement, changelog:solidus_admin

#5363 [Admin] Add select component
  admin/app/components/solidus_admin/ui/forms/select/component.js
  admin/app/components/solidus_admin/ui/forms/select/component.rb
  admin/spec/components/previews/solidus_admin/ui/forms/select/component_preview.rb
  admin/spec/components/previews/solidus_admin/ui/forms/select/component_preview/overview.html.erb
  admin/spec/components/previews/solidus_admin/ui/forms/select/component_preview/playground.html.erb
  admin/spec/components/solidus_admin/ui/forms/select/component_spec.rb
Labels: type:enhancement, changelog:solidus_admin
