Repository solidusio/solidus, pull requests merged in 2023-02, with the labels that each got.

#4876 Deprecate `Admin::OrdersHelper#line_item_shipment_price`
  backend/app/helpers/spree/admin/orders_helper.rb
  backend/app/views/spree/admin/orders/_carton_manifest.html.erb
  backend/app/views/spree/admin/orders/_shipment_manifest.html.erb
  backend/app/views/spree/admin/orders/confirm/_line_items.html.erb
  backend/app/views/spree/admin/orders/confirm/_shipment_manifest.html.erb
Labels: changelog:solidus_backend

#4892 Improve Product Details tab layout
  backend/app/views/spree/admin/products/_form.html.erb
Labels: type:bug, changelog:solidus_backend

#4893 Retry flaky specs automatically
  Gemfile
  backend/spec/controllers/spree/admin/customer_returns_controller_spec.rb
  backend/spec/features/admin/products/edit/taxons_spec.rb
  backend/spec/features/admin/users_spec.rb
  backend/spec/spec_helper.rb
  core/lib/spree/testing_support/flaky.rb
  core/spec/models/spree/order_inventory_spec.rb
  core/spec/spec_helper.rb
Labels: type:enhancement, changelog:solidus_backend, changelog:solidus_core, changelog:repository

#4875 Fix publishing events responding to #to_hash on Ruby 2.7
  core/lib/spree/bus.rb
  core/spec/lib/spree/bus_spec.rb
Labels: changelog:solidus_core, backport-v3.2, backport-v3.3

#4886 Add the `/admin/orders/:number` route
  backend/app/controllers/spree/admin/orders_controller.rb
  backend/config/routes.rb
  backend/spec/controllers/spree/admin/orders_controller_spec.rb
Labels: changelog:solidus_backend

#4897 Fix link to the contribution document
  README.md
Labels: changelog:solidus, changelog:skip

#4898 Point the Solidus Installer to the right Starter Frontend version
  core/lib/generators/solidus/install/app_templates/frontend/starter.rb
Labels: changelog:solidus_core

#4883 Risk analysis box update
  backend/app/controllers/spree/admin/payments_controller.rb
  backend/app/views/spree/admin/orders/_risk_analysis.html.erb
  backend/app/views/spree/admin/orders/cart.html.erb
  backend/app/views/spree/admin/orders/edit.html.erb
  backend/app/views/spree/admin/payments/_list.html.erb
  backend/app/views/spree/admin/payments/source_views/_gateway.html.erb
  core/README.md
  core/app/models/spree/payment.rb
  core/app/models/spree/payment_method/credit_card.rb
  core/spec/models/spree/payment_spec.rb
Labels: changelog:solidus_backend, changelog:solidus_core

#4900 Link to how to sign in the API with solidus_auth_devise
  api/openapi/authentication.md
Labels: changelog:solidus_api

#4905 Fix CI only testing with the paperclip adapter
  core/lib/spree/testing_support/dummy_app.rb
  core/spec/models/spree/concerns/active_storage_adapter/attachment_spec.rb
  core/spec/rails_helper.rb
Labels: changelog:solidus_core, backport-v3.2, backport-v3.3

#4198 Fix AddPaymentSourcesToWallet changing default when reused
  core/app/models/spree/wallet/add_payment_sources_to_wallet.rb
  core/spec/models/spree/wallet/add_payment_sources_to_wallet_spec.rb
Labels: type:bug, changelog:solidus_core

#4923 Use JS in the sandbox app
  .circleci/config.yml
  bin/sandbox
Labels: type:enhancement, changelog:repository

#4931 [v3.1] Remove Slack notifications for CI failures
  .circleci/config.yml
Labels: changelog:repository

#4930 [v3.2] Remove Slack notifications for CI failures
  .circleci/config.yml
Labels: changelog:repository

#4929 [v3.3] Remove Slack notifications for CI failures
  .circleci/config.yml
Labels: changelog:repository

#4928 Remove Slack notifications for CI failures
  .circleci/config.yml
Labels: type:bug, changelog:repository

#4925 Fix duplicate context name in spec
  core/spec/models/spree/user_spec.rb
Labels: changelog:solidus_core

#4924 Reduce size of sample images
  sample/db/samples/assets.rb
  sample/db/samples/images/ruby_hoodie.jpg
  sample/db/samples/images/ruby_hoodie_zip.jpg
  sample/db/samples/images/ruby_mug.jpg
  sample/db/samples/images/ruby_polo.jpg
  sample/db/samples/images/ruby_polo_back.jpg
  sample/db/samples/images/solidus_hoodie.jpg
  sample/db/samples/images/solidus_long.jpg
  sample/db/samples/images/solidus_long_back.jpg
  sample/db/samples/images/solidus_long_back_black.jpg
  sample/db/samples/images/solidus_long_back_black.png
  sample/db/samples/images/solidus_long_back_blue.jpg
  sample/db/samples/images/solidus_long_back_blue.png
  sample/db/samples/images/solidus_long_back_white.jpg
  sample/db/samples/images/solidus_long_back_white.png
  sample/db/samples/images/solidus_long_black.jpg
  sample/db/samples/images/solidus_long_black.png
  sample/db/samples/images/solidus_long_blue.jpg
  sample/db/samples/images/solidus_long_blue.png
  sample/db/samples/images/solidus_long_white.jpg
  sample/db/samples/images/solidus_long_white.png
  sample/db/samples/images/solidus_mug.jpg
  sample/db/samples/images/solidus_snapback_cap.jpg
  sample/db/samples/images/solidus_tshirt.jpg
  sample/db/samples/images/solidus_tshirt_back.jpg
  sample/db/samples/images/solidus_tshirt_back_black.jpg
  sample/db/samples/images/solidus_tshirt_back_black.png
  sample/db/samples/images/solidus_tshirt_back_blue.jpg
  sample/db/samples/images/solidus_tshirt_back_blue.png
  sample/db/samples/images/solidus_tshirt_back_white.jpg
  sample/db/samples/images/solidus_tshirt_back_white.png
  sample/db/samples/images/solidus_tshirt_black.jpg
  sample/db/samples/images/solidus_tshirt_black.png
  sample/db/samples/images/solidus_tshirt_blue.jpg
  sample/db/samples/images/solidus_tshirt_blue.png
  sample/db/samples/images/solidus_tshirt_white.jpg
  sample/db/samples/images/solidus_tshirt_white.png
  sample/db/samples/images/solidus_womens_tshirt.jpg
  sample/db/samples/images/solidus_womens_tshirt_black.jpg
  sample/db/samples/images/solidus_womens_tshirt_black.png
  sample/db/samples/images/solidus_womens_tshirt_blue.jpg
  sample/db/samples/images/solidus_womens_tshirt_blue.png
  sample/db/samples/images/solidus_womens_tshirt_white.jpg
  sample/db/samples/images/solidus_womens_tshirt_white.png
  sample/db/samples/images/tote_bag_ruby.jpg
  sample/db/samples/images/tote_bag_solidus.jpg
Labels: type:enhancement, changelog:solidus_sample

#4926 Use the same format as GitHub's default for the release notes
  dev_tools/lib/solidus/release_drafter.rb
  dev_tools/lib/solidus/release_drafter/builder.rb
  dev_tools/spec/lib/solidus/release_drafter/builder_spec.rb
  dev_tools/spec/lib/solidus/release_drafter_spec.rb
Labels: changelog:repository

#4933 Fix sandbox generation
  bin/sandbox
Labels: changelog:repository

#4922 Limit usage of pull_request_target event is our workflows
  .github/workflows/ensure_changelog_label.yml
  .github/workflows/prepare_post_release.yml
Labels: backport-v3.2, backport-v3.1, changelog:repository, backport-v3.3

#4944 [v3.2] Fix occasional "database is locked" errors while loading sample data
  sample/lib/spree_sample.rb
Labels: type:enhancement, changelog:solidus_sample

#4946 Mark another spec as flaky
  backend/spec/features/admin/orders/order_details_spec.rb
Labels: type:enhancement, changelog:solidus_backend

#4667 Apply store credits before creating payments
  core/lib/spree/core/controller_helpers/payment_parameters.rb
  core/spec/lib/spree/core/controller_helpers/payment_parameters_spec.rb
Labels: type:bug, changelog:solidus_core

#3321 Fix issue with available_on datepicker
  backend/app/assets/javascripts/spree/backend/datepicker.js
  core/config/locales/en.yml
Labels: type:bug, changelog:solidus_backend, changelog:solidus_core

#4948 Fix flaky spec helper for local testing
  core/lib/spree/testing_support/flaky.rb
Labels: type:bug, changelog:solidus_core

#4950 Keep all the LogEntry serialization logic in one place
  api/spec/requests/spree/api/payments_spec.rb
  core/app/models/spree/log_entry.rb
  core/app/models/spree/payment/processing.rb
  core/spec/models/spree/log_entry_spec.rb
Labels: type:enhancement, changelog:solidus_api, changelog:solidus_core

#4951 Improve REST OpenAPI documentation for auth
  api/openapi/solidus-api.oas.yml
  backend/spec/features/admin/orders/order_details_spec.rb
Labels: type:enhancement, changelog:solidus_api, changelog:solidus_backend

#4953 Allow bad payloads to be saved in payment log entries
  core/app/models/spree/log_entry.rb
  core/app/models/spree/payment/processing.rb
  core/app/models/spree/refund.rb
  core/spec/models/spree/log_entry_spec.rb
  core/spec/models/spree/payment_spec.rb
Labels: changelog:solidus_core
