Repository solidusio/solidus, pull requests merged in 2023-03, with the labels that each got.

#4958 Remove order token authorization option from current order API documentation
  api/openapi/solidus-api.oas.yml
  api/spec/requests/spree/api/orders_spec.rb
Labels: type:bug, changelog:solidus_api

#4954 Ensure target shipments are evaluated in order of creation (fix flakey)
  core/app/models/spree/order_inventory.rb
  core/spec/models/spree/order_inventory_spec.rb
Labels: changelog:solidus_core

#4956 Introduce allowed_ransackable_scopes
  core/app/models/concerns/spree/ransackable_attributes.rb
  core/app/models/spree/product.rb
  core/app/models/spree/promotion.rb
  core/spec/models/spree/concerns/ransackable_attributes_spec.rb
Labels: type:enhancement, changelog:solidus_core

#4967 [v3.1] Allow storing static preferences using string class names
  core/lib/spree/core/engine.rb
  core/lib/spree/preferences/static_model_preferences.rb
  core/spec/models/spree/preferences/static_model_preferences_spec.rb
Labels: changelog:solidus_core

#4957 Copy new migrations as part of the update task
  core/lib/generators/solidus/update/update_generator.rb
Labels: changelog:solidus_core, backport-v3.2, backport-v3.3

#4971 Spree::ProductDuplicator bug on price
  core/lib/spree/core/product_duplicator.rb
  core/spec/models/spree/product_duplicator_spec.rb
Labels: type:bug, changelog:solidus_core, backport-v3.2, backport-v3.1, backport-v3.3

#4979 Update descend_by_popularity scope spec
  core/spec/models/spree/product/scopes_spec.rb
Labels: type:bug, changelog:solidus_core

#3338 Allow splitting shipments when not tracking inventory
  api/app/controllers/spree/api/shipments_controller.rb
  backend/spec/features/admin/orders/customer_returns_spec.rb
  backend/spec/features/admin/orders/order_details_spec.rb
  core/app/models/spree/fulfilment_changer.rb
  core/spec/models/spree/fulfilment_changer_spec.rb
Labels: type:bug, changelog:solidus_api, changelog:solidus_backend, changelog:solidus_core

#4980 Fix rake error testing the update generator
  backend/spec/features/admin/orders/customer_returns_spec.rb
  core/lib/generators/solidus/update/update_generator.rb
  core/spec/lib/generators/solidus/update/update_generator_spec.rb
Labels: changelog:solidus_backend, changelog:solidus_core, backport-v3.2, backport-v3.3

#4991 Add a deprecation warning for allow_promotions_any_match_policy = true
  core/app/models/spree/promotion.rb
  core/lib/spree/app_configuration.rb
  core/lib/spree/promotion/match_policies.rb
  core/spec/models/spree/promotion_spec.rb
Labels: type:enhancement, changelog:solidus_core
