Repository solidusio/solidus, pull requests merged in 2023-07, with the labels that each got.

#5215 [Admin] component generator fixes and specs
  admin/lib/generators/solidus_admin/component/templates/component_spec.rb.tt
  admin/spec/generator/solidus_admin/component_generator_spec.rb
  admin/spec/spec_helper.rb
Labels: changelog:repository

#5213 [Admin] Admin UI showcase
  admin/app/components/solidus_admin/ui/badge/component.rb
  admin/app/views/layouts/solidus_admin/preview.html.erb
  admin/lib/generators/solidus_admin/component/component_generator.rb
  admin/lib/generators/solidus_admin/component/templates/component_preview.rb.tt
  admin/lib/generators/solidus_admin/component/templates/component_preview_overview.html.erb
  admin/lib/generators/solidus_admin/component/templates/component_spec.rb.tt
  admin/lib/generators/solidus_admin/install/install_generator.rb
  admin/lib/solidus_admin/configuration.rb
  admin/lib/solidus_admin/engine.rb
  admin/solidus_admin.gemspec
  admin/spec/components/previews/solidus_admin/ui/badge/component_preview.rb
  admin/spec/components/previews/solidus_admin/ui/badge/component_preview/overview.html.erb
  admin/spec/components/solidus_admin/ui/badge/component_spec.rb
  admin/spec/generator/solidus_admin/component_generator_spec.rb
  bin/sandbox
Labels: changelog:repository

#5218 [Admin] tailwind square brackets removal (round 1)
  admin/app/components/solidus_admin/products/index/component.html.erb
  admin/app/components/solidus_admin/products/index/component.rb
  admin/app/components/solidus_admin/sidebar/component.html.erb
  admin/app/components/solidus_admin/ui/badge/component.rb
  admin/app/components/solidus_admin/ui/table/component.html.erb
  admin/app/views/layouts/solidus_admin/application.html.erb
  admin/config/solidus_admin/tailwind.config.js.erb
Labels: changelog:repository

#5222 [Admin] `ui/table` component preview
  admin/lib/generators/solidus_admin/component/component_generator.rb
  admin/lib/generators/solidus_admin/component/templates/component_preview.rb.tt
  admin/lib/solidus_admin/engine.rb
  admin/lib/solidus_admin/preview.rb
  admin/spec/components/previews/solidus_admin/ui/badge/component_preview.rb
  admin/spec/components/previews/solidus_admin/ui/badge/component_preview/overview.html.erb
  admin/spec/components/previews/solidus_admin/ui/table/component_preview.rb
  admin/spec/components/solidus_admin/ui/table/component_spec.rb
  admin/spec/generator/solidus_admin/component_generator_spec.rb
  admin/spec/spec_helper.rb
Labels: changelog:repository

#5226 [Admin] Add the preview for the sidebar admin component
  admin/spec/components/previews/solidus_admin/sidebar/component_preview.rb
  admin/spec/components/previews/solidus_admin/sidebar/component_preview/overview.html.erb
  admin/spec/components/solidus_admin/sidebar/component_spec.rb
Labels: type:enhancement

#5223 [Admin] `ui/table` component api changes
  admin/app/components/solidus_admin/products/index/component.html.erb
  admin/app/components/solidus_admin/products/index/component.rb
  admin/app/components/solidus_admin/ui/table/component.html.erb
  admin/app/components/solidus_admin/ui/table/component.rb
  admin/spec/components/previews/solidus_admin/ui/table/component_preview.rb
Labels: changelog:repository

#5229 [Admin] Add a `ui/checkbox` component
  admin/app/components/solidus_admin/ui/forms/checkbox/component.rb
  admin/spec/components/previews/solidus_admin/ui/forms/checkbox/component_preview.rb
  admin/spec/components/previews/solidus_admin/ui/forms/checkbox/component_preview/overview.html.erb
  admin/spec/components/solidus_admin/ui/forms/checkbox/component_spec.rb
Labels: changelog:repository

#5230 `bin/build-ci` cleanup
  .circleci/config.yml
  bin/build-ci
Labels: changelog:repository

#5219 ResourceController: Allow overriding routes proxy
  backend/app/controllers/spree/admin/resource_controller.rb
  backend/spec/controllers/spree/admin/resource_controller_spec.rb
Labels: changelog:solidus_backend

#5235 [Admin] Fix extension on erb file
  admin/app/components/solidus_admin/sidebar/item/component.html.erb
Labels: changelog:repository

#5242 [Admin] Remove redundant tailwindcss dependency
  Gemfile
Labels: type:bug

#5239 [Admin] Improve component generator docs
  admin/README.md
Labels: changelog:repository

#5241 [Admin] Extract sidebar item's icon to a proper helper
  admin/app/components/solidus_admin/base_component.rb
  admin/app/components/solidus_admin/sidebar/item/component.rb
  admin/spec/components/solidus_admin/base_component_spec.rb
  admin/spec/spec_helper.rb
  admin/spec/support/solidus_admin/component_helpers.rb
Labels: changelog:repository

#5227 [Admin] Add component preview for the sidebar item component
  admin/app/components/solidus_admin/sidebar/component.html.erb
  admin/app/components/solidus_admin/sidebar/item/component.rb
  admin/spec/components/previews/solidus_admin/sidebar/component_preview.rb
  admin/spec/components/previews/solidus_admin/sidebar/item/component_preview.rb
  admin/spec/components/previews/solidus_admin/sidebar/item/component_preview/overview.html.erb
  admin/spec/components/solidus_admin/sidebar/item/component_spec.rb
Labels: type:enhancement, changelog:repository

#5245 [Admin] Adjust method visibility in the `products/index` component
  admin/app/components/solidus_admin/products/index/component.rb
Labels: changelog:repository

#5244 [Admin] Enable bin/dev on the docker environment
  docker-compose.yml
Labels: type:enhancement, changelog:repository

#5236 [Admin] add a `ui/toast` component
  admin/app/components/solidus_admin/ui/toast/component.html.erb
  admin/app/components/solidus_admin/ui/toast/component.js
  admin/app/components/solidus_admin/ui/toast/component.rb
  admin/app/components/solidus_admin/ui/toast/component.yml
  admin/spec/components/previews/solidus_admin/ui/toast/component_preview.rb
  admin/spec/components/previews/solidus_admin/ui/toast/component_preview/overview.html.erb
  admin/spec/components/solidus_admin/ui/toast/component_spec.rb
Labels: changelog:repository

#5246 [Admin] fix tailwind's compiled config path to a known location
  admin/lib/solidus_admin/tailwindcss.rb
Labels: changelog:repository

#5247 [Admin] Automatically test a11y in the new admin
  Gemfile
  admin/app/components/solidus_admin/products/index/component.html.erb
  admin/app/components/solidus_admin/sidebar/item/component.rb
  admin/app/components/solidus_admin/ui/table/component.html.erb
  admin/app/components/solidus_admin/ui/table/component.rb
  admin/app/controllers/solidus_admin/base_controller.rb
  admin/app/helpers/solidus_admin/layout_helper.rb
  admin/app/views/layouts/solidus_admin/application.html.erb
  admin/config/locales/en.yml
  admin/spec/features/products_spec.rb
  admin/spec/helpers/solidus_admin/layout_helper_spec.rb
  admin/spec/spec_helper.rb
Labels: changelog:repository

#5243 [Admin] connect flash messages to the `ui/toast` component
  admin/app/views/layouts/solidus_admin/application.html.erb
Labels: changelog:repository

#5250 [Admin] `ui/toast` fix
  admin/app/components/solidus_admin/ui/toast/component.html.erb
Labels: changelog:repository

#5240 [Admin] Add account navigation component
  admin/app/components/solidus_admin/sidebar/account_nav/component.html.erb
  admin/app/components/solidus_admin/sidebar/account_nav/component.js
  admin/app/components/solidus_admin/sidebar/account_nav/component.rb
  admin/app/components/solidus_admin/sidebar/account_nav/component.yml
  admin/app/components/solidus_admin/sidebar/component.html.erb
  admin/app/components/solidus_admin/sidebar/component.rb
  admin/app/views/layouts/solidus_admin/application.html.erb
  admin/config/solidus_admin/tailwind.config.js.erb
  admin/spec/components/previews/solidus_admin/sidebar/account_nav/component_preview.rb
  admin/spec/components/previews/solidus_admin/sidebar/account_nav/component_preview/overview.html.erb
  admin/spec/components/previews/solidus_admin/sidebar/account_nav/component_preview/playground.html.erb
  admin/spec/components/solidus_admin/sidebar/account_nav/component_spec.rb
  admin/spec/components/solidus_admin/sidebar/component_spec.rb
Labels: type:enhancement, changelog:repository

#5237 [Admin] `ui/tab` component
  admin/app/components/solidus_admin/ui/tab/component.rb
  admin/spec/components/previews/solidus_admin/ui/tab/component_preview.rb
  admin/spec/components/previews/solidus_admin/ui/tab/component_preview/overview.html.erb
  admin/spec/components/solidus_admin/ui/tab/component_spec.rb
Labels: changelog:repository

#5248 [Admin] add `ui/table` dummy scopes
  admin/app/components/solidus_admin/ui/table/component.html.erb
Labels: changelog:repository

#5234 [Admin] add a `ui/pagination` component
  admin/app/components/solidus_admin/products/index/component.html.erb
  admin/app/components/solidus_admin/products/index/component.rb
  admin/app/components/solidus_admin/ui/table/component.html.erb
  admin/app/components/solidus_admin/ui/table/component.rb
  admin/app/components/solidus_admin/ui/table/pagination/component.html.erb
  admin/app/components/solidus_admin/ui/table/pagination/component.rb
  admin/app/controllers/solidus_admin/base_controller.rb
  admin/app/controllers/solidus_admin/products_controller.rb
  admin/app/views/solidus_admin/products/index.html.erb
  admin/lib/solidus_admin/configuration.rb
  admin/solidus_admin.gemspec
  admin/spec/components/previews/solidus_admin/ui/table/component_preview.rb
  admin/spec/components/previews/solidus_admin/ui/table/pagination/component_preview.rb
  admin/spec/components/previews/solidus_admin/ui/table/pagination/component_preview/overview.html.erb
  admin/spec/components/solidus_admin/ui/table/pagination/component_spec.rb
Labels: changelog:repository

#3626 Improving stock items management
  backend/app/controllers/spree/admin/stock_items_controller.rb
  backend/app/views/spree/admin/shared/_variant_search.html.erb
  backend/app/views/spree/admin/stock_items/_stock_management.html.erb
  backend/app/views/spree/admin/stock_items/index.html.erb
  backend/spec/controllers/spree/admin/stock_items_controller_spec.rb
  backend/spec/features/admin/products/stock_management_spec.rb
  backend/spec/features/admin/stock_items_spec.rb
  core/app/models/spree/variant/scopes.rb
  core/lib/spree/deprecation.rb
  core/spec/models/spree/variant/scopes_spec.rb
Labels: type:enhancement, changelog:solidus_backend, changelog:solidus_core

#5253 [Admin] feature specs fixes
  admin/app/components/solidus_admin/ui/table/component.html.erb
  admin/app/views/layouts/solidus_admin/application.html.erb
  admin/lib/solidus_admin.rb
  admin/solidus_admin.gemspec
Labels: changelog:repository

#5256 [Admin] Fix the checkbox when `focus` and `checked` are active
  admin/app/components/solidus_admin/ui/forms/checkbox/component.rb
  admin/config/solidus_admin/tailwind.config.js.erb
Labels: changelog:repository

#5260 [Admin] Add missing items to the main navigation
  admin/app/components/solidus_admin/sidebar/item/component.yml
  admin/lib/solidus_admin/providers/main_nav.rb
  admin/spec/components/solidus_admin/sidebar/item/component_spec.rb
Labels: type:enhancement, changelog:repository

#5259 [Admin] Misc `ui/table` fixes and improvements
  admin/app/components/solidus_admin/products/index/component.html.erb
  admin/app/components/solidus_admin/products/index/component.rb
  admin/app/components/solidus_admin/products/index/component.yml
  admin/app/components/solidus_admin/ui/table/component.html.erb
  admin/app/components/solidus_admin/ui/table/component.rb
  admin/app/controllers/solidus_admin/products_controller.rb
  admin/app/helpers/solidus_admin/layout_helper.rb
  admin/app/views/layouts/solidus_admin/application.html.erb
  admin/config/locales/en.yml
  admin/config/locales/products.en.yml
  admin/spec/components/previews/solidus_admin/ui/table/component_preview.rb
  admin/spec/components/solidus_admin/base_component_spec.rb
  admin/spec/helpers/solidus_admin/layout_helper_spec.rb
  admin/spec/spec_helper.rb
Labels: changelog:repository

#5180 [Admin] add batch actions to the `products/index` component
  admin/app/components/solidus_admin/products/index/component.html.erb
  admin/app/components/solidus_admin/products/index/component.yml
  admin/app/components/solidus_admin/ui/table/component.html.erb
  admin/app/components/solidus_admin/ui/table/component.js
  admin/app/components/solidus_admin/ui/table/component.rb
  admin/app/components/solidus_admin/ui/table/component.yml
  admin/app/controllers/solidus_admin/products_controller.rb
  admin/config/locales/products.en.yml
  admin/config/routes.rb
  admin/config/solidus_admin/tailwind.config.js.erb
  admin/spec/features/products_spec.rb
Labels: changelog:repository

#5262 [Admin] Use blank alt attribute for the decorative logo
  admin/app/components/solidus_admin/sidebar/component.html.erb
Labels: type:enhancement, changelog:repository

#5263 [Admin] Add "Add Product" button
  admin/app/components/solidus_admin/products/index/component.html.erb
  admin/app/components/solidus_admin/products/index/component.rb
  admin/app/components/solidus_admin/products/index/component.yml
  admin/app/components/solidus_admin/ui/button/component.rb
  admin/spec/components/previews/solidus_admin/ui/button/component_preview/overview.html.erb
Labels: changelog:repository

#5265 [Admin] Make account navigation accessible
  admin/app/components/solidus_admin/sidebar/account_nav/component.html.erb
  admin/app/components/solidus_admin/sidebar/account_nav/component.js
Labels: type:enhancement, changelog:repository

#5266 [Admin] Add a skip link
  admin/app/components/solidus_admin/skip_link/component.rb
  admin/app/components/solidus_admin/skip_link/component.yml
  admin/app/views/layouts/solidus_admin/application.html.erb
  admin/spec/components/previews/solidus_admin/skip_link/component_preview.rb
  admin/spec/components/solidus_admin/skip_link/component_spec.rb
Labels: type:enhancement, changelog:repository

#5269 [Admin] Use the global icon helper for the toast component
  admin/app/components/solidus_admin/ui/toast/component.html.erb
  admin/app/components/solidus_admin/ui/toast/component.rb
Labels: type:enhancement, changelog:repository

#5268 [Admin] Hide decorative svg from screen readers
  admin/app/components/solidus_admin/base_component.rb
  admin/app/components/solidus_admin/sidebar/account_nav/component.html.erb
  admin/app/components/solidus_admin/sidebar/item/component.rb
Labels: type:enhancement, changelog:repository

#5270 [Admin] Make pagination accessible
  admin/app/components/solidus_admin/ui/table/pagination/component.html.erb
  admin/app/components/solidus_admin/ui/table/pagination/component.yml
Labels: type:enhancement, changelog:repository

#5267 [Admin] Improve a11y experience for product rows
  admin/app/components/solidus_admin/products/index/component.rb
Labels: changelog:repository

#5272 [Admin] Make the toast component accessible
  admin/app/components/solidus_admin/ui/toast/component.html.erb
  admin/app/components/solidus_admin/ui/toast/component.js
  admin/app/components/solidus_admin/ui/toast/component.yml
Labels: type:enhancement, changelog:repository

#5273 [Admin] Mark the current link in the main nav for accessibility
  admin/app/components/solidus_admin/sidebar/item/component.html.erb
  admin/app/components/solidus_admin/sidebar/item/component.rb
  admin/lib/solidus_admin/main_nav_item.rb
  admin/spec/solidus_admin/main_nav_item_spec.rb
Labels: type:enhancement, changelog:repository

#5264 [Admin] Fix the layout and sidebar styling
  admin/app/components/solidus_admin/products/index/component.rb
  admin/app/components/solidus_admin/sidebar/component.html.erb
  admin/app/components/solidus_admin/sidebar/component.yml
  admin/app/views/layouts/solidus_admin/application.html.erb
  backend/app/assets/stylesheets/spree/backend/components/_navigation_solidus_admin.scss
  backend/app/views/spree/admin/shared/_navigation_solidus_admin.html.erb
Labels: changelog:solidus_backend, changelog:repository

#5281 Update the labeler to correctly mark SolidusAdmin issues
  .github/labeler.yml
Labels: changelog:repository, changelog:solidus_admin

#5287 [Admin] Use `aria-disabled` for setting anchor buttons as disabled
  admin/app/components/solidus_admin/ui/button/component.rb
  admin/app/components/solidus_admin/ui/tab/component.rb
  admin/app/components/solidus_admin/ui/table/component.html.erb
  admin/config/solidus_admin/tailwind.config.js.erb
  admin/spec/components/previews/solidus_admin/ui/tab/component_preview.rb
  admin/spec/components/previews/solidus_admin/ui/tab/component_preview/overview.html.erb
Labels: changelog:solidus_admin

#5286 [Admin] Use `ui/button` for the pagination component
  admin/app/components/solidus_admin/products/index/component.html.erb
  admin/app/components/solidus_admin/products/index/component.rb
  admin/app/components/solidus_admin/ui/table/component.html.erb
  admin/app/components/solidus_admin/ui/table/component.rb
  admin/app/components/solidus_admin/ui/table/pagination/component.html.erb
  admin/app/components/solidus_admin/ui/table/pagination/component.rb
  admin/lib/solidus_admin/preview.rb
  admin/spec/components/previews/solidus_admin/ui/button/component_preview.rb
  admin/spec/components/previews/solidus_admin/ui/button/component_preview/group.html.erb
  admin/spec/components/previews/solidus_admin/ui/table/component_preview.rb
  admin/spec/components/previews/solidus_admin/ui/table/component_preview/simple.html.erb
  admin/spec/components/previews/solidus_admin/ui/table/pagination/component_preview.rb
  admin/spec/components/previews/solidus_admin/ui/table/pagination/component_preview/overview.html.erb
  admin/spec/components/solidus_admin/ui/button/component_spec.rb
Labels: changelog:solidus_admin
