Repository solidusio/solidus, pull requests merged in 2023-06, with the labels that each got.

#5080 Allow extending Admin's tailwind
  Procfile.dev
  admin/Rakefile
  admin/app/assets/builds/solidus_admin/tailwind.css
  admin/app/assets/config/solidus_admin_manifest.js
  admin/app/assets/stylesheets/solidus_admin/application.css
  admin/app/assets/stylesheets/solidus_admin/application.tailwind.css.erb
  admin/app/views/layouts/solidus_admin/application.html.erb
  admin/config/solidus_admin/tailwind.config.js.erb
  admin/lib/generators/solidus_admin/install/install_generator.rb
  admin/lib/solidus_admin/configuration.rb
  admin/lib/solidus_admin/engine.rb
  admin/lib/solidus_admin/tailwindcss.rb
  admin/lib/tasks/tailwindcss.rake
  admin/solidus_admin.gemspec
Labels: changelog:repository

#5091 Add support for admin themes
  backend/app/assets/config/solidus_backend_manifest.js
  backend/app/assets/stylesheets/spree/backend.css
  backend/app/assets/stylesheets/spree/backend/components/index.scss
  backend/app/assets/stylesheets/spree/backend/globals/index.scss
  backend/app/assets/stylesheets/spree/backend/plugins/index.scss
  backend/app/assets/stylesheets/spree/backend/sections/index.scss
  backend/app/assets/stylesheets/spree/backend/shared/index.scss
  backend/app/assets/stylesheets/spree/backend/spree_admin.scss
  backend/app/assets/stylesheets/spree/backend/themes/classic.css.scss
  backend/app/assets/stylesheets/spree/backend/vendor/index.scss
  backend/app/views/spree/admin/shared/_head.html.erb
  backend/lib/spree/backend_configuration.rb
  backend/spec/lib/spree/backend_configuration_spec.rb
Labels: changelog:solidus_backend

#5111 Bump to the dev version when a new patch branch is created
  .github/actions/commit_and_submit_pull_request/action.yml
  .github/actions/extract_pipeline_context/action.yml
  .github/workflows/prepare_post_release.yml
  dev_tools/bin/bump-patch-to-dev-version
  dev_tools/bin/extract-pipeline-context
  dev_tools/lib/solidus/pipeline_context.rb
  dev_tools/spec/lib/solidus/pipeline_context_spec.rb
Labels: backport-v3.2, changelog:repository, backport-v3.3, backport-v3.4, backport-v4.0

#5110 Allow changing the order recalculator
  core/app/models/spree/order.rb
  core/app/models/spree/order_merger.rb
  core/app/models/spree/order_updater.rb
  core/app/models/spree/refund.rb
  core/lib/spree/app_configuration.rb
  core/lib/spree/core/importer/order.rb
  core/spec/models/spree/order/checkout_spec.rb
  core/spec/models/spree/order_spec.rb
  core/spec/models/spree/order_updater_spec.rb
  core/spec/models/spree/payment_spec.rb
  core/spec/models/spree/refund_spec.rb
Labels: changelog:solidus_core

#5101 Ensure to return false on Paperclip attachment destroy failure
  core/app/models/spree/taxon/paperclip_attachment.rb
  core/spec/models/spree/taxon_spec.rb
Labels: changelog:solidus_core

#5119 Fix locale selection with a hidden admin navbar
  backend/app/assets/stylesheets/spree/backend/components/_navigation.scss
Labels: changelog:solidus_backend

#5099 Use and extend view components in Solidus Admin
  .circleci/config.yml
  admin/app/components/solidus_admin/base_component.rb
  admin/app/components/solidus_admin/main_nav_component.rb
  admin/app/components/solidus_admin/main_nav_item_component.rb
  admin/app/controllers/solidus_admin/orders_controller.rb
  admin/app/helpers/solidus_admin/container_helper.rb
  admin/app/views/layouts/solidus_admin/application.html.erb
  admin/lib/solidus_admin/configuration.rb
  admin/lib/solidus_admin/container.rb
  admin/lib/solidus_admin/engine.rb
  admin/lib/solidus_admin/main_nav_item.rb
  admin/lib/solidus_admin/system/import.rb
  admin/lib/solidus_admin/system/loaders/host_overridable_constant.rb
  admin/lib/solidus_admin/system/providers/main_nav.rb
  admin/lib/solidus_admin/tailwindcss.rb
  admin/lib/tasks/tailwindcss.rake
  admin/solidus_admin.gemspec
  solidus.gemspec
Labels: changelog:solidus, changelog:repository

#5114 Move install generator spec in the proper directory
  core/spec/lib/generators/solidus/install/install_generator_spec.rb
Labels: changelog:solidus_core

#5128 Remove references to legacy :general_settings resource
  backend/app/views/spree/admin/tax_rates/_form.html.erb
  backend/app/views/spree/admin/zones/_form.html.erb
  core/config/locales/en.yml
  core/lib/spree/permission_sets/configuration_display.rb
  core/lib/spree/permission_sets/configuration_management.rb
  core/spec/models/spree/permission_sets/configuration_display.rb
  core/spec/models/spree/permission_sets/configuration_management_spec.rb
Labels: changelog:solidus_backend, changelog:solidus_core

#5040 Get fresh data for update_positions
  backend/app/controllers/spree/admin/resource_controller.rb
  backend/spec/controllers/spree/admin/resource_controller_spec.rb
Labels: changelog:solidus_backend

#5140 [admin] Shape up the layout with a few TW classes
  admin/app/controllers/solidus_admin/accounts_controller.rb
  admin/app/controllers/solidus_admin/base_controller.rb
  admin/app/controllers/solidus_admin/orders_controller.rb
  admin/app/views/layouts/solidus_admin/application.html.erb
  admin/app/views/solidus_admin/accounts/show.html.erb
  admin/config/routes.rb
Labels: changelog:repository

#5142 Don't require calling super for components
  .rubocop.yml
  .rubocop_todo.yml
  admin/app/components/solidus_admin/main_nav_item/component.rb
Labels: changelog:repository

#5141 Document available permission sets
  core/lib/spree/permission_sets/configuration_display.rb
  core/lib/spree/permission_sets/configuration_management.rb
  core/lib/spree/permission_sets/dashboard_display.rb
  core/lib/spree/permission_sets/default_customer.rb
  core/lib/spree/permission_sets/order_display.rb
  core/lib/spree/permission_sets/order_management.rb
  core/lib/spree/permission_sets/product_display.rb
  core/lib/spree/permission_sets/product_management.rb
  core/lib/spree/permission_sets/promotion_display.rb
  core/lib/spree/permission_sets/promotion_management.rb
  core/lib/spree/permission_sets/restricted_stock_display.rb
  core/lib/spree/permission_sets/restricted_stock_management.rb
  core/lib/spree/permission_sets/stock_display.rb
  core/lib/spree/permission_sets/stock_management.rb
  core/lib/spree/permission_sets/super_user.rb
  core/lib/spree/permission_sets/user_display.rb
  core/lib/spree/permission_sets/user_management.rb
Labels: changelog:solidus_core

#5133 Only require changelog label on PRs to main & v* branches
  .github/workflows/ensure_changelog_label.yml
Labels: type:enhancement, backport-v3.2, changelog:repository, backport-v3.3, backport-v3.4, backport-v4.0

#3550 [backend] Disable customer returns buttons after first click
  backend/app/views/spree/admin/customer_returns/_return_item_decision.html.erb
  backend/app/views/spree/admin/customer_returns/edit.html.erb
  backend/app/views/spree/admin/reimbursements/edit.html.erb
  backend/spec/features/admin/orders/customer_returns_spec.rb
  backend/spec/features/admin/orders/return_payment_state_spec.rb
Labels: type:enhancement, changelog:solidus_backend

#5149 Document admin's tailwind extensibility
  admin/README.md
  admin/docs/customizing_tailwind.md
Labels: changelog:repository

#5136 [admin] Delay use of auto injection for components
  admin/app/components/solidus_admin/main_nav/component.rb
  admin/app/components/solidus_admin/main_nav_item/component.rb
Labels: changelog:repository

#5135 [admin] Add a SolidusAdmin component generator
  .rubocop.yml
  admin/README.md
  admin/app/components/solidus_admin/base_component.rb
  admin/bin/rails
  admin/lib/generators/solidus_admin/component/USAGE
  admin/lib/generators/solidus_admin/component/component_generator.rb
  admin/lib/generators/solidus_admin/component/templates/component.html.erb.tt
  admin/lib/generators/solidus_admin/component/templates/component.js.tt
  admin/lib/generators/solidus_admin/component/templates/component.rb.tt
  admin/lib/generators/solidus_admin/component/templates/component.yml.tt
  admin/lib/generators/solidus_admin/component/templates/component_spec.rb.tt
Labels: changelog:repository

#5155 [Admin] Make Solidus Admin on by default
  admin/lib/generators/solidus_admin/install/install_generator.rb
Labels: changelog:repository

#4173 Rename Order#ensure_updated_shipments method
  core/app/models/spree/order.rb
  core/app/models/spree/order_contents.rb
  core/spec/models/spree/order/state_machine_spec.rb
  core/spec/models/spree/order_contents_spec.rb
  core/spec/models/spree/order_spec.rb
Labels: type:enhancement, changelog:solidus_core

#5144 Document admin's view components extensibility
  admin/README.md
  admin/docs/customizing_view_components.md
Labels: changelog:repository

#5092 Add a new admin theme
  backend/app/assets/stylesheets/spree/backend/themes/solidus_admin.css.scss
  backend/app/assets/stylesheets/spree/backend/themes/solidus_admin/_tables.scss
  backend/app/assets/stylesheets/spree/backend/themes/solidus_admin/_variables.scss
  backend/lib/spree/backend_configuration.rb
Labels: changelog:solidus_backend

#5158 Fix solidus_core making use of responders API
  backend/app/controllers/spree/admin/base_controller.rb
  core/app/controllers/spree/base_controller.rb
Labels: type:bug, changelog:solidus_backend, changelog:solidus_core

#5160 [Admin] Load `component.js` files from app/components as Stimulus controllers
  admin/app/assets/config/solidus_admin_manifest.js
  admin/app/components/solidus_admin/main_nav/component.js
  admin/app/components/solidus_admin/main_nav/component.rb
  admin/app/javascript/solidus_admin/controllers/components.js
  admin/app/javascript/solidus_admin/controllers/index.js
  admin/config/importmap.rb
  admin/lib/solidus_admin/configuration.rb
  admin/lib/solidus_admin/engine.rb
Labels: changelog:repository

#5163 Remove unused admin auto-injector
  admin/app/components/solidus_admin/base_component.rb
  admin/lib/solidus_admin/system/import.rb
Labels: type:enhancement, changelog:repository

#5162 [Admin] Start with testing components
  admin/spec/components/solidus_admin/sidebar/component_spec.rb
  admin/spec/components/solidus_admin/solidus_logo/component_spec.rb
  admin/spec/spec_helper.rb
  admin/spec/support/solidus_admin/component_helpers.rb
Labels: type:enhancement, changelog:repository

#5166 [Admin] Add tailwind colors and font
  admin/app/views/layouts/solidus_admin/application.html.erb
  admin/config/solidus_admin/tailwind.config.js.erb
  admin/lib/solidus_admin.rb
Labels: changelog:repository

#5164 Allow running bin/rails from Solidus engines
  .rubocop.yml
  api/bin/rails
  backend/bin/rails
  bin/rails
  core/bin/rails
Labels: changelog:solidus_api, changelog:solidus_backend, changelog:solidus_core, changelog:repository

#5165 [Admin] A few component-related fixes that we missed out previously
  admin/app/components/solidus_admin/base_component.rb
  admin/lib/generators/solidus_admin/component/templates/component.rb.tt
  admin/lib/generators/solidus_admin/install/templates/config/initializers/solidus_admin.rb
  admin/lib/solidus_admin/configuration.rb
Labels: changelog:repository

#5168 Importmap docs + helper cleanup
  admin/app/controllers/solidus_admin/base_controller.rb
  admin/app/helpers/solidus_admin/importmap_helper.rb
  admin/app/views/layouts/solidus_admin/application.html.erb
  admin/lib/generators/solidus_admin/install/templates/config/initializers/solidus_admin.rb
  admin/lib/solidus_admin/configuration.rb
  admin/solidus_admin.gemspec
Labels: changelog:repository

#5169 Delete new minor release issue template (moved to .github)
  .github/ISSUE_TEMPLATE/new_minor_release.md
Labels: changelog:repository

#5134 [admin] Use slash as the component registry key separator
  admin/app/components/solidus_admin/main_nav_item/component.rb
  admin/app/components/solidus_admin/sidebar/component.rb
  admin/app/components/solidus_admin/sidebar/item/component.rb
  admin/app/helpers/solidus_admin/container_helper.rb
  admin/lib/solidus_admin/container.rb
  admin/lib/solidus_admin/engine.rb
  admin/lib/solidus_admin/loaders/host_overridable_constant.rb
  admin/lib/solidus_admin/providers/main_nav.rb
Labels: changelog:repository

#5167 [Admin] Add the `UI` namespace
  admin/lib/generators/solidus_admin/component/component_generator.rb
  admin/lib/solidus_admin/container.rb
  admin/lib/solidus_admin/engine.rb
Labels: changelog:repository

#5152 Allow lambda in menu item :match_path option and URL
  backend/app/helpers/spree/admin/navigation_helper.rb
  backend/lib/spree/backend_configuration.rb
  backend/lib/spree/backend_configuration/menu_item.rb
  backend/spec/helpers/admin/navigation_helper_spec.rb
  backend/spec/lib/spree/backend_configuration/menu_item_spec.rb
Labels: changelog:solidus_backend

#5172 [Admin] Layout fixes
  admin/app/components/solidus_admin/sidebar/component.rb
  admin/app/views/layouts/solidus_admin/application.html.erb
  admin/app/views/solidus_admin/accounts/show.html.erb
Labels: changelog:repository

#5173 [Admin] products#index empty shell
  admin/app/components/solidus_admin/base_component.rb
  admin/app/components/solidus_admin/products/index/component.html.erb
  admin/app/components/solidus_admin/products/index/component.rb
  admin/app/controllers/solidus_admin/products_controller.rb
  admin/app/views/solidus_admin/products/index.html.erb
  admin/config/routes.rb
  admin/spec/components/solidus_admin/base_component_spec.rb
Labels: changelog:repository

#5174 [Admin] Add basic product listing
  admin/app/components/solidus_admin/products/index/component.html.erb
  admin/app/components/solidus_admin/products/index/component.rb
  admin/app/components/solidus_admin/products/index/component.yml
  admin/app/components/solidus_admin/ui/badge/component.rb
  admin/app/components/solidus_admin/ui/table/component.html.erb
  admin/app/components/solidus_admin/ui/table/component.rb
  admin/app/components/solidus_admin/ui/table/component.yml
Labels: changelog:repository

#5175 Style store link from the admin sidebar
  admin/app/assets/images/solidus_admin/arrow_right_up_line.svg
  admin/app/components/solidus_admin/sidebar/component.rb
  admin/app/views/layouts/solidus_admin/application.html.erb
  admin/config/solidus_admin/tailwind.config.js.erb
  admin/spec/components/solidus_admin/sidebar/component_spec.rb
Labels: type:enhancement

#5177 Use regular template file for the sidebar component
  admin/app/components/solidus_admin/base_component.rb
  admin/app/components/solidus_admin/sidebar/component.html.erb
  admin/app/components/solidus_admin/sidebar/component.rb
  admin/app/components/solidus_admin/sidebar/item/component.rb
  admin/app/components/solidus_admin/ui/badge/component.rb
  admin/docs/customizing_view_components.md
Labels: type:enhancement, changelog:repository

#5184 Allow admin components to easily access admin routes
  admin/app/components/solidus_admin/base_component.rb
  admin/spec/components/solidus_admin/base_component_spec.rb
Labels: changelog:repository

#5185 [Admin] stimulus id fix & logs for development
  admin/app/components/solidus_admin/base_component.rb
  admin/app/javascript/solidus_admin/controllers/application.js
  admin/app/javascript/solidus_admin/controllers/components.js
  admin/app/javascript/solidus_admin/controllers/index.js
  admin/spec/components/solidus_admin/base_component_spec.rb
Labels: changelog:repository

#5189 Fix Taxon taxonomy id validation regression
  core/app/models/spree/taxon.rb
  core/spec/models/spree/taxon_spec.rb
Labels: type:bug, changelog:solidus_core, backport-v4.0

#5190 [v3.4] Fix Taxon taxonomy id validation regression
  core/app/models/spree/taxon.rb
  core/spec/models/spree/taxon_spec.rb
Labels: type:bug, changelog:solidus_core

#5112 [Admin] Add an alternative navigation sidebar
  backend/app/assets/stylesheets/spree/backend/components/_navigation.scss
  backend/app/assets/stylesheets/spree/backend/components/_navigation_solidus_admin.scss
  backend/app/assets/stylesheets/spree/backend/shared/_layout.scss
  backend/app/views/spree/admin/shared/_navigation_solidus_admin.html.erb
  backend/app/views/spree/layouts/admin.html.erb
  backend/lib/spree/backend_configuration.rb
  backend/spec/features/admin/configuration/store_spec.rb
  backend/spec/features/admin/homepage_spec.rb
  backend/spec/support/feature/base_feature_helper.rb
Labels: changelog:solidus_backend

#5202 Complete 4.0.1 release
  core/lib/spree/core/version.rb
Labels: changelog:skip

#5201 Do not create backport labels when releasing patch versions
  .github/workflows/prepare_post_release.yml
Labels: backport-v3.2, changelog:repository, backport-v3.3, backport-v3.4, backport-v4.0, backport-v4.1
