Repository solidusio/solidus, pull requests merged in 2024-10, with the labels that each got.

#5863 Format date with #to_fs
  backend/app/views/spree/admin/tax_rates/index.html.erb
  backend/spec/features/admin/configuration/tax_rates_spec.rb
Labels: changelog:solidus_backend, backport-v4.3

#5860 Spree::Variant.in_stock: Only show distinct variants
  core/app/models/spree/variant.rb
  core/spec/models/spree/variant_spec.rb
Labels: changelog:solidus_core

#5861 Variant Autocomplete: Allow passing select2 options
  backend/app/assets/javascripts/spree/backend/variant_autocomplete.js
Labels: changelog:solidus_backend

#5856 [Admin] New admin user edit page
  admin/app/components/solidus_admin/users/edit/api_access/component.html.erb
  admin/app/components/solidus_admin/users/edit/api_access/component.js
  admin/app/components/solidus_admin/users/edit/api_access/component.rb
  admin/app/components/solidus_admin/users/edit/api_access/component.yml
  admin/app/components/solidus_admin/users/edit/component.html.erb
  admin/app/components/solidus_admin/users/edit/component.rb
  admin/app/components/solidus_admin/users/edit/component.yml
  admin/app/components/solidus_admin/users/index/component.rb
  admin/app/controllers/solidus_admin/users_controller.rb
  admin/config/routes.rb
  admin/spec/features/users_spec.rb
  admin/spec/requests/solidus_admin/users_spec.rb
  core/config/locales/en.yml
Labels: changelog:solidus_core, changelog:solidus_admin

#5869 [Admin] Add new users admin order history page
  admin/app/components/solidus_admin/users/addresses/component.rb
  admin/app/components/solidus_admin/users/edit/component.rb
  admin/app/components/solidus_admin/users/orders/component.html.erb
  admin/app/components/solidus_admin/users/orders/component.rb
  admin/app/components/solidus_admin/users/orders/component.yml
  admin/app/controllers/solidus_admin/users_controller.rb
  admin/config/routes.rb
  admin/spec/features/users_spec.rb
  admin/spec/requests/solidus_admin/users_spec.rb
Labels: changelog:solidus_admin

#5871 [Admin] Handle states_required? in admin address component
  admin/app/components/solidus_admin/ui/forms/address/component.html.erb
  admin/app/components/solidus_admin/ui/forms/address/component.js
Labels: changelog:solidus_admin

#5870 Add filtering by store to orders index component
  admin/app/components/solidus_admin/orders/index/component.rb
  admin/app/components/solidus_admin/orders/index/component.yml
  admin/spec/features/orders/index_spec.rb
Labels: changelog:solidus_admin

#5875 fix: bin/sandbox command
  .circleci/config.yml
  bin/sandbox
Labels: changelog:repository

#5877 Update Tailwind executable call for v3.0
  Gemfile
  admin/lib/solidus_admin/install_tailwindcss.rb
  admin/lib/solidus_admin/testing_support/dummy_app/rake_tasks.rb
Labels: changelog:solidus_admin

#5868 Docker default settings improvements
  docker-compose.yml
Labels: changelog:repository

#5879 Remove logs from CI
  .circleci/config.yml
Labels: changelog:repository

#5867 Performance: Remove includes from Spree::Variant#options_text
  core/app/models/spree/variant.rb
Labels: changelog:solidus_core

#5880 Admin installer fixes
  admin/lib/generators/solidus_admin/install/install_generator.rb
Labels: changelog:solidus_admin

#5866 Add template variants scope
  core/app/models/spree/variant.rb
  core/lib/spree/core/search/variant.rb
  core/spec/lib/search/variant_spec.rb
  core/spec/models/spree/variant_spec.rb
Labels: changelog:solidus_core

#5886 Fix test suite by running Puma's `master` branch
  Gemfile
Labels: changelog:repository

#5884 Bump Solidus installer CI step to Ruby 3.1
  .circleci/config.yml
Labels: changelog:repository

#5888 Do not use solidus_frontend to test extension test app generator
  .circleci/config.yml
Labels: changelog:repository

#5887 [Admin] Add new users admin store credits page
  admin/app/components/solidus_admin/users/store_credits/index/component.html.erb
  admin/app/components/solidus_admin/users/store_credits/index/component.rb
  admin/app/components/solidus_admin/users/store_credits/index/component.yml
  admin/app/controllers/solidus_admin/users_controller.rb
  admin/config/routes.rb
  admin/spec/features/users_spec.rb
  admin/spec/requests/solidus_admin/users_spec.rb
Labels: changelog:solidus_admin

#5890 CI: Bump solidus-installer cache version
  .circleci/config.yml
Labels: changelog:repository

#5878 Exclude 'remixicon.symbol.svg' from asset pipeline
  admin/app/components/solidus_admin/ui/icon/component.rb
Labels: changelog:solidus_admin

#5882 Render variant shipping category
  backend/app/views/spree/admin/variants/_form.html.erb
Labels: changelog:solidus_backend
