Repository solidusio/solidus, pull requests merged in 2024-12, with the labels that each got.

#5956 Test app task: Allow passing in user class
  core/lib/spree/testing_support/extension_rake.rb
Labels: changelog:solidus_core

#5968 [v4.0] Restrict sqlite3 gem to '~> 1.3', like ActiveRecord
  .circleci/config.yml
  Gemfile
Labels: changelog:repository, backport-v4.0, backport-v4.1, backport-v4.2, backport-v4.3

#5979 Backend: Add missing error translation
  backend/spec/controllers/spree/admin/users_controller_spec.rb
  core/config/locales/en.yml
Labels: changelog:solidus_backend, changelog:solidus_core, backport-v4.0, backport-v4.1, backport-v4.2, backport-v4.3, backport-v4.4

#5987 Fix(v4.1): Fix linting error
  backend/lib/spree/backend_configuration/menu_item.rb
Labels: changelog:solidus_backend

#5988 Add show all results to en.yml
  core/config/locales/en.yml
Labels: changelog:solidus_core

#5990 Fix(v4.1): Collapse admin nav on small windows
  backend/app/assets/javascripts/spree/backend/components/admin_nav.js
Labels: changelog:solidus_backend

#5946 [legacy_promotions]: Correct decorator naming
  legacy_promotions/app/decorators/controllers/solidus_legacy_promotions/solidus_admin_adjustments_controller_decorator.rb
  legacy_promotions/app/decorators/lib/solidus_legacy_promotions/spree_order_state_machine_decorator.rb
  legacy_promotions/app/decorators/models/solidus_legacy_promotions/spree_adjustment_decorator.rb
  legacy_promotions/app/decorators/models/solidus_legacy_promotions/spree_calculator_returns_default_refund_amount_decorator.rb
  legacy_promotions/app/decorators/models/solidus_legacy_promotions/spree_line_item_decorator.rb
  legacy_promotions/app/decorators/models/solidus_legacy_promotions/spree_order_decorator.rb
  legacy_promotions/app/decorators/models/solidus_legacy_promotions/spree_order_updater_decorator.rb
  legacy_promotions/app/decorators/models/solidus_legacy_promotions/spree_product_decorator.rb
  legacy_promotions/app/decorators/models/solidus_legacy_promotions/spree_shipment_decorator.rb
Labels: changelog:solidus_legacy_promotions

#5993 test: Wait for modal to open before testing its content
  admin/spec/features/adjustment_reasons_spec.rb
  admin/spec/features/orders/show_spec.rb
  admin/spec/features/refund_reasons_spec.rb
  admin/spec/features/return_reasons_spec.rb
  admin/spec/features/roles_spec.rb
  admin/spec/features/shipping_categories_spec.rb
  admin/spec/features/store_credit_reasons_spec.rb
  admin/spec/features/tax_categories_spec.rb
  legacy_promotions/spec/features/solidus_admin/promotions_spec.rb
  promotions/spec/system/solidus_promotions/admin/promotions_spec.rb
Labels: changelog:solidus_admin, changelog:solidus_legacy_promotions, changelog:solidus_promotions

#5981 Fix(promotions): Validate benefits on save
  promotions/lib/controllers/backend/solidus_promotions/admin/benefits_controller.rb
Labels: changelog:solidus_promotions

#5997 Fix(Promotions): Return 200 on benefits#edit
  promotions/lib/controllers/backend/solidus_promotions/admin/benefits_controller.rb
Labels: changelog:solidus_promotions

#5998 [specs] Wait for modal before testing its content
  admin/spec/features/refund_reasons_spec.rb
  admin/spec/features/shipping_categories_spec.rb
Labels: changelog:solidus_admin

#5999 Do not constantize Spree.user_class in UserClassHandle
  core/lib/spree/core.rb
  core/lib/spree/user_class_handle.rb
  core/spec/lib/spree/user_class_handle_spec.rb
Labels: changelog:solidus_core, backport-v4.1, backport-v4.2, backport-v4.3, backport-v4.4

#5596 Use Order#email to show the order's email in new admin
  admin/app/components/solidus_admin/orders/index/component.rb
  admin/spec/features/orders/index_spec.rb
Labels: type:bug, changelog:solidus_admin, backport-v4.2, backport-v4.3, backport-v4.4

#6007 [v4.3] Use Order#email to show the order's email in new admin
  admin/app/components/solidus_admin/orders/index/component.rb
  admin/spec/features/orders/index_spec.rb
Labels: type:bug, changelog:solidus_admin

#6000 Allow to set Rails deprecations behavior during tests
  core/lib/spree/testing_support/dummy_app.rb
Labels: changelog:solidus_core

#6010 tests: Give dialogs a little more time to open
  admin/spec/features/adjustment_reasons_spec.rb
  admin/spec/features/return_reasons_spec.rb
  admin/spec/features/roles_spec.rb
  admin/spec/features/store_credit_reasons_spec.rb
  admin/spec/features/tax_categories_spec.rb
Labels: changelog:repository, backport-v4.3, backport-v4.4

#6013 Add can apply to promotions
  promotions/app/models/solidus_promotions/order_adjuster.rb
  promotions/app/models/solidus_promotions/promotion.rb
  promotions/app/models/solidus_promotions/promotion_handler/coupon.rb
  promotions/spec/models/solidus_promotions/promotion_handler/coupon_spec.rb
  promotions/spec/models/solidus_promotions/promotion_spec.rb
  promotions/spec/system/solidus_promotions/backend/orders/adjustments_spec.rb
Labels: backport-v4.4, changelog:solidus_promotions

#6008 [v4.2] Use Order#email to show the order's email in new admin
  admin/app/components/solidus_admin/orders/index/component.rb
Labels: type:bug, changelog:solidus_admin

#5978 [Admin][Users]Add new admin store_credits show page
  admin/app/components/solidus_admin/users/store_credits/index/component.rb
  admin/app/components/solidus_admin/users/store_credits/show/component.html.erb
  admin/app/components/solidus_admin/users/store_credits/show/component.rb
  admin/app/components/solidus_admin/users/store_credits/show/component.yml
  admin/app/controllers/solidus_admin/store_credits_controller.rb
  admin/app/controllers/solidus_admin/users_controller.rb
  admin/config/routes.rb
  admin/spec/features/users_spec.rb
  admin/spec/requests/solidus_admin/store_credits_spec.rb
  admin/spec/requests/solidus_admin/users_spec.rb
Labels: changelog:solidus_admin

#6011 [Admin][Products] Add product properties create/edit flow to admin
  admin/app/components/solidus_admin/properties/edit/component.html.erb
  admin/app/components/solidus_admin/properties/edit/component.rb
  admin/app/components/solidus_admin/properties/edit/component.yml
  admin/app/components/solidus_admin/properties/index/component.rb
  admin/app/components/solidus_admin/properties/new/component.html.erb
  admin/app/components/solidus_admin/properties/new/component.rb
  admin/app/components/solidus_admin/properties/new/component.yml
  admin/app/controllers/solidus_admin/properties_controller.rb
  admin/config/locales/properties.en.yml
  admin/config/routes.rb
  admin/spec/features/properties_spec.rb
  admin/spec/requests/solidus_admin/properties_spec.rb
Labels: changelog:solidus_admin

#6016 Fix backporting of PRs with backport label first
  .github/workflows/backport.yml
Labels: changelog:repository

#6017 tests: Give even more dialogs more time to open in tests
  admin/spec/features/adjustment_reasons_spec.rb
  admin/spec/features/refund_reasons_spec.rb
  admin/spec/features/return_reasons_spec.rb
  admin/spec/features/roles_spec.rb
  admin/spec/features/shipping_categories_spec.rb
  admin/spec/features/store_credit_reasons_spec.rb
  admin/spec/features/tax_categories_spec.rb
Labels: changelog:solidus_admin, backport-v4.2, backport-v4.3, backport-v4.4

#5989 Introducing product brand using taxon_brand_selector
  core/app/models/spree/product.rb
  core/app/models/spree/taxon_brand_selector.rb
  core/config/locales/en.yml
  core/lib/spree/app_configuration.rb
  core/spec/models/spree/taxon_brand_selector_spec.rb
  sample/db/samples/taxonomies.rb
  sample/db/samples/taxons.rb
Labels: changelog:solidus_core, changelog:solidus_sample

#6031 [Admin][Users] Add new admin store credits edit_amount flow
  admin/app/components/solidus_admin/ui/forms/field/component.rb
  admin/app/components/solidus_admin/users/store_credits/edit_amount/component.html.erb
  admin/app/components/solidus_admin/users/store_credits/edit_amount/component.rb
  admin/app/components/solidus_admin/users/store_credits/edit_amount/component.yml
  admin/app/components/solidus_admin/users/store_credits/index/component.rb
  admin/app/components/solidus_admin/users/store_credits/show/component.html.erb
  admin/app/components/solidus_admin/users/store_credits/show/component.js
  admin/app/components/solidus_admin/users/store_credits/show/component.rb
  admin/app/components/solidus_admin/users/store_credits/show/component.yml
  admin/app/controllers/solidus_admin/store_credits_controller.rb
  admin/config/locales/store_credits.en.yml
  admin/config/routes.rb
  admin/spec/features/users_spec.rb
  admin/spec/requests/solidus_admin/store_credits_spec.rb
Labels: changelog:solidus_admin

#6033 [Admin][Users] Add new admin store credits edit_memo flow
  admin/app/components/solidus_admin/users/store_credits/edit_amount/component.yml
  admin/app/components/solidus_admin/users/store_credits/edit_memo/component.html.erb
  admin/app/components/solidus_admin/users/store_credits/edit_memo/component.rb
  admin/app/components/solidus_admin/users/store_credits/edit_memo/component.yml
  admin/app/components/solidus_admin/users/store_credits/show/component.html.erb
  admin/app/components/solidus_admin/users/store_credits/show/component.rb
  admin/app/components/solidus_admin/users/store_credits/show/component.yml
  admin/app/controllers/solidus_admin/store_credits_controller.rb
  admin/config/locales/store_credits.en.yml
  admin/config/routes.rb
  admin/spec/features/store_credits_spec.rb
  admin/spec/features/users_spec.rb
  admin/spec/requests/solidus_admin/store_credits_spec.rb
Labels: changelog:solidus_admin

#6034 [Admin][Users] Add new admin store credits invalidate flow
  admin/app/components/solidus_admin/users/store_credits/edit_validity/component.html.erb
  admin/app/components/solidus_admin/users/store_credits/edit_validity/component.rb
  admin/app/components/solidus_admin/users/store_credits/edit_validity/component.yml
  admin/app/components/solidus_admin/users/store_credits/show/component.html.erb
  admin/app/components/solidus_admin/users/store_credits/show/component.rb
  admin/app/controllers/solidus_admin/store_credits_controller.rb
  admin/config/locales/store_credits.en.yml
  admin/config/routes.rb
  admin/spec/features/store_credits_spec.rb
  admin/spec/requests/solidus_admin/store_credits_spec.rb
Labels: changelog:solidus_admin

#6037 Use at least solidus_support 0.12.0
  admin/spec/features/properties_spec.rb
  legacy_promotions/solidus_legacy_promotions.gemspec
  promotions/solidus_promotions.gemspec
Labels: changelog:solidus_admin, changelog:solidus_legacy_promotions, changelog:solidus_promotions

#6036 [Admin][Users] Add new admin store credits create flow
  admin/app/components/solidus_admin/users/store_credits/index/component.html.erb
  admin/app/components/solidus_admin/users/store_credits/index/component.js
  admin/app/components/solidus_admin/users/store_credits/index/component.rb
  admin/app/components/solidus_admin/users/store_credits/new/component.html.erb
  admin/app/components/solidus_admin/users/store_credits/new/component.rb
  admin/app/components/solidus_admin/users/store_credits/new/component.yml
  admin/app/controllers/solidus_admin/store_credits_controller.rb
  admin/config/routes.rb
  admin/spec/features/store_credits_spec.rb
  admin/spec/requests/solidus_admin/store_credits_spec.rb
Labels: changelog:solidus_admin

#6043 [Admin] Add Prettier config
  admin/.prettierrc
  admin/app/components/solidus_admin/layout/navigation/component.js
  admin/app/components/solidus_admin/orders/show/address/component.js
  admin/app/components/solidus_admin/orders/show/component.js
  admin/app/components/solidus_admin/orders/show/customer_search/component.js
  admin/app/components/solidus_admin/stock_items/edit/component.js
  admin/app/components/solidus_admin/ui/dropdown/component.js
  admin/app/components/solidus_admin/ui/forms/address/component.js
  admin/app/components/solidus_admin/ui/forms/input/component.js
  admin/app/components/solidus_admin/ui/modal/component.js
  admin/app/components/solidus_admin/ui/table/component.js
  admin/app/components/solidus_admin/ui/table/ransack_filter/component.js
  admin/app/components/solidus_admin/ui/toast/component.js
  admin/app/components/solidus_admin/ui/toggletip/component.js
  admin/app/components/solidus_admin/users/store_credits/index/component.js
  admin/app/components/solidus_admin/users/store_credits/show/component.js
Labels: changelog:solidus_admin
