Repository solidusio/solidus, pull requests merged in 2024-09, with the labels that each got.

#5845 Decorate Default Return Refund Amount Calculator in LegacyPromotions
  core/app/models/spree/calculator/returns/default_refund_amount.rb
  legacy_promotions/app/decorators/solidus_legacy_promotions/models/spree_calculator_returns_default_refund_amount_decorator.rb
Labels: changelog:solidus_core

#5847 Add missing `the` to README
  README.md
Labels: changelog:solidus

#5846 [Admin] Allow assignment of permission sets when creating/editing admin roles
  admin/app/components/solidus_admin/roles/edit/component.html.erb
  admin/app/components/solidus_admin/roles/edit/component.rb
  admin/app/components/solidus_admin/roles/edit/component.yml
  admin/app/components/solidus_admin/roles/new/component.html.erb
  admin/app/components/solidus_admin/roles/new/component.rb
  admin/app/components/solidus_admin/roles/new/component.yml
  admin/app/components/solidus_admin/ui/checkbox_row/component.html.erb
  admin/app/components/solidus_admin/ui/checkbox_row/component.rb
  admin/app/controllers/solidus_admin/roles_controller.rb
  admin/app/helpers/solidus_admin/permission_sets_helper.rb
  admin/spec/components/previews/solidus_admin/ui/checkbox_row/component_preview.rb
  admin/spec/components/previews/solidus_admin/ui/checkbox_row/component_preview/overview.html.erb
  admin/spec/components/solidus_admin/ui/checkbox_row/component_spec.rb
  admin/spec/features/roles_spec.rb
  admin/spec/helpers/solidus_admin/permission_sets_helper_spec.rb
  core/app/models/spree/permission_set.rb
  core/app/models/spree/role.rb
  core/app/models/spree/role_permission.rb
  core/db/default/spree/permission_sets.rb
  core/db/migrate/20240904152041_add_privilege_and_category_to_spree_permission_sets.rb
  core/db/seeds.rb
  core/lib/spree/permission_sets/base.rb
  core/lib/spree/permission_sets/configuration_display.rb
  core/lib/spree/permission_sets/configuration_management.rb
  core/lib/spree/permission_sets/dashboard_display.rb
  core/lib/spree/permission_sets/default_customer.rb
  core/lib/spree/permission_sets/order_display.rb
  core/lib/spree/permission_sets/order_management.rb
  core/lib/spree/permission_sets/product_display.rb
  core/lib/spree/permission_sets/product_management.rb
  core/lib/spree/permission_sets/restricted_stock_display.rb
  core/lib/spree/permission_sets/restricted_stock_management.rb
  core/lib/spree/permission_sets/stock_display.rb
  core/lib/spree/permission_sets/stock_management.rb
  core/lib/spree/permission_sets/super_user.rb
  core/lib/spree/permission_sets/user_display.rb
  core/lib/spree/permission_sets/user_management.rb
  core/spec/models/spree/permission_set_spec.rb
  core/spec/models/spree/permission_sets/base_spec.rb
  core/spec/models/spree/permission_sets/configuration_display.rb
  core/spec/models/spree/permission_sets/configuration_management_spec.rb
  core/spec/models/spree/permission_sets/dashboard_display_spec.rb
  core/spec/models/spree/permission_sets/default_customer_spec.rb
  core/spec/models/spree/permission_sets/order_display_spec.rb
  core/spec/models/spree/permission_sets/order_management_spec.rb
  core/spec/models/spree/permission_sets/product_display_spec.rb
  core/spec/models/spree/permission_sets/product_management_spec.rb
  core/spec/models/spree/permission_sets/restricted_stock_display_spec.rb
  core/spec/models/spree/permission_sets/restricted_stock_management_spec.rb
  core/spec/models/spree/permission_sets/stock_display_spec.rb
  core/spec/models/spree/permission_sets/stock_management_spec.rb
  core/spec/models/spree/permission_sets/super_user_spec.rb
  core/spec/models/spree/permission_sets/user_display_spec.rb
  core/spec/models/spree/permission_sets/user_management_spec.rb
  core/spec/models/spree/role_permission_spec.rb
  core/spec/models/spree/role_spec.rb
Labels: changelog:solidus_core, changelog:solidus_admin

#5850 [Admin] Display `last_sign_in_at` in users admin, change default scope
  admin/app/components/solidus_admin/users/index/component.rb
  admin/app/components/solidus_admin/users/index/component.yml
  admin/app/controllers/solidus_admin/users_controller.rb
  admin/spec/features/users_spec.rb
  core/config/locales/en.yml
Labels: changelog:solidus_core, changelog:solidus_admin

#5853 Add Ransack 4.2 support
  admin/app/components/solidus_admin/products/index/component.rb
  core/app/models/spree/product.rb
  core/lib/spree/core.rb
  core/lib/spree/ransack_4_1_patch.rb
  core/solidus_core.gemspec
  core/spec/models/spree/product_spec.rb
Labels: changelog:solidus_core, changelog:solidus_admin, backport-v4.2, backport-v4.3

#5827 Call empty only on incomplete orders
  api/app/controllers/spree/api/orders_controller.rb
  backend/app/assets/javascripts/spree/backend/views/cart/empty_cart_button.js
  backend/spec/features/admin/orders/order_details_spec.rb
Labels: changelog:solidus_api, changelog:solidus_backend

#5862 Stop pinning Chrome
  .circleci/config.yml
Labels: changelog:repository
