Repository solidusio/solidus, pull requests merged in 2024-02, with the labels that each got.

#5633 Remove call to private method `#update_cancellations` from `OrderUpdater#recalculate_adjustments`
  core/app/models/spree/order_updater.rb
Labels: changelog:solidus_core

#5638 Add missing option types to product sample data
  sample/db/samples/product_option_types.rb
Labels: changelog:solidus_sample

#5641 Add `better_errors` gem to the sandbox
  bin/sandbox
Labels: changelog:repository

#5643 Menu item should not match url if match_path is set
  backend/lib/spree/backend_configuration/menu_item.rb
  backend/spec/lib/spree/backend_configuration/menu_item_spec.rb
Labels: changelog:solidus_backend, backport-v4.2, backport-v4.3

#5595 [admin] Document SolidusAdmin intended usage and how to contribute
  admin/README.md
  admin/docs/components.md
  admin/docs/customizing_components.md
  admin/docs/index_pages.md
  admin/docs/menu_items.md
  admin/docs/stimulusjs.md
  admin/docs/tailwindcss.md
  admin/solidus_admin.gemspec
Labels: changelog:solidus_admin

#5660 Fix search by variant on stock items
  backend/app/controllers/spree/admin/stock_items_controller.rb
  backend/spec/features/admin/stock_items_spec.rb
Labels: changelog:solidus_backend, backport-v4.2, backport-v4.3

#5658 Nested Class Set extension, Promotion configuration object
  backend/app/controllers/spree/admin/promotion_actions_controller.rb
  backend/app/controllers/spree/admin/promotions_controller.rb
  backend/app/views/spree/admin/promotions/actions/_create_adjustment.html.erb
  backend/app/views/spree/admin/promotions/actions/_create_item_adjustments.html.erb
  backend/app/views/spree/admin/promotions/actions/_create_quantity_adjustments.html.erb
  core/app/models/spree/promotion_action.rb
  core/lib/spree/app_configuration.rb
  core/lib/spree/core.rb
  core/lib/spree/core/class_constantizer.rb
  core/lib/spree/core/environment/calculators.rb
  core/lib/spree/core/environment_extension.rb
  core/lib/spree/core/nested_class_set.rb
  core/lib/spree/core/promotion_configuration.rb
  core/spec/lib/spree/app_configuration_spec.rb
  core/spec/lib/spree/core/class_constantizer_spec.rb
  core/spec/lib/spree/core/environment/calculators_spec.rb
  core/spec/lib/spree/core/environment_extension_spec.rb
  core/spec/lib/spree/core/nested_class_set_spec.rb
  core/spec/lib/spree/core/promotion_configuration_spec.rb
  core/spec/models/spree/promotion/actions/create_adjustment_spec.rb
  core/spec/models/spree/promotion/actions/create_item_adjustments_spec.rb
  core/spec/models/spree/promotion/actions/create_quantity_adjustments_spec.rb
  core/spec/models/spree/promotion/actions/free_shipping_spec.rb
Labels: changelog:solidus_backend, changelog:solidus_core

#5656 Fix link to the community guidelines document
  README.md
Labels: changelog:solidus

#5636 Add Admin Tailwind build when generating sandbox
  README.md
  core/lib/generators/solidus/install/install_generator.rb
Labels: changelog:solidus_core, changelog:solidus

#5665 Configurable promotion adjustment sources
  core/app/models/spree/adjustment.rb
  core/lib/spree/app_configuration.rb
  core/spec/lib/spree/app_configuration_spec.rb
Labels: changelog:solidus_core

#5635 Promotion configuration
  api/app/controllers/spree/api/coupon_codes_controller.rb
  backend/app/controllers/spree/admin/promotion_actions_controller.rb
  backend/app/controllers/spree/admin/promotion_rules_controller.rb
  backend/app/controllers/spree/admin/promotions_controller.rb
  backend/app/helpers/spree/promotion_rules_helper.rb
  backend/app/views/spree/admin/promotions/_actions.html.erb
  backend/spec/features/admin/promotion_adjustments_spec.rb
  core/app/jobs/spree/promotion_code_batch_job.rb
  core/app/models/spree/order.rb
  core/app/models/spree/order_updater.rb
  core/app/models/spree/promotion/order_adjustments_recalculator.rb
  core/app/models/spree/promotion_action.rb
  core/lib/spree/app_configuration.rb
  core/lib/spree/core.rb
  core/lib/spree/core/environment/promotions.rb
  core/lib/spree/core/promotion_configuration.rb
  core/lib/spree/deprecator.rb
  core/spec/lib/spree/app_configuration_spec.rb
  core/spec/lib/spree/core/promotion_configuration_spec.rb
  core/spec/models/spree/promotion/order_adjustments_recalculator_spec.rb
  core/spec/models/spree/promotion_handler/shipping_spec.rb
  core/spec/spec_helper.rb
Labels: changelog:solidus_api, changelog:solidus_backend, changelog:solidus_core

#5667 Introduce a null promotion configuration
  core/app/models/spree/null_promotion_adjuster.rb
  core/app/models/spree/null_promotion_handler.rb
  core/config/locales/en.yml
  core/lib/spree/app_configuration.rb
  core/lib/spree/core.rb
  core/lib/spree/core/null_promotion_configuration.rb
  core/spec/lib/spree/app_configuration_spec.rb
  core/spec/lib/spree/core/null_promotion_configuration_spec.rb
  core/spec/models/spree/null_promotion_adjuster_spec.rb
  core/spec/models/spree/null_promotion_handler_spec.rb
Labels: changelog:solidus_core

#5611 Use routing proxy in locale selection
  backend/app/views/spree/admin/shared/_locale_selection.html.erb
Labels: changelog:solidus_backend, backport-v4.3

#5632 Deprecate Spree::Adjustment#recalculate
  core/app/models/spree/adjustment.rb
  core/lib/spree/testing_support/factories/adjustment_factory.rb
  core/spec/models/spree/adjustment_spec.rb
Labels: changelog:solidus_core

#5672 Improve test coverage for Spree::Adjustment to 100%
  core/spec/models/spree/adjustment_spec.rb
Labels: changelog:solidus_core

#5673 Push spec coverage for Spree::Order to 100%
  core/spec/models/spree/order/checkout_spec.rb
  core/spec/models/spree/order_spec.rb
Labels: changelog:solidus_core
