Repository solidusio/solidus, pull requests merged in 2024-08, with the labels that each got.

#5812 Lock solidus_core.gemspec to ransack '< 4.2'
  admin/spec/components/previews/solidus_admin/ui/thumbnail/component_preview/overview.html.erb
  core/solidus_core.gemspec
Labels: changelog:solidus_core, changelog:solidus_admin

#5811 [Admin] Create new Adjustment Reasons
  admin/app/components/solidus_admin/adjustment_reasons/index/component.rb
  admin/app/components/solidus_admin/adjustment_reasons/new/component.html.erb
  admin/app/components/solidus_admin/adjustment_reasons/new/component.rb
  admin/app/components/solidus_admin/adjustment_reasons/new/component.yml
  admin/app/controllers/solidus_admin/adjustment_reasons_controller.rb
  admin/config/locales/adjustment_reasons.en.yml
  admin/config/routes.rb
  admin/spec/features/adjustment_reasons_spec.rb
Labels: changelog:solidus_admin

#5816 Add before action to handle option type params
  admin/app/controllers/solidus_admin/products_controller.rb
Labels: changelog:solidus_admin

#5814 Use new extension point in order updater spec
  core/spec/models/spree/order_updater_spec.rb
Labels: changelog:solidus_core

#5817 [Admin] Shipping Categories edit/update
  admin/app/components/solidus_admin/shipping_categories/edit/component.html.erb
  admin/app/components/solidus_admin/shipping_categories/edit/component.rb
  admin/app/components/solidus_admin/shipping_categories/edit/component.yml
  admin/app/components/solidus_admin/shipping_categories/index/component.rb
  admin/app/controllers/solidus_admin/shipping_categories_controller.rb
  admin/config/locales/shipping_categories.en.yml
  admin/config/routes.rb
  admin/spec/features/shipping_categories_spec.rb
Labels: changelog:solidus_admin

#5819 [Admin] Refund Reasons edit/update
  admin/app/components/solidus_admin/refund_reasons/edit/component.html.erb
  admin/app/components/solidus_admin/refund_reasons/edit/component.rb
  admin/app/components/solidus_admin/refund_reasons/edit/component.yml
  admin/app/components/solidus_admin/refund_reasons/index/component.rb
  admin/app/controllers/solidus_admin/refund_reasons_controller.rb
  admin/config/locales/refund_reasons.en.yml
  admin/config/routes.rb
  admin/spec/features/refund_reasons_spec.rb
Labels: changelog:solidus_admin

#5820 [Admin] Create new Store Credit Reasons
  admin/app/components/solidus_admin/store_credit_reasons/index/component.rb
  admin/app/components/solidus_admin/store_credit_reasons/new/component.html.erb
  admin/app/components/solidus_admin/store_credit_reasons/new/component.rb
  admin/app/components/solidus_admin/store_credit_reasons/new/component.yml
  admin/app/controllers/solidus_admin/store_credit_reasons_controller.rb
  admin/config/locales/store_credit_reasons.en.yml
  admin/config/routes.rb
  admin/spec/features/store_credit_reasons_spec.rb
Labels: changelog:solidus_admin

#5825 Remove unused load methods & Add more request spec coverage
  admin/app/controllers/solidus_admin/adjustment_reasons_controller.rb
  admin/app/controllers/solidus_admin/reimbursement_types_controller.rb
  admin/app/controllers/solidus_admin/return_reasons_controller.rb
  admin/app/controllers/solidus_admin/shipping_categories_controller.rb
  admin/app/controllers/solidus_admin/shipping_methods_controller.rb
  admin/app/controllers/solidus_admin/stock_locations_controller.rb
  admin/app/controllers/solidus_admin/store_credit_reasons_controller.rb
  admin/app/controllers/solidus_admin/stores_controller.rb
  admin/app/controllers/solidus_admin/tax_categories_controller.rb
  admin/app/controllers/solidus_admin/tax_rates_controller.rb
  admin/app/controllers/solidus_admin/users_controller.rb
  admin/app/controllers/solidus_admin/zones_controller.rb
  admin/spec/requests/solidus_admin/adjustment_reasons_spec.rb
  admin/spec/requests/solidus_admin/shipping_categories_spec.rb
Labels: changelog:solidus_admin

#5830 Improve promotion code batch
  legacy_promotions/app/models/spree/promotion_code/batch_builder.rb
  legacy_promotions/spec/models/spree/promotion_code/batch_builder_spec.rb
Labels: changelog:repository

#5813 Raise on deprecation when `SOLIDUS_RAISE_DEPRECATIONS` set
  core/lib/spree/testing_support/dummy_app.rb
  core/spec/lib/spree/deprecator_spec.rb
Labels: changelog:solidus_core

#5829 [Admin] Introduce RMA reasons creation & modification capability
  admin/app/components/solidus_admin/return_reasons/edit/component.html.erb
  admin/app/components/solidus_admin/return_reasons/edit/component.rb
  admin/app/components/solidus_admin/return_reasons/edit/component.yml
  admin/app/components/solidus_admin/return_reasons/index/component.rb
  admin/app/components/solidus_admin/return_reasons/new/component.html.erb
  admin/app/components/solidus_admin/return_reasons/new/component.rb
  admin/app/components/solidus_admin/return_reasons/new/component.yml
  admin/app/controllers/solidus_admin/return_reasons_controller.rb
  admin/config/locales/return_reasons.en.yml
  admin/config/routes.rb
  admin/spec/features/return_reasons_spec.rb
  admin/spec/requests/solidus_admin/return_reasons_spec.rb
Labels: changelog:solidus_admin

#5831 [Admin] Introduce role creation
  admin/app/components/solidus_admin/roles/index/component.rb
  admin/app/components/solidus_admin/roles/index/component.yml
  admin/app/components/solidus_admin/roles/new/component.html.erb
  admin/app/components/solidus_admin/roles/new/component.rb
  admin/app/components/solidus_admin/roles/new/component.yml
  admin/app/components/solidus_admin/users/index/component.rb
  admin/app/components/solidus_admin/users_and_roles/component.rb
  admin/app/components/solidus_admin/users_and_roles/component.yml
  admin/app/controllers/solidus_admin/roles_controller.rb
  admin/config/locales/roles.en.yml
  admin/config/routes.rb
  admin/spec/features/roles_spec.rb
  admin/spec/features/users_spec.rb
  admin/spec/requests/solidus_admin/roles_spec.rb
Labels: changelog:solidus_admin

#5832 Limit supported rails version to before 7.2
  Gemfile
Labels: changelog:repository, backport-v4.3

#5835 [SolidusAdmin] Remove inaccessible details/summary element
  admin/app/components/solidus_admin/ui/forms/search/component.html.erb
  admin/app/components/solidus_admin/ui/forms/search/component.js
Labels: changelog:solidus_admin

#5839 [v4.3] Lock solidus_core.gemspec to ransack '< 4.2'
  admin/spec/components/previews/solidus_admin/ui/thumbnail/component_preview/overview.html.erb
  core/solidus_core.gemspec
Labels: changelog:solidus_core, changelog:solidus_admin, backport-v4.3

#5828 [Admin] Edit/Update roles via new admin UI
  admin/app/components/solidus_admin/roles/edit/component.html.erb
  admin/app/components/solidus_admin/roles/edit/component.rb
  admin/app/components/solidus_admin/roles/edit/component.yml
  admin/app/components/solidus_admin/roles/index/component.rb
  admin/app/controllers/solidus_admin/roles_controller.rb
  admin/config/locales/roles.en.yml
  admin/config/routes.rb
  admin/spec/features/roles_spec.rb
  admin/spec/requests/solidus_admin/roles_spec.rb
Labels: changelog:solidus_admin

#5836 Destroy wallet payment source on source destroy
  core/app/models/spree/payment_source.rb
  core/spec/support/concerns/payment_source.rb
Labels: changelog:solidus_core

#5842 Standardize admin controller setup methods
  admin/app/controllers/solidus_admin/adjustment_reasons_controller.rb
  admin/app/controllers/solidus_admin/refund_reasons_controller.rb
  admin/app/controllers/solidus_admin/return_reasons_controller.rb
  admin/app/controllers/solidus_admin/roles_controller.rb
  admin/app/controllers/solidus_admin/shipping_categories_controller.rb
  admin/app/controllers/solidus_admin/store_credit_reasons_controller.rb
  admin/app/controllers/solidus_admin/tax_categories_controller.rb
Labels: changelog:solidus_admin

#5833 [Admin] Add new migrations and validations in `core` to support new `admin` `Spree::Role` interface
  core/app/models/spree/role.rb
  core/db/migrate/20240821173254_create_spree_permission_sets_in_core.rb
  core/db/migrate/20240821173341_create_spree_roles_permissions_in_core.rb
  core/db/migrate/20240821173641_add_description_to_spree_roles.rb
Labels: changelog:solidus_core
