Repository solidusio/solidus, pull requests merged in 2024-05, with the labels that each got.

#5734 Show "Unavailable" status for products with a future `Available On` date
  admin/app/components/solidus_admin/products/show/component.html.erb
  admin/app/components/solidus_admin/products/status/component.rb
  admin/app/components/solidus_admin/products/status/component.yml
  admin/spec/components/solidus_admin/ui/forms/input/component_spec.rb
Labels: changelog:solidus_admin

#5739 Promotion advertiser
  core/app/models/spree/null_promotion_advertiser.rb
  core/app/models/spree/product.rb
  core/app/models/spree/promotion_advertiser.rb
  core/lib/spree/core/null_promotion_configuration.rb
  core/lib/spree/core/promotion_configuration.rb
  core/spec/lib/spree/core/null_promotion_configuration_spec.rb
  core/spec/lib/spree/core/promotion_configuration_spec.rb
  core/spec/models/spree/null_promotion_advertiser_spec.rb
  core/spec/models/spree/product_spec.rb
  core/spec/models/spree/promotion_advertiser_spec.rb
Labels: changelog:solidus_core

#5735 Docker development environment improvements
  .dockerdev/Dockerfile
  Gemfile
  admin/spec/spec_helper.rb
  backend/spec/spec_helper.rb
  backend/spec/teaspoon_env.rb
  docker-compose.yml
Labels: changelog:solidus_backend, changelog:repository, changelog:solidus_admin

#5738 Configure promotions via a configuration instance
  core/lib/spree/app_configuration.rb
  core/spec/lib/spree/app_configuration_spec.rb
Labels: changelog:solidus_core

#5737 Update to Node 20 in `docker-compose.yml`
  docker-compose.yml
Labels: changelog:repository

#5728 Do not initialize promotions object on startup
  api/lib/spree/api_configuration.rb
  api/spec/lib/spree/api_configuration_spec.rb
Labels: changelog:solidus_api

#5730 Move promotion backend controllers to `lib/
  Gemfile
  legacy_promotions/config/routes.rb
  legacy_promotions/lib/controllers/backend/spree/admin/promotion_actions_controller.rb
  legacy_promotions/lib/controllers/backend/spree/admin/promotion_categories_controller.rb
  legacy_promotions/lib/controllers/backend/spree/admin/promotion_code_batches_controller.rb
  legacy_promotions/lib/controllers/backend/spree/admin/promotion_codes_controller.rb
  legacy_promotions/lib/controllers/backend/spree/admin/promotion_rules_controller.rb
  legacy_promotions/lib/controllers/backend/spree/admin/promotions_controller.rb
  legacy_promotions/lib/solidus_legacy_promotions.rb
  legacy_promotions/lib/solidus_legacy_promotions/engine.rb
  legacy_promotions/lib/views/backend/spree/admin/promotion_actions/create.js.erb
  legacy_promotions/lib/views/backend/spree/admin/promotion_actions/destroy.js.erb
  legacy_promotions/lib/views/backend/spree/admin/promotion_categories/_form.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotion_categories/edit.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotion_categories/index.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotion_categories/new.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotion_code_batches/_form_fields.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotion_code_batches/download.csv.ruby
  legacy_promotions/lib/views/backend/spree/admin/promotion_code_batches/index.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotion_code_batches/new.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotion_codes/index.csv.ruby
  legacy_promotions/lib/views/backend/spree/admin/promotion_codes/index.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotion_codes/new.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotion_rules/create.js.erb
  legacy_promotions/lib/views/backend/spree/admin/promotion_rules/destroy.js.erb
  legacy_promotions/lib/views/backend/spree/admin/promotions/_actions.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotions/_activations_edit.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotions/_activations_new.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotions/_form.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotions/_promotion_action.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotions/_promotion_rule.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotions/_rules.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotions/actions/_create_adjustment.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotions/actions/_create_item_adjustments.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotions/actions/_create_quantity_adjustments.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotions/actions/_free_shipping.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotions/actions/_promotion_calculators_with_custom_fields.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotions/calculators/_default_fields.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotions/calculators/distributed_amount/_fields.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotions/calculators/flat_rate/_fields.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotions/calculators/tiered_flat_rate/_fields.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotions/calculators/tiered_percent/_fields.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotions/edit.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotions/index.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotions/new.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotions/rules/_first_order.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotions/rules/_first_repeat_purchase_since.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotions/rules/_item_total.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotions/rules/_minimum_quantity.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotions/rules/_nth_order.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotions/rules/_one_use_per_user.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotions/rules/_option_value.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotions/rules/_product.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotions/rules/_store.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotions/rules/_taxon.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotions/rules/_user.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotions/rules/_user_logged_in.html.erb
  legacy_promotions/lib/views/backend/spree/admin/promotions/rules/_user_role.html.erb
  legacy_promotions/solidus_legacy_promotions.gemspec
Labels: changelog:repository

#5741 fix(StoreCredit): Add display_number method
  core/app/models/spree/store_credit.rb
  core/spec/models/spree/store_credit_spec.rb
Labels: type:bug, changelog:solidus_core, backport-v4.3

#5718 [Admin] adding new shipping category
  admin/app/components/solidus_admin/shipping_categories/index/component.rb
  admin/app/components/solidus_admin/shipping_categories/new/component.html.erb
  admin/app/components/solidus_admin/shipping_categories/new/component.rb
  admin/app/components/solidus_admin/shipping_categories/new/component.yml
  admin/app/controllers/solidus_admin/shipping_categories_controller.rb
  admin/config/locales/shipping_categories.en.yml
  admin/config/routes.rb
  admin/spec/features/shipping_categories_spec.rb
  core/app/models/spree/shipping_category.rb
Labels: changelog:solidus_core, changelog:solidus_admin

#5757 Fix flaky admin customer return spec
  backend/spec/features/admin/orders/customer_returns_spec.rb
Labels: changelog:solidus_backend

#5752 Rename Spree::Config.promotions.promotion_adjuster_class
  core/app/models/spree/order.rb
  core/app/models/spree/order_updater.rb
  core/lib/spree/app_configuration.rb
  core/lib/spree/core/null_promotion_configuration.rb
  core/lib/spree/core/promotion_configuration.rb
  core/spec/lib/spree/core/null_promotion_configuration_spec.rb
  core/spec/lib/spree/core/promotion_configuration_spec.rb
Labels: changelog:solidus_core

#5753 Move shipping promotion handling to legacy promotions
  core/app/models/spree/order.rb
  core/lib/spree/core/null_promotion_configuration.rb
  core/lib/spree/core/state_machines/order.rb
  core/spec/lib/spree/core/null_promotion_configuration_spec.rb
  core/spec/models/spree/order/checkout_spec.rb
  core/spec/models/spree/order_spec.rb
  legacy_promotions/app/decorators/solidus_legacy_promotions/models/spree/order_decorator.rb
  legacy_promotions/spec/models/spree/order/checkout_spec.rb
  legacy_promotions/spec/models/spree/order_spec.rb
Labels: changelog:solidus_core, changelog:repository

#5755 Create Spree::SimpleOrderContents
  .rubocop_todo.yml
  core/app/models/spree/order_contents.rb
  core/app/models/spree/simple_order_contents.rb
  core/spec/models/spree/order_contents_spec.rb
  core/spec/models/spree/simple_order_contents_spec.rb
  legacy_promotions/lib/solidus_legacy_promotions/engine.rb
Labels: changelog:solidus_core, changelog:repository

#5754 Clear order promotions in Omnes event
  core/app/models/spree/order.rb
  core/lib/spree/core/engine.rb
  core/spec/models/spree/order_spec.rb
  legacy_promotions/app/subscribers/spree/order_promotion_subscriber.rb
  legacy_promotions/lib/solidus_legacy_promotions/engine.rb
  legacy_promotions/spec/models/spree/order_spec.rb
  legacy_promotions/spec/subscribers/spree/order_promotion_subscriber_spec.rb
Labels: changelog:solidus_core, changelog:repository

#5756 Add missing methods to null promotion configuration
  core/app/models/spree/deprecated_configurable_class.rb
  core/lib/spree/core/null_promotion_configuration.rb
  core/spec/lib/spree/core/null_promotion_configuration_spec.rb
  core/spec/models/spree/deprecated_configurable_class_spec.rb
Labels: changelog:solidus_core

#5765 Re-add translation for `match_choices`
  core/config/locales/en.yml
Labels: changelog:solidus_core

#5764 Fix deprecation warning from Ransack
  backend/app/views/spree/admin/products/index.html.erb
  backend/app/views/spree/admin/users/index.html.erb
  backend/app/views/spree/admin/users/items.html.erb
  backend/app/views/spree/admin/users/orders.html.erb
  backend/app/views/spree/admin/zones/index.html.erb
Labels: changelog:solidus_backend

#5759 CI: Bump GH Actions versions
  .github/workflows/backport.yml
  .github/workflows/ensure_changelog_label.yml
  .github/workflows/prepare_post_release.yml
  .github/workflows/prepare_release.yml
  .github/workflows/triage_for_changelog.yml
  .github/workflows/update_release_draft.yml
Labels: changelog:repository

#5763 Fix flaky legacy promotion codes controller spec
  legacy_promotions/spec/controllers/spree/admin/promotion_codes_controller_spec.rb
Labels: changelog:repository

#5762 Deprecated Configurable Class: Allow class methods
  core/app/models/spree/deprecated_configurable_class.rb
  core/spec/models/spree/deprecated_configurable_class_spec.rb
Labels: changelog:solidus_core
