Repository solidusio/solidus, pull requests merged in 2024-04, with the labels that each got.

#5705 Do not show theme selector if only one theme is configured
  backend/app/views/spree/admin/shared/_theme_selection.html.erb
  backend/app/views/spree/admin/shared/_theme_selection_solidus_admin.html.erb
Labels: changelog:solidus_backend, backport-v4.3

#5703 [admin] fix docs links in README
  admin/README.md
Labels: changelog:solidus_admin

#5699 Move promotion admin assets
  backend/app/assets/javascripts/spree/backend.js
  backend/app/assets/javascripts/spree/backend/namespaces.js
  backend/app/assets/javascripts/spree/backend/templates/index.js
  backend/app/assets/javascripts/spree/backend/views/index.js
  backend/app/assets/stylesheets/spree/backend/sections/index.scss
  legacy_promotions/app/assets/config/solidus_legacy_promotions/manifest.js
  legacy_promotions/app/assets/javascripts/spree/backend/edit_promotion.js
  legacy_promotions/app/assets/javascripts/spree/backend/promotions.js
  legacy_promotions/app/assets/javascripts/spree/backend/promotions/activation.js
  legacy_promotions/app/assets/javascripts/spree/backend/templates/promotions/calculators/fields/tiered_flat_rate.hbs
  legacy_promotions/app/assets/javascripts/spree/backend/templates/promotions/calculators/fields/tiered_percent.hbs
  legacy_promotions/app/assets/javascripts/spree/backend/templates/promotions/rules/option_values.hbs
  legacy_promotions/app/assets/javascripts/spree/backend/views/calculators/tiered.js
  legacy_promotions/app/assets/javascripts/spree/backend/views/promotions.js
  legacy_promotions/app/assets/javascripts/spree/backend/views/promotions/option_values_rule.js
  legacy_promotions/app/assets/stylesheets/solidus_legacy_promotions/promotions.scss
  legacy_promotions/app/assets/stylesheets/solidus_legacy_promotions/promotions/_edit.scss
  legacy_promotions/app/views/spree/admin/promotions/edit.html.erb
  legacy_promotions/app/views/spree/admin/promotions/new.html.erb
  legacy_promotions/lib/solidus_legacy_promotions/engine.rb
  legacy_promotions/spec/rails_helper.rb
Labels: changelog:solidus_backend, changelog:repository

#5700 Make SolidusAdmin's testing support code require-able
  admin/lib/solidus_admin/testing_support/component_helpers.rb
  admin/lib/solidus_admin/testing_support/feature_helpers.rb
  admin/spec/spec_helper.rb
  admin/spec/support/solidus_admin/component_helpers.rb
  admin/spec/support/solidus_admin/feature_helpers.rb
Labels: changelog:solidus_admin

#5702 [Admin] Add the ability to configure batch action confirmation
  admin/app/components/solidus_admin/products/index/component.rb
  admin/app/components/solidus_admin/ui/table/component.js
  admin/app/components/solidus_admin/ui/table/component.rb
  admin/app/components/solidus_admin/ui/table/component.yml
  admin/spec/features/products_spec.rb
Labels: changelog:solidus_admin

#5653 [4.2] Fix latest rubocop issues
  api/app/views/spree/api/images/_image.json.jbuilder
  backend/app/controllers/spree/admin/payment_methods_controller.rb
  backend/app/controllers/spree/admin/products_controller.rb
  core/app/models/spree/order.rb
  core/app/models/spree/promotion_handler/coupon.rb
  core/app/models/spree/stock/splitter/shipping_category.rb
  core/lib/spree/core/state_machines/order.rb
  core/lib/spree/money.rb
Labels: changelog:solidus_api, changelog:solidus_backend, changelog:solidus_core

#5654 [4.1] Fix latest rubocop offenses
  .rubocop.yml
  api/app/views/spree/api/images/_image.json.jbuilder
  backend/app/controllers/spree/admin/payment_methods_controller.rb
  backend/app/controllers/spree/admin/products_controller.rb
  core/app/models/spree/order.rb
  core/app/models/spree/promotion_handler/coupon.rb
  core/app/models/spree/stock/splitter/shipping_category.rb
  core/lib/spree/core/state_machines/order.rb
  core/lib/spree/money.rb
Labels: changelog:solidus_api, changelog:solidus_backend, changelog:solidus_core, changelog:repository

#5684 Let promotion handler decide whether it can add a coupon to an order
  core/app/models/spree/null_promotion_handler.rb
  core/app/models/spree/order.rb
  core/app/models/spree/promotion_handler/coupon.rb
  core/spec/models/spree/null_promotion_handler_spec.rb
  core/spec/models/spree/promotion_handler/coupon_spec.rb
Labels: changelog:solidus_core

#5716 Add routes proxy to locale selection path helper
  backend/app/views/spree/admin/shared/_locale_selection_solidus_admin.html.erb
Labels: changelog:solidus_backend

#5719 Show the page action for creating a new shipping method
  admin/app/components/solidus_admin/shipping_methods/index/component.rb
  admin/spec/features/shipping_methods_spec.rb
Labels: changelog:solidus_admin

#5696 [Admin] Create new Refund Reasons
  admin/app/components/solidus_admin/refund_reasons/index/component.rb
  admin/app/components/solidus_admin/refund_reasons/new/component.html.erb
  admin/app/components/solidus_admin/refund_reasons/new/component.rb
  admin/app/components/solidus_admin/refund_reasons/new/component.yml
  admin/app/controllers/solidus_admin/refund_reasons_controller.rb
  admin/config/locales/refund_reasons.en.yml
  admin/config/routes.rb
  admin/spec/features/refund_reasons_spec.rb
Labels: changelog:solidus_admin

#5726 Solidus gem: Require `solidus_legacy_promotions`
  lib/solidus.rb
Labels: changelog:solidus

#5727 Restrict sqlite3 gem to '~> 1.3', like ActiveRecord
  .circleci/config.yml
  Gemfile
Labels: changelog:repository

#5724 Move solidus admin promotion to legacy promotions
  Gemfile
  admin/lib/solidus_admin.rb
  admin/lib/solidus_admin/configuration.rb
  admin/solidus_admin.gemspec
  legacy_promotions/config/routes.rb
  legacy_promotions/lib/components/admin/solidus_admin/promotion_categories/index/component.rb
  legacy_promotions/lib/components/admin/solidus_admin/promotions/index/component.rb
  legacy_promotions/lib/components/admin/solidus_admin/promotions/index/component.yml
  legacy_promotions/lib/controllers/admin/solidus_admin/promotion_categories_controller.rb
  legacy_promotions/lib/controllers/admin/solidus_admin/promotions_controller.rb
  legacy_promotions/lib/solidus_legacy_promotions.rb
  legacy_promotions/lib/solidus_legacy_promotions/engine.rb
  legacy_promotions/spec/features/backend/main_menu_spec.rb
  legacy_promotions/spec/features/backend/promotion_adjustments_spec.rb
  legacy_promotions/spec/features/backend/promotions/option_value_rule_spec.rb
  legacy_promotions/spec/features/backend/promotions/product_rule_spec.rb
  legacy_promotions/spec/features/backend/promotions/promotion_categories_spec.rb
  legacy_promotions/spec/features/backend/promotions/promotion_code_batches_spec.rb
  legacy_promotions/spec/features/backend/promotions/promotion_code_spec.rb
  legacy_promotions/spec/features/backend/promotions/promotion_spec.rb
  legacy_promotions/spec/features/backend/promotions/tiered_calculator_spec.rb
  legacy_promotions/spec/features/backend/promotions/user_rule_spec.rb
  legacy_promotions/spec/features/solidus_admin/promotion_categories_spec.rb
  legacy_promotions/spec/features/solidus_admin/promotions_spec.rb
  legacy_promotions/spec/rails_helper.rb
Labels: changelog:repository, changelog:solidus_admin

#5729 Add `shipping_promotion_handler_class` attribute to null promo config
  core/lib/spree/core/null_promotion_configuration.rb
  core/spec/lib/spree/core/null_promotion_configuration_spec.rb
Labels: changelog:solidus_core
