Repository solidusio/solidus, pull requests merged in 2024-11, with the labels that each got.

#5843 Allow Rails 7.2
  .circleci/config.yml
  Gemfile
  backend/spec/features/admin/orders/customer_returns_spec.rb
  core/app/models/spree/tax_rate.rb
  core/lib/generators/solidus/install/app_templates/frontend/starter.rb
  core/lib/spree/testing_support/dummy_app.rb
  core/lib/spree/testing_support/dummy_app/migrations.rb
  core/solidus_core.gemspec
  promotions/app/models/solidus_promotions/promotion.rb
Labels: changelog:solidus_backend, changelog:solidus_core

#5883 Deprecate and remove dashboard code
  backend/app/controllers/spree/admin/dashboards_controller.rb
  backend/app/views/spree/admin/dashboards/home.html.erb
  core/lib/spree/permission_sets/dashboard_display.rb
  core/spec/models/spree/permission_sets/dashboard_display_spec.rb
Labels: changelog:solidus_backend, changelog:solidus_core

#5893 Legacy Promotions: Move ransackable promo associations from core
  core/app/models/spree/order.rb
  core/spec/models/spree/order_spec.rb
  legacy_promotions/app/decorators/solidus_legacy_promotions/models/spree_order_decorator.rb
  legacy_promotions/spec/models/spree/order_spec.rb
Labels: changelog:solidus_core

#5895 Improve solidus_promotions/MIGRATING.md
  legacy_promotions/lib/tasks/solidus_legacy_promotions/delete_ineligible_adjustments.rake
  promotions/MIGRATING.md
Labels: changelog:repository

#5901 FixUpdate return_reasons.rb
  core/db/default/spree/return_reasons.rb
Labels: changelog:solidus_core

#5916 Move Line Item Actions to solidus_legacy_promotions
  core/app/models/spree/line_item.rb
  core/db/migrate/20160101010000_solidus_one_four.rb
  legacy_promotions/app/decorators/solidus_legacy_promotions/models/spree_line_item_decorator.rb
  legacy_promotions/app/models/line_item_action.rb
  legacy_promotions/db/migrate/20160101010001_solidus_one_four_promotions.rb
Labels: changelog:solidus_core, backport-v4.4, changelog:solidus_legacy_promotions

#5917 Remove rails binstubs from built gems
  admin/solidus_admin.gemspec
  api/script/rails
  api/solidus_api.gemspec
  backend/script/rails
  backend/solidus_backend.gemspec
  core/script/rails
  core/solidus_core.gemspec
  legacy_promotions/solidus_legacy_promotions.gemspec
  promotions/solidus_promotions.gemspec
Labels: changelog:solidus_api, changelog:solidus_backend, changelog:solidus_core, changelog:solidus_admin

#5921 Backend Menu: Fix "Promotions" items
  legacy_promotions/config/locales/en.yml
  legacy_promotions/lib/solidus_legacy_promotions/engine.rb
  promotions/config/locales/en.yml
  promotions/lib/solidus_promotions/engine.rb
Labels: changelog:repository, backport-v4.4

#5923 Fix file location of spree/line_item_action.rb
  legacy_promotions/app/models/spree/line_item_action.rb
Labels: changelog:repository, backport-v4.4

#5927 Fix component translation scopes
  admin/app/components/solidus_admin/base_component.rb
  legacy_promotions/lib/components/admin/solidus_legacy_promotions/orders/index/component.yml
  promotions/lib/components/admin/solidus_promotions/orders/index/component.yml
Labels: changelog:solidus_admin, backport-v4.4, changelog:solidus_legacy_promotions, changelog:solidus_promotions

#5932 Use new global variables stylesheet in legacy promotions
  legacy_promotions/app/assets/stylesheets/solidus_legacy_promotions/promotions.scss
Labels: type:bug, changelog:repository, backport-v4.4, changelog:solidus_legacy_promotions

#5931 chore(github labeler): Add labels for new promotion gems
  .github/labeler.yml
Labels: changelog:repository

#5933 Feat(Admin): Dynamic routing proxies
  admin/app/components/solidus_admin/base_component.rb
  admin/app/components/solidus_admin/layout/navigation/item/component.html.erb
  admin/app/components/solidus_admin/layout/navigation/item/component.rb
  promotions/lib/components/admin/solidus_admin/orders/show/adjustments/index/source/solidus_promotions_benefit/component.rb
  promotions/lib/components/admin/solidus_promotions/promotions/index/component.rb
Labels: changelog:solidus_admin, backport-v4.4

#5934 Better promotion menus
  legacy_promotions/config/locales/en.yml
  legacy_promotions/lib/solidus_legacy_promotions/engine.rb
  promotions/config/locales/en.yml
  promotions/lib/controllers/admin/solidus_promotions/promotion_categories_controller.rb
  promotions/lib/controllers/admin/solidus_promotions/promotions_controller.rb
  promotions/lib/solidus_promotions/engine.rb
  promotions/spec/system/solidus_promotions/admin/orders/index_spec.rb
  promotions/spec/system/solidus_promotions/backend/main_menu_spec.rb
Labels: changelog:solidus_legacy_promotions, changelog:solidus_promotions

#5938 [v4.4] Better promotion menus
  legacy_promotions/config/locales/en.yml
  legacy_promotions/lib/solidus_legacy_promotions/engine.rb
  promotions/config/locales/en.yml
  promotions/lib/controllers/admin/solidus_promotions/promotion_categories_controller.rb
  promotions/lib/controllers/admin/solidus_promotions/promotions_controller.rb
  promotions/lib/solidus_promotions/engine.rb
  promotions/spec/system/solidus_promotions/admin/orders/index_spec.rb
  promotions/spec/system/solidus_promotions/backend/main_menu_spec.rb
Labels: changelog:repository, changelog:solidus_legacy_promotions, changelog:solidus_promotions

#5941 Include solidus_legacy_promotions in release task
  tasks/releasing.rake
  tasks/testing.rake
Labels: changelog:repository, backport-v4.4

#5943 Fix admin promotions controller
  promotions/lib/components/admin/solidus_promotions/promotions/index/component.rb
  promotions/lib/components/admin/solidus_promotions/promotions/index/component.yml
  promotions/lib/controllers/admin/solidus_promotions/promotion_categories_controller.rb
  promotions/lib/controllers/admin/solidus_promotions/promotions_controller.rb
  promotions/spec/system/solidus_promotions/admin/promotions_spec.rb
Labels: backport-v4.4, changelog:solidus_promotions

#5954 [FIX] Remove spacing at top of OrderShipping#ship method
  core/app/models/spree/order_shipping.rb
Labels: changelog:solidus_core

#5955 Legacy Promotions: Remove unneeded decorator
  legacy_promotions/app/decorators/solidus_legacy_promotions/models/spree_promotion_code_batch_decorator.rb
  legacy_promotions/app/models/spree/promotion_code_batch.rb
Labels: changelog:solidus_legacy_promotions
