Repository solidusio/solidus, pull requests merged in 2024-01, with the labels that each got.

#5577 Fix property destroy - use destroy instead of discard
  admin/app/controllers/solidus_admin/properties_controller.rb
  admin/spec/features/properties.rb
Labels: changelog:solidus_admin, backport-v4.3

#5574 Add Rails main branch to Circle CI test matrix
  .circleci/config.yml
  Gemfile
Labels: changelog:repository

#5580 Restore coverage tracking
  .circleci/config.yml
  admin/app/components/solidus_admin/base_component.rb
  admin/config/initializers/view_component.rb
  admin/spec/components/solidus_admin/base_component_spec.rb
  admin/spec/features/properties_spec.rb
  admin/spec/features/stock_items_spec.rb
  admin/spec/features/tax_rates_spec.rb
  admin/spec/solidus_admin/configuration_spec.rb
Labels: changelog:repository, changelog:solidus_admin

#5583 Separate subframeworks CI runs
  .circleci/config.yml
  bin/build-ci
Labels: changelog:repository

#5582 Fix the check on select2 translations asset existence
  backend/app/views/spree/admin/shared/_js_locale_data.html.erb
Labels: changelog:solidus_backend, backport-v4.3

#5589 [admin] Fix mock components reported location
  admin/spec/components/solidus_admin/layout/navigation/component_spec.rb
  admin/spec/support/solidus_admin/component_helpers.rb
Labels: changelog:solidus_admin

#3379 Add support for Sprockets v4 to the DummyApp
  Gemfile
  core/lib/spree/testing_support/dummy_app.rb
Labels: type:bug, changelog:solidus_core, changelog:repository

#5590 [admin] Require ViewComponent v3.9 with inheritable translations
  admin/app/components/solidus_admin/base_component.rb
  admin/solidus_admin.gemspec
Labels: changelog:solidus_admin

#5592 [admin] Remove previews for non-UI components that didn't add much value
  admin/spec/components/previews/solidus_admin/layout/feedback/component_preview.rb
  admin/spec/components/previews/solidus_admin/layout/feedback/component_preview/overview.html.erb
  admin/spec/components/previews/solidus_admin/layout/navigation/account/component_preview.rb
  admin/spec/components/previews/solidus_admin/layout/navigation/account/component_preview/overview.html.erb
  admin/spec/components/previews/solidus_admin/layout/navigation/account/component_preview/playground.html.erb
  admin/spec/components/previews/solidus_admin/layout/navigation/component_preview.rb
  admin/spec/components/previews/solidus_admin/layout/navigation/item/component_preview.rb
  admin/spec/components/previews/solidus_admin/layout/navigation/item/component_preview/overview.html.erb
  admin/spec/components/previews/solidus_admin/layout/skip_link/component_preview.rb
  admin/spec/components/previews/solidus_admin/orders/show/address/component_preview.rb
  admin/spec/components/previews/solidus_admin/orders/show/address/component_preview/overview.html.erb
  admin/spec/components/previews/solidus_admin/orders/show/summary/component_preview.rb
  admin/spec/components/previews/solidus_admin/orders/show/summary/component_preview/overview.html.erb
  admin/spec/components/previews/solidus_admin/products/status/component_preview.rb
  admin/spec/components/previews/solidus_admin/products/status/component_preview/overview.html.erb
  admin/spec/components/previews/solidus_admin/typography/typography_preview.rb
  admin/spec/components/previews/solidus_admin/typography/typography_preview/overview.html.erb
  admin/spec/components/solidus_admin/layout/feedback/component_spec.rb
  admin/spec/components/solidus_admin/layout/navigation/account/component_spec.rb
  admin/spec/components/solidus_admin/layout/navigation/component_spec.rb
  admin/spec/components/solidus_admin/layout/navigation/item/component_spec.rb
  admin/spec/components/solidus_admin/layout/skip_link/component_spec.rb
  admin/spec/components/solidus_admin/orders/show/address/component_spec.rb
  admin/spec/components/solidus_admin/orders/show/summary/component_spec.rb
  admin/spec/components/solidus_admin/products/status/component_spec.rb
Labels: changelog:solidus_admin

#5593 [admin] Consistently use `label` for providing text for table scopes, batch actions and filters
  admin/app/components/solidus_admin/adjustment_reasons/index/component.rb
  admin/app/components/solidus_admin/option_types/index/component.rb
  admin/app/components/solidus_admin/orders/index/component.rb
  admin/app/components/solidus_admin/payment_methods/index/component.rb
  admin/app/components/solidus_admin/products/index/component.rb
  admin/app/components/solidus_admin/promotion_categories/index/component.rb
  admin/app/components/solidus_admin/promotions/index/component.rb
  admin/app/components/solidus_admin/properties/index/component.rb
  admin/app/components/solidus_admin/refund_reasons/index/component.rb
  admin/app/components/solidus_admin/return_reasons/index/component.rb
  admin/app/components/solidus_admin/shipping_categories/index/component.rb
  admin/app/components/solidus_admin/shipping_methods/index/component.rb
  admin/app/components/solidus_admin/stock_items/index/component.rb
  admin/app/components/solidus_admin/stock_locations/index/component.rb
  admin/app/components/solidus_admin/store_credit_reasons/index/component.rb
  admin/app/components/solidus_admin/stores/index/component.rb
  admin/app/components/solidus_admin/tax_categories/index/component.rb
  admin/app/components/solidus_admin/tax_rates/index/component.rb
  admin/app/components/solidus_admin/taxonomies/index/component.rb
  admin/app/components/solidus_admin/ui/table/component.rb
  admin/app/components/solidus_admin/users/index/component.rb
  admin/app/components/solidus_admin/zones/index/component.rb
  admin/spec/components/previews/solidus_admin/ui/pages/index/component_preview.rb
  admin/spec/components/previews/solidus_admin/ui/table/component_preview.rb
Labels: changelog:solidus_admin

#5513 [admin] Order adjustments
  admin/app/components/solidus_admin/orders/show/adjustments/index/component.rb
  admin/app/components/solidus_admin/orders/show/adjustments/index/component.yml
  admin/app/components/solidus_admin/orders/show/summary/component.html.erb
  admin/app/components/solidus_admin/ui/pages/index/component.html.erb
  admin/app/components/solidus_admin/ui/pages/index/component.rb
  admin/app/controllers/solidus_admin/adjustments_controller.rb
  admin/config/locales/adjustments.en.yml
  admin/config/routes.rb
  admin/spec/features/orders/adjustments_spec.rb
  admin/spec/features/orders/index_spec.rb
  admin/spec/features/orders/show_spec.rb
  core/app/models/spree/adjustment.rb
  core/lib/generators/spree/dummy/templates/rails/test.rb
  core/lib/spree/testing_support/dummy_app.rb
  tasks/linting.rake
Labels: changelog:solidus_core, changelog:repository, changelog:solidus_admin

#5594 [admin] Reduce the size of the panels title
  admin/app/assets/stylesheets/solidus_admin/dark.css
  admin/app/assets/stylesheets/solidus_admin/dimmed.css
  admin/app/components/solidus_admin/ui/button/component.rb
  admin/app/components/solidus_admin/ui/panel/component.html.erb
  admin/app/components/solidus_admin/ui/panel/component.rb
Labels: changelog:solidus_admin

#5601 fix(admin stock items spec): Wait for tab to be active
  admin/spec/features/stock_items_spec.rb
Labels: changelog:solidus_admin

#5600 Disable admin preview for extensions test apps
  core/lib/spree/testing_support/common_rake.rb
Labels: changelog:solidus_core, backport-v4.3

#5599 Use `spree` routing proxy in theme selection partial
  backend/app/views/spree/admin/shared/_theme_selection.html.erb
Labels: changelog:solidus_backend, backport-v4.3

#5604 Theme selection for Solidus Admin: Use spree routing proxy
  backend/app/views/spree/admin/shared/_theme_selection_solidus_admin.html.erb
Labels: changelog:solidus_backend, backport-v4.3

#5607 Bundle solidus_admin >= 0.2 in Solidus installer
  core/lib/generators/solidus/install/install_generator.rb
Labels: changelog:solidus_core, backport-v4.3

#5623 Dummy App generator: Use db var instead of ENV var
  core/lib/generators/spree/dummy/templates/rails/database.yml
Labels: changelog:solidus_core, backport-v3.4, backport-v4.0, backport-v4.1
