Repository solidusio/solidus, pull requests merged in 2025-04, with the labels that each got.

#6199 Move OrderMailerSubscriber#send_confirmation_email
  core/app/subscribers/spree/order_confirmation_mailer_subscriber.rb
  core/app/subscribers/spree/order_mailer_subscriber.rb
  core/lib/spree/core/engine.rb
  core/spec/subscribers/spree/order_confirmation_mailer_subscriber_spec.rb
  core/spec/subscribers/spree/order_mailer_subscriber_spec.rb
Labels: changelog:solidus_core

#6207 Fix typos
  GOVERNANCE.md
  README.md
  admin/README.md
  admin/docs/components.md
  admin/docs/stimulusjs.md
  core/README.md
  promotions/README.md
Labels: changelog:solidus_core, changelog:solidus, changelog:solidus_admin, changelog:solidus_promotions

#6136 Add reverse charge status to stores
  api/lib/spree/api_configuration.rb
  api/spec/requests/spree/api/stores_spec.rb
  backend/app/views/spree/admin/stores/_form.html.erb
  backend/lib/spree/backend_configuration.rb
  core/app/models/spree/store.rb
  core/config/locales/en.yml
  core/db/migrate/20250214094207_add_reverse_charge_status_to_store.rb
  core/lib/spree/permitted_attributes.rb
  core/spec/models/spree/store_spec.rb
Labels: changelog:solidus_api, changelog:solidus_backend, changelog:solidus_core

#6094 [Backend] Fix issue refunding uncompleted payments
  admin/spec/features/return_reasons_spec.rb
  backend/app/views/spree/admin/payments/_list.html.erb
  backend/spec/features/admin/orders/payments_spec.rb
Labels: changelog:solidus_backend, changelog:solidus_admin

#6190 [Admin][UI] New select component
  admin/app/components/solidus_admin/ui/forms/address/component.js
  admin/app/components/solidus_admin/ui/forms/field/component.html.erb
  admin/app/components/solidus_admin/ui/forms/field/component.rb
  admin/app/components/solidus_admin/ui/forms/input/component.js
  admin/app/components/solidus_admin/ui/forms/input/component.rb
  admin/app/components/solidus_admin/ui/forms/select/component.html.erb
  admin/app/components/solidus_admin/ui/forms/select/component.rb
  admin/app/components/solidus_admin/ui/modal/component.html.erb
  admin/app/controllers/solidus_admin/store_credits_controller.rb
  admin/app/javascript/solidus_admin/application.js
  admin/app/javascript/solidus_admin/controllers/custom_validity_controller.js
  admin/app/javascript/solidus_admin/utils.js
  admin/app/javascript/solidus_admin/web_components/solidus_select.js
  admin/app/javascript/vendor/custom_elements.js
  admin/config/importmap.rb
  admin/config/tailwind.config.js
  admin/lib/solidus_admin/testing_support/feature_helpers.rb
  admin/spec/components/previews/solidus_admin/ui/forms/input/component_preview.rb
  admin/spec/components/previews/solidus_admin/ui/forms/select/component_preview.rb
  admin/spec/components/previews/solidus_admin/ui/forms/select/component_preview/overview.html.erb
  admin/spec/components/solidus_admin/ui/forms/input/component_spec.rb
  admin/spec/components/solidus_admin/ui/forms/select/component_spec.rb
  admin/spec/features/orders/show_spec.rb
  admin/spec/features/store_credits_spec.rb
  admin/spec/requests/solidus_admin/store_credits_spec.rb
Labels: changelog:solidus_admin

#6219 Move carton shipped emails to subscriber
  core/app/models/spree/carton.rb
  core/app/models/spree/order_shipping.rb
  core/app/subscribers/spree/carton_shipped_mailer_subscriber.rb
  core/lib/spree/core/engine.rb
  core/spec/subscribers/spree/carton_shipped_mailer_subscriber_spec.rb
Labels: changelog:solidus_core

#6191 Refactor `ui/forms/address` component
  admin/app/components/solidus_admin/orders/show/address/component.html.erb
  admin/app/components/solidus_admin/ui/forms/address/component.html.erb
  admin/app/components/solidus_admin/ui/forms/address/component.rb
  admin/app/components/solidus_admin/users/addresses/component.html.erb
  admin/spec/components/previews/solidus_admin/ui/forms/address/component_preview.rb
  admin/spec/components/previews/solidus_admin/ui/forms/address/component_preview/overview.html.erb
  admin/spec/components/solidus_admin/ui/forms/address/component_spec.rb
Labels: changelog:solidus_admin

#6205 Add subscribers for inventory cancellation and order cancellation emails
  core/app/models/spree/order.rb
  core/app/models/spree/order_cancellations.rb
  core/app/subscribers/spree/order_cancel_mailer_subscriber.rb
  core/app/subscribers/spree/order_inventory_cancellation_mailer_subscriber.rb
  core/lib/spree/core/engine.rb
  core/spec/subscribers/spree/order_cancel_mailer_subscriber_spec.rb
  core/spec/subscribers/spree/order_inventory_cancellation_mailer_subscriber_spec.rb
Labels: changelog:solidus_core

#6223 Make linters happy
  admin/app/components/solidus_admin/ui/thumbnail/component.rb
  core/spec/models/spree/tax/tax_helpers_spec.rb
Labels: changelog:solidus_core, changelog:solidus_admin

#6221 Disallow migrations with the wrong versions
  .github/workflows/test_solidus_rubocops.yml
  .rubocop.yml
  core/lib/spree/core/version.rb
  core/solidus_core.gemspec
  tasks/linting/wrong_migration_version.rb
  tasks/linting/wrong_migration_version_spec.rb
Labels: changelog:solidus_core

#6201 Use semantic links to edit option types
  admin/app/components/solidus_admin/option_types/index/component.rb
Labels: changelog:solidus_admin

#6195 Use `human_attribute_name` for promo calculator labels
  promotions/config/locales/en.yml
  promotions/lib/views/backend/solidus_promotions/admin/calculator_fields/_default_fields.html.erb
Labels: changelog:solidus_promotions

#6168 Add reverse charge fields to address
  admin/app/components/solidus_admin/ui/forms/address/component.html.erb
  api/lib/spree/api_configuration.rb
  api/spec/requests/spree/api/address_books_spec.rb
  api/spec/requests/spree/api/checkouts_spec.rb
  backend/app/assets/javascripts/spree/backend/views/order/address.js
  backend/app/views/spree/admin/search/users.json.jbuilder
  backend/app/views/spree/admin/shared/_address.html.erb
  backend/app/views/spree/admin/shared/_address_form.html.erb
  core/app/models/spree/address.rb
  core/config/locales/en.yml
  core/db/migrate/20250225051308_add_vat_id_email_and_reverse_charge_status_to_addresses.rb
  core/lib/spree/permitted_attributes.rb
  core/spec/models/spree/address_spec.rb
Labels: changelog:solidus_api, changelog:solidus_backend, changelog:solidus_core, changelog:solidus_admin

#6213 Admin select component performance
  admin/app/components/solidus_admin/ui/forms/select/component.html.erb
  admin/app/components/solidus_admin/ui/forms/select/component.rb
  admin/app/javascript/solidus_admin/tom-select/plugins/patch_scroll.js
  admin/app/javascript/solidus_admin/tom-select/plugins/remote_with_pagination.js
  admin/app/javascript/solidus_admin/tom-select/plugins/stash_on_search.js
  admin/app/javascript/solidus_admin/tom-select/tom-select.js
  admin/app/javascript/solidus_admin/utils.js
  admin/app/javascript/solidus_admin/web_components/solidus_select.js
  admin/config/importmap.rb
  admin/config/locales/solidus_select.yml
  admin/spec/components/previews/solidus_admin/ui/forms/select/component_preview.rb
  admin/spec/components/previews/solidus_admin/ui/forms/select/component_preview/overview.html.erb
Labels: changelog:solidus_admin
