Repository solidusio/solidus, pull requests merged in 2025-03, with the labels that each got.

#6170 Add new order events
  core/app/models/spree/order.rb
  core/app/models/spree/order_cancellations.rb
  core/app/models/spree/order_shipping.rb
  core/lib/spree/core/engine.rb
  core/spec/models/spree/order_cancellations_spec.rb
  core/spec/models/spree/order_shipping_spec.rb
  core/spec/models/spree/order_spec.rb
  core/spec/rails_helper.rb
Labels: changelog:solidus_core

#6171 [Docs] Fix Meta Data Restriction Comment to reflect default setting
  core/lib/spree/app_configuration.rb
Labels: changelog:solidus_core, backport-v4.5

#6174 Fix ui/forms/input component for tag: :textarea
  admin/app/components/solidus_admin/ui/forms/input/component.rb
  admin/spec/components/solidus_admin/ui/forms/input/component_spec.rb
Labels: changelog:solidus_admin, backport-v4.4, backport-v4.5

#6181 [v4.5] [Docs] Fix Meta Data Restriction Comment to reflect default setting
  core/lib/spree/app_configuration.rb
Labels: changelog:solidus_core, backport-v4.5

#6182 [v4.5] [Admin] Fix Unclosed form_tag in table component
  admin/app/components/solidus_admin/ui/table/component.html.erb
Labels: changelog:solidus_admin, backport-v4.5

#6180 Revert "GH: Allow backport workflow to trigger actions"
  .github/workflows/backport.yml
Labels: changelog:repository

#6156 Separate order mailer subscriber from reimbursement mailer subscriber
  core/app/subscribers/spree/order_mailer_subscriber.rb
  core/app/subscribers/spree/reimbursement_mailer_subscriber.rb
  core/lib/spree/core/engine.rb
  core/spec/subscribers/spree/order_mailer_subscriber_spec.rb
  core/spec/subscribers/spree/reimbursement_mailer_subscriber_spec.rb
Labels: changelog:solidus_core

#6188 Fixed migrations so you can rollback them all
  core/db/migrate/20160101010000_solidus_one_four.rb
  core/db/migrate/20180416083007_add_apply_to_all_to_variant_property_rule.rb
  legacy_promotions/db/migrate/20231027084517_add_order_promotions_foreign_key.rb
Labels: changelog:solidus_core, changelog:solidus_legacy_promotions

#6192 Inherit from ActiveRecord::Migration version for all supported Rails
  core/db/migrate/20250129061658_add_metadata_to_spree_resources.rb
Labels: changelog:solidus_core, backport-v4.5

#6196 Fix Rubocop offense
  legacy_promotions/app/models/spree/promotion/rules/first_order.rb
  promotions/app/models/solidus_promotions/conditions/first_order.rb
Labels: changelog:solidus_legacy_promotions, changelog:solidus_promotions

#6197 Fix flaky specs
  admin/spec/spec_helper.rb
  backend/spec/features/admin/configuration/shipping_methods_spec.rb
  backend/spec/features/admin/orders/customer_returns_spec.rb
  backend/spec/features/admin/orders/new_order_spec.rb
  backend/spec/features/admin/orders/return_payment_state_spec.rb
  backend/spec/features/admin/products/edit/images_spec.rb
  backend/spec/spec_helper.rb
  legacy_promotions/spec/features/backend/promotion_adjustments_spec.rb
  legacy_promotions/spec/features/backend/promotions/option_value_rule_spec.rb
  legacy_promotions/spec/features/backend/promotions/product_rule_spec.rb
  legacy_promotions/spec/features/backend/promotions/promotion_categories_spec.rb
  legacy_promotions/spec/features/backend/promotions/promotion_code_batches_spec.rb
  legacy_promotions/spec/features/backend/promotions/promotion_code_spec.rb
  legacy_promotions/spec/features/backend/promotions/tiered_calculator_spec.rb
  legacy_promotions/spec/features/backend/promotions/user_rule_spec.rb
  legacy_promotions/spec/rails_helper.rb
  promotions/spec/rails_helper.rb
  promotions/spec/system/solidus_promotions/backend/promotions_spec.rb
Labels: changelog:solidus_backend, changelog:solidus_admin, backport-v4.4, changelog:solidus_legacy_promotions, changelog:solidus_promotions, backport-v4.5
