Repository solidusio/solidus, pull requests merged in 2025-06, with the labels that each got.

#6224 [Admin][Settings] Introduce zone creation and modification capability
  .rubocop.yml
  Gemfile
  admin/app/blueprints/solidus_admin/state_blueprint.rb
  admin/app/components/solidus_admin/base_component.rb
  admin/app/components/solidus_admin/ui/button/component.rb
  admin/app/components/solidus_admin/ui/button/component.yml
  admin/app/components/solidus_admin/ui/forms/field/component.rb
  admin/app/components/solidus_admin/ui/forms/select/component.rb
  admin/app/components/solidus_admin/zones/edit/component.html.erb
  admin/app/components/solidus_admin/zones/edit/component.rb
  admin/app/components/solidus_admin/zones/form/component.html.erb
  admin/app/components/solidus_admin/zones/form/component.js
  admin/app/components/solidus_admin/zones/form/component.rb
  admin/app/components/solidus_admin/zones/form/component.yml
  admin/app/components/solidus_admin/zones/index/component.rb
  admin/app/components/solidus_admin/zones/new/component.html.erb
  admin/app/components/solidus_admin/zones/new/component.rb
  admin/app/controllers/solidus_admin/resources_controller.rb
  admin/app/controllers/solidus_admin/states_controller.rb
  admin/app/controllers/solidus_admin/zones_controller.rb
  admin/app/helpers/solidus_admin/stimulus_helper.rb
  admin/config/locales/zones.en.yml
  admin/config/routes.rb
  admin/lib/solidus_admin/engine.rb
  admin/lib/solidus_admin/testing_support/feature_helpers.rb
  admin/solidus_admin.gemspec
  admin/spec/blueprints/solidus_admin/state_blueprint_spec.rb
  admin/spec/components/solidus_admin/ui/button/component_spec.rb
  admin/spec/features/properties_spec.rb
  admin/spec/features/zones_spec.rb
  admin/spec/requests/solidus_admin/zones_spec.rb
  admin/spec/spec_helper.rb
  api/app/views/spree/api/line_items/new.json.jbuilder
  core/app/models/spree/classification.rb
  core/app/models/spree/inventory_unit.rb
  core/app/models/spree/role_user.rb
  core/app/models/spree/state.rb
  core/app/models/spree/stock_location.rb
  core/app/models/spree/store_credit.rb
  core/app/models/spree/store_credit_event.rb
  core/app/models/spree/tax_category.rb
  core/app/models/spree/user_address.rb
  core/app/models/spree/variant.rb
  core/app/models/spree/variant_property_rule_condition.rb
  core/app/models/spree/wallet_payment_source.rb
  core/config/locales/en.yml
  core/lib/spree/testing_support/factories/zone_factory.rb
  legacy_promotions/app/models/spree/promotion/rules/product.rb
  legacy_promotions/app/models/spree/promotion/rules/taxon.rb
  legacy_promotions/app/models/spree/promotion_category.rb
  legacy_promotions/app/models/spree/promotion_code_batch.rb
Labels: changelog:solidus_api, changelog:solidus_core, changelog:solidus_admin, changelog:solidus_legacy_promotions

#6252 Admin users edit tabs
  admin/app/components/solidus_admin/users/addresses/component.html.erb
  admin/app/components/solidus_admin/users/addresses/component.rb
  admin/app/components/solidus_admin/users/addresses/component.yml
  admin/app/components/solidus_admin/users/edit/component.html.erb
  admin/app/components/solidus_admin/users/edit/component.rb
  admin/app/components/solidus_admin/users/edit/component.yml
  admin/app/components/solidus_admin/users/edit/tabs/component.rb
  admin/app/components/solidus_admin/users/edit/tabs/component.yml
  admin/app/components/solidus_admin/users/items/component.html.erb
  admin/app/components/solidus_admin/users/items/component.rb
  admin/app/components/solidus_admin/users/items/component.yml
  admin/app/components/solidus_admin/users/orders/component.html.erb
  admin/app/components/solidus_admin/users/orders/component.rb
  admin/app/components/solidus_admin/users/orders/component.yml
  admin/app/components/solidus_admin/users/store_credits/index/component.html.erb
  admin/app/components/solidus_admin/users/store_credits/index/component.rb
  admin/app/components/solidus_admin/users/store_credits/index/component.yml
  admin/app/components/solidus_admin/users/store_credits/show/component.html.erb
  admin/app/components/solidus_admin/users/store_credits/show/component.rb
  admin/app/components/solidus_admin/users/store_credits/show/component.yml
Labels: changelog:solidus_admin

#6267 Admin sorting with pagination
  admin/app/components/solidus_admin/ui/pages/index/component.rb
  admin/app/components/solidus_admin/ui/table/component.html.erb
  admin/app/components/solidus_admin/ui/table/component.rb
  admin/app/controllers/solidus_admin/resources_controller.rb
  admin/app/javascript/solidus_admin/controllers/sortable_controller.js
Labels: changelog:solidus_admin

#6284 Add link to project roadmap to the README
  README.md
Labels: changelog:solidus

#6282 [Admin] Extract `#move` action into concern
  admin/app/controllers/concerns/solidus_admin/moveable.rb
  admin/app/controllers/solidus_admin/option_types_controller.rb
  admin/app/controllers/solidus_admin/payment_methods_controller.rb
  admin/app/controllers/solidus_admin/taxonomies_controller.rb
  admin/lib/solidus_admin/testing_support/shared_examples/moveable.rb
  admin/spec/features/payment_methods_spec.rb
  admin/spec/features/taxonomies_spec.rb
  admin/spec/requests/solidus_admin/payment_methods_spec.rb
  admin/spec/requests/solidus_admin/taxonomies_spec.rb
Labels: changelog:solidus_admin

#6275 [Admin][UI] checkbox refactor
  admin/app/components/solidus_admin/adjustment_reasons/edit/component.html.erb
  admin/app/components/solidus_admin/adjustment_reasons/new/component.html.erb
  admin/app/components/solidus_admin/orders/show/address/component.html.erb
  admin/app/components/solidus_admin/products/show/component.html.erb
  admin/app/components/solidus_admin/refund_reasons/edit/component.html.erb
  admin/app/components/solidus_admin/refund_reasons/new/component.html.erb
  admin/app/components/solidus_admin/return_reasons/edit/component.html.erb
  admin/app/components/solidus_admin/return_reasons/new/component.html.erb
  admin/app/components/solidus_admin/store_credit_reasons/edit/component.html.erb
  admin/app/components/solidus_admin/store_credit_reasons/new/component.html.erb
  admin/app/components/solidus_admin/tax_categories/edit/component.html.erb
  admin/app/components/solidus_admin/tax_categories/new/component.html.erb
  admin/app/components/solidus_admin/ui/checkbox/component.rb
  admin/app/components/solidus_admin/ui/forms/checkbox/component.html.erb
  admin/app/components/solidus_admin/ui/forms/checkbox/component.rb
  admin/app/components/solidus_admin/ui/table/component.rb
  admin/app/components/solidus_admin/ui/table/ransack_filter/component.html.erb
  admin/lib/solidus_admin/testing_support/feature_helpers.rb
  admin/spec/components/previews/solidus_admin/ui/checkbox/component_preview.rb
  admin/spec/components/previews/solidus_admin/ui/checkbox/component_preview/overview.html.erb
  admin/spec/components/previews/solidus_admin/ui/forms/checkbox/component_preview.rb
  admin/spec/components/previews/solidus_admin/ui/forms/checkbox/component_preview/overview.html.erb
  admin/spec/components/solidus_admin/ui/checkbox/component_spec.rb
  admin/spec/features/product_spec.rb
  admin/spec/features/refund_reasons_spec.rb
  admin/spec/features/tax_categories_spec.rb
Labels: changelog:solidus_admin

#6289 Calculator spec: Fix Rubocop offenses
  .rubocop_todo.yml
  core/spec/models/spree/calculator_spec.rb
Labels: changelog:solidus_core

#6291 Add `Spree::ZERO` constant
  core/app/models/concerns/spree/preferences/persistable.rb
  core/app/models/concerns/spree/user_reporting.rb
  core/app/models/spree/calculator.rb
  core/app/models/spree/payment_method.rb
  core/lib/spree/core.rb
  core/lib/spree/preferences/preferable.rb
  core/lib/spree/zero.rb
  core/spec/models/spree/payment_spec.rb
  core/spec/models/spree/user_spec.rb
  legacy_promotions/app/models/spree/calculator/flexi_rate.rb
  legacy_promotions/app/models/spree/calculator/tiered_flat_rate.rb
  legacy_promotions/app/models/spree/calculator/tiered_percent.rb
  legacy_promotions/app/models/spree/promotion/actions/create_adjustment.rb
  legacy_promotions/app/models/spree/promotion/actions/create_item_adjustments.rb
  legacy_promotions/app/models/spree/promotion/actions/create_quantity_adjustments.rb
  legacy_promotions/app/models/spree/promotion_action.rb
  legacy_promotions/app/models/spree/promotion_chooser.rb
  legacy_promotions/app/models/spree/promotion_rule.rb
  promotions/app/models/solidus_promotions/benefit.rb
  promotions/app/models/solidus_promotions/benefits/adjust_line_item_quantity_groups.rb
  promotions/app/models/solidus_promotions/calculators/flexi_rate.rb
  promotions/app/models/solidus_promotions/calculators/tiered_flat_rate.rb
  promotions/app/models/solidus_promotions/calculators/tiered_percent.rb
  promotions/app/models/solidus_promotions/condition.rb
Labels: changelog:solidus_core, changelog:solidus_legacy_promotions, changelog:solidus_promotions

#6293 Handle failing foreign key additions
  core/db/migrate/20250530102541_add_addressbook_foreign_key.rb
  core/db/migrate/20250605105424_add_shipping_category_foreign_keys.rb
Labels: changelog:solidus_core

#6288 [Admin][UI] Radio component
  admin/app/components/solidus_admin/ui/radio/component.rb
  admin/spec/components/previews/solidus_admin/ui/radio/component_preview.rb
  admin/spec/components/previews/solidus_admin/ui/radio/component_preview/overview.html.erb
  admin/spec/components/solidus_admin/ui/radio/component_spec.rb
Labels: changelog:solidus_admin

#6279 [Admin][UI] Allow select to include blank option
  admin/app/components/solidus_admin/ui/forms/select/component.rb
  admin/app/components/solidus_admin/users/store_credits/edit_amount/component.html.erb
  admin/app/components/solidus_admin/users/store_credits/edit_amount/component.rb
  admin/app/components/solidus_admin/users/store_credits/edit_validity/component.html.erb
  admin/app/components/solidus_admin/users/store_credits/edit_validity/component.rb
  admin/app/components/solidus_admin/users/store_credits/new/component.html.erb
  admin/app/components/solidus_admin/users/store_credits/new/component.rb
  admin/app/javascript/solidus_admin/web_components/solidus_select.js
  admin/spec/components/previews/solidus_admin/ui/forms/select/component_preview.rb
  admin/spec/components/previews/solidus_admin/ui/forms/select/component_preview/overview.html.erb
Labels: changelog:solidus_admin
