Repository solidusio/solidus, pull requests merged in 2025-02, with the labels that each got.

#6091 Allows Rails 8, updates sqlite in Gemfile to match what CI runs
  .circleci/config.yml
  Gemfile
  admin/app/components/solidus_admin/ui/forms/input/component.rb
  api/spec/requests/spree/api/shipments_spec.rb
  api/spec/requests/spree/api/stock_items_spec.rb
  core/solidus_core.gemspec
Labels: changelog:solidus_api, changelog:solidus_core, changelog:solidus_admin

#6106 Fixed wording, typos, license notice & linked to migration guide
  promotions/README.md
Labels: changelog:solidus_promotions

#6107 Fix field container identifier on admin stock location
  backend/app/views/spree/admin/stock_locations/_form.html.erb
Labels: changelog:solidus_backend

#6080 Refactor Line Item Total Calculations
  core/app/models/spree/item_total.rb
  core/app/models/spree/order_updater.rb
  core/lib/spree/app_configuration.rb
  core/spec/models/spree/item_total_spec.rb
  legacy_promotions/app/decorators/models/solidus_legacy_promotions/spree_order_updater_decorator.rb
Labels: changelog:solidus_core, changelog:solidus_legacy_promotions

#6103 [v4.1] Deprecate `Spree::Deprecation` in favor of `Spree.deprecator`
  .rubocop.yml
  core/app/models/spree/order.rb
  core/app/models/spree/order_updater.rb
  core/lib/generators/spree/dummy/templates/rails/test.rb
  core/lib/spree/core.rb
  core/lib/spree/core/engine.rb
  core/lib/spree/deprecated_instance_variable_proxy.rb
  core/lib/spree/deprecation.rb
  core/lib/spree/preferences/configuration.rb
  core/lib/spree/preferences/preferable_class_methods.rb
  core/lib/spree/testing_support/dummy_app.rb
  core/lib/spree/testing_support/factory_bot.rb
  core/lib/spree/testing_support/silence_deprecations.rb
  core/spec/lib/spree/migration_helpers_spec.rb
  core/spec/models/spree/order_spec.rb
  core/spec/models/spree/preferences/configuration_spec.rb
Labels: changelog:solidus_core, changelog:repository

#6122 Rails 8: Include manifest.js in install generator
  core/lib/generators/solidus/install/install_generator.rb
  core/lib/generators/solidus/install/templates/app/assets/config/manifest.js
Labels: changelog:solidus_core

#6117 Add Ruby 3.4 support
  .circleci/config.yml
  core/spec/models/spree/log_entry_spec.rb
  legacy_promotions/solidus_legacy_promotions.gemspec
  promotions/solidus_promotions.gemspec
Labels: changelog:solidus_core, backport-v4.4, changelog:solidus_legacy_promotions, changelog:solidus_promotions

#6109 Add primary Taxon to products (#6047)
  api/lib/spree/api_configuration.rb
  api/spec/requests/spree/api/products_spec.rb
  backend/app/assets/javascripts/spree/backend/taxon_autocomplete.js
  backend/app/views/spree/admin/products/_form.html.erb
  backend/spec/features/admin/products/edit/taxons_spec.rb
  core/app/models/spree/product.rb
  core/config/locales/en.yml
  core/db/migrate/20250207104016_add_primary_taxon_to_products.rb
  core/lib/spree/permitted_attributes.rb
  core/spec/models/spree/product_spec.rb
Labels: changelog:solidus_api, changelog:solidus_backend, changelog:solidus_core

#6120 Fix missing options in select tags
  admin/app/components/solidus_admin/base_component.rb
  admin/app/components/solidus_admin/ui/forms/input/component.rb
  admin/app/helpers/solidus_admin/void_elements_helper.rb
  admin/spec/helpers/solidus_admin/void_elements_helper_spec.rb
Labels: changelog:solidus_admin

#6101 Admin promotion categories add/edit
  .rubocop.yml
  admin/lib/solidus_admin/testing_support/shared_examples/promotion_categories_features.rb
  admin/lib/solidus_admin/testing_support/shared_examples/promotion_categories_requests.rb
  admin/spec/spec_helper.rb
  bin/build
  bin/rspec
  core/lib/spree/testing_support/capybara_ext.rb
  legacy_promotions/config/locales/promotion_categories.en.yml
  legacy_promotions/config/routes.rb
  legacy_promotions/lib/components/admin/solidus_admin/promotion_categories/edit/component.html.erb
  legacy_promotions/lib/components/admin/solidus_admin/promotion_categories/edit/component.rb
  legacy_promotions/lib/components/admin/solidus_admin/promotion_categories/edit/component.yml
  legacy_promotions/lib/components/admin/solidus_admin/promotion_categories/index/component.rb
  legacy_promotions/lib/components/admin/solidus_admin/promotion_categories/new/component.html.erb
  legacy_promotions/lib/components/admin/solidus_admin/promotion_categories/new/component.rb
  legacy_promotions/lib/components/admin/solidus_admin/promotion_categories/new/component.yml
  legacy_promotions/lib/controllers/admin/solidus_admin/promotion_categories_controller.rb
  legacy_promotions/spec/features/solidus_admin/promotion_categories_spec.rb
  legacy_promotions/spec/requests/solidus_admin/promotion_categories_spec.rb
  promotions/MIGRATING.md
  promotions/config/locales/promotion_categories.en.yml
  promotions/config/locales/promotions.en.yml
  promotions/config/routes.rb
  promotions/lib/components/admin/solidus_promotions/promotion_categories/edit/component.html.erb
  promotions/lib/components/admin/solidus_promotions/promotion_categories/edit/component.rb
  promotions/lib/components/admin/solidus_promotions/promotion_categories/edit/component.yml
  promotions/lib/components/admin/solidus_promotions/promotion_categories/index/component.rb
  promotions/lib/components/admin/solidus_promotions/promotion_categories/new/component.html.erb
  promotions/lib/components/admin/solidus_promotions/promotion_categories/new/component.rb
  promotions/lib/components/admin/solidus_promotions/promotion_categories/new/component.yml
  promotions/lib/controllers/admin/solidus_promotions/promotion_categories_controller.rb
  promotions/lib/solidus_promotions/engine.rb
  promotions/spec/rails_helper.rb
  promotions/spec/requests/solidus_promotions/admin/promotion_categories_spec.rb
  promotions/spec/system/solidus_promotions/admin/promotion_categories_spec.rb
  promotions/spec/system/solidus_promotions/backend/promotion_categories_spec.rb
  promotions/spec/system/solidus_promotions/backend/promotions_spec.rb
Labels: changelog:solidus_core, changelog:solidus_admin, changelog:solidus_legacy_promotions, changelog:solidus_promotions

#6050 Move line_item_comparison_hooks config to Spree::Config
  core/app/models/spree/order.rb
  core/app/models/spree/order_merger.rb
  core/lib/spree/app_configuration.rb
  core/spec/models/spree/order_merger_spec.rb
  core/spec/models/spree/order_spec.rb
  promotions/lib/solidus_promotions/engine.rb
Labels: changelog:solidus_core, changelog:solidus_promotions

#6118 Admin and User Metadata for transactional ressources and users (#5897)
  Gemfile
  api/app/controllers/spree/api/base_controller.rb
  api/app/controllers/spree/api/line_items_controller.rb
  api/app/controllers/spree/api/orders_controller.rb
  api/app/helpers/spree/api/api_helpers.rb
  api/lib/spree/api_configuration.rb
  api/spec/requests/spree/api/customer_returns_spec.rb
  api/spec/requests/spree/api/line_items_spec.rb
  api/spec/requests/spree/api/orders_spec.rb
  api/spec/requests/spree/api/payments_spec.rb
  api/spec/requests/spree/api/return_authorizations_spec.rb
  api/spec/requests/spree/api/shipments_spec.rb
  api/spec/requests/spree/api/users_spec.rb
  bin/release/extract-pipeline-context
  core/app/helpers/spree/core/controller_helpers/strong_parameters.rb
  core/app/models/concerns/spree/metadata.rb
  core/app/models/spree/customer_return.rb
  core/app/models/spree/legacy_user.rb
  core/app/models/spree/line_item.rb
  core/app/models/spree/order.rb
  core/app/models/spree/payment.rb
  core/app/models/spree/refund.rb
  core/app/models/spree/return_authorization.rb
  core/app/models/spree/shipment.rb
  core/app/models/spree/simple_order_contents.rb
  core/app/models/spree/store_credit_event.rb
  core/db/migrate/20250129061658_add_metadata_to_spree_resources.rb
  core/lib/spree/app_configuration.rb
  core/lib/spree/permitted_attributes.rb
  core/spec/lib/spree/app_configuration_spec.rb
  core/spec/models/spree/customer_return_spec.rb
  core/spec/models/spree/line_item_spec.rb
  core/spec/models/spree/order_spec.rb
  core/spec/models/spree/payment_spec.rb
  core/spec/models/spree/refund_spec.rb
  core/spec/models/spree/return_authorization_spec.rb
  core/spec/models/spree/shipment_spec.rb
  core/spec/models/spree/store_credit_event_spec.rb
  core/spec/models/spree/user_spec.rb
  core/spec/support/shared_examples/metadata.rb
Labels: changelog:solidus_api, changelog:solidus_core

#6124 Revert "Merge pull request #6122 from mamhoff/create-manifest-js-in-g…
  core/lib/generators/solidus/install/install_generator.rb
  core/lib/generators/solidus/install/templates/app/assets/config/manifest.js
Labels: changelog:solidus_core

#6126 Fix migration typo (missing keyword `foreign_key`)
  core/db/migrate/20250207104016_add_primary_taxon_to_products.rb
Labels: changelog:solidus_core

#6119 Remove Display Order from side menu
  admin/config/locales/menu_item.en.yml
  admin/lib/solidus_admin/configuration.rb
Labels: changelog:solidus_admin

#6131 Rubocop: Ignore Rails/Delegate
  .rubocop.yml
Labels: changelog:repository

#6049 Use Flickwerk for loading patches in solidus_promotions and solidus_legacy_promotions
  core/app/models/spree/core/state_machines/order.rb
  core/app/models/spree/core/state_machines/order/class_methods.rb
  core/lib/spree/preferences/configuration.rb
  core/spec/models/spree/preferences/configuration_spec.rb
  legacy_promotions/app/patches/controllers/solidus_legacy_promotions/solidus_admin_adjustments_controller_patch.rb
  legacy_promotions/app/patches/lib/solidus_legacy_promotions/spree_order_state_machine_patch.rb
  legacy_promotions/app/patches/models/solidus_legacy_promotions/spree_adjustment_patch.rb
  legacy_promotions/app/patches/models/solidus_legacy_promotions/spree_calculator_returns_default_refund_amount_patch.rb
  legacy_promotions/app/patches/models/solidus_legacy_promotions/spree_line_item_patch.rb
  legacy_promotions/app/patches/models/solidus_legacy_promotions/spree_order_patch.rb
  legacy_promotions/app/patches/models/solidus_legacy_promotions/spree_order_updater_patch.rb
  legacy_promotions/app/patches/models/solidus_legacy_promotions/spree_product_patch.rb
  legacy_promotions/app/patches/models/solidus_legacy_promotions/spree_shipment_patch.rb
  legacy_promotions/lib/solidus_legacy_promotions/engine.rb
  legacy_promotions/solidus_legacy_promotions.gemspec
  promotions/app/patches/models/solidus_promotions/adjustment_patch.rb
  promotions/app/patches/models/solidus_promotions/line_item_patch.rb
  promotions/app/patches/models/solidus_promotions/order_patch.rb
  promotions/app/patches/models/solidus_promotions/order_recalculator_patch.rb
  promotions/app/patches/models/solidus_promotions/shipment_patch.rb
  promotions/app/patches/models/solidus_promotions/shipping_rate_patch.rb
  promotions/lib/solidus_promotions/engine.rb
Labels: changelog:solidus_core, changelog:solidus_legacy_promotions, changelog:solidus_promotions

#6130 Add not about sprockets manifest before running rails commands
  README.md
Labels: changelog:solidus

#6135 [Admin] Fix tailwindcss-rails Version to v3 for Solidus Admin Compatibility
  admin/lib/solidus_admin/install_tailwindcss.rb
Labels: changelog:solidus_admin

#6133 Fix sandbox command for Rails 8
  bin/sandbox
Labels: changelog:repository

#6097 Added GTIN and Condition to variant for structured data use
  admin/app/components/solidus_admin/products/show/component.html.erb
  admin/app/components/solidus_admin/products/show/component.rb
  api/lib/spree/api_configuration.rb
  api/openapi/solidus-api.oas.yml
  backend/app/views/spree/admin/products/_form.html.erb
  backend/app/views/spree/admin/variants/_form.html.erb
  core/app/models/spree/product.rb
  core/app/models/spree/variant.rb
  core/config/locales/en.yml
  core/db/migrate/20250201172950_add_gtin_and_condition_to_spree_variant.rb
  core/lib/spree/permitted_attributes.rb
  core/spec/models/spree/product_spec.rb
  core/spec/models/spree/variant_spec.rb
  sample/db/samples/products.rb
Labels: changelog:solidus_api, changelog:solidus_backend, changelog:solidus_core, changelog:solidus_sample, changelog:solidus_admin

#6134 [Admin] Allow bulk delete resources
  admin/app/controllers/solidus_admin/resources_controller.rb
  admin/lib/solidus_admin/testing_support/shared_examples/bulk_delete_resources.rb
  admin/lib/solidus_admin/testing_support/shared_examples/crud_resource_requests.rb
  admin/lib/solidus_admin/testing_support/shared_examples/promotion_categories_features.rb
  admin/lib/solidus_admin/testing_support/shared_examples/promotion_categories_requests.rb
  admin/spec/features/adjustment_reasons_spec.rb
  admin/spec/features/properties_spec.rb
  admin/spec/features/refund_reasons_spec.rb
  admin/spec/features/return_reasons_spec.rb
  admin/spec/features/roles_spec.rb
  admin/spec/features/shipping_categories_spec.rb
  admin/spec/features/store_credit_reasons_spec.rb
  admin/spec/features/tax_categories_spec.rb
  admin/spec/requests/solidus_admin/adjustment_reasons_spec.rb
  admin/spec/requests/solidus_admin/properties_spec.rb
  admin/spec/requests/solidus_admin/refund_reasons_spec.rb
  admin/spec/requests/solidus_admin/return_reasons_spec.rb
  admin/spec/requests/solidus_admin/roles_spec.rb
  admin/spec/requests/solidus_admin/shipping_categories_spec.rb
  admin/spec/requests/solidus_admin/store_credit_reasons_spec.rb
  admin/spec/requests/solidus_admin/tax_categories_spec.rb
  legacy_promotions/config/locales/promotion_categories.en.yml
  legacy_promotions/spec/requests/solidus_admin/promotion_categories_spec.rb
  promotions/config/locales/promotion_categories.en.yml
  promotions/spec/requests/solidus_promotions/admin/promotion_categories_spec.rb
Labels: changelog:solidus_admin, changelog:solidus_legacy_promotions, changelog:solidus_promotions

#6146 [v4.3] Split the main Rakefile into themed sub-files
  .circleci/config.yml
  .eslintrc.json
  .gitignore
  .rubocop.yml
  Gemfile
  Rakefile
  tasks/cleaning.rake
  tasks/linting.rake
  tasks/releasing.rake
  tasks/testing.rake
Labels: changelog:repository, backport-v4.3

#6144 [v4.3] CI: Actually run solidus installer test with Rails 7.1
  .circleci/config.yml
Labels: changelog:repository

#6154 Fix install_lookbook step
  admin/lib/generators/solidus_admin/install/install_generator.rb
Labels: changelog:solidus_admin

#6157 Respect Spree.user_class' table name in metadata migration
  core/db/migrate/20250129061658_add_metadata_to_spree_resources.rb
  core/db/migrate/20250221152004_add_metadata_to_users.rb
Labels: type:bug, changelog:solidus_core, backport-v4.5

#6161 [Promotions] Set Flickwerk patches in initializer
  promotions/lib/solidus_promotions/engine.rb
  promotions/spec/lib/solidus_promotions/engine_spec.rb
Labels: changelog:solidus_promotions, backport-v4.5

#6163 Better Spree::UserAddress scope deprecation warnings
  core/app/models/spree/user_address.rb
  legacy_promotions/app/models/spree/promotion.rb
Labels: changelog:solidus_core, changelog:solidus_legacy_promotions, backport-v4.5

#6164 GH: Allow backport workflow to trigger actions
  .github/workflows/backport.yml
Labels: changelog:repository, backport-v4.5
