Repository solidusio/solidus, pull requests merged in 2025-05, with the labels that each got.

#6227 Dummy app generator: Only configure app/assets/javascripts if present
  core/lib/generators/spree/dummy/dummy_generator.rb
  core/lib/generators/spree/dummy/templates/rails/manifest.js.tt
Labels: changelog:solidus_core

#6230 Use Firefox for system specs
  admin/lib/solidus_admin/testing_support/feature_helpers.rb
  admin/spec/features/products_spec.rb
  core/lib/spree/testing_support/capybara_driver.rb
Labels: changelog:solidus_core, changelog:solidus_admin

#6225 Refactor address form component (properly this time)
  admin/app/components/concerns/solidus_admin/slotable_default.rb
  admin/app/components/solidus_admin/ui/forms/address/component.html.erb
  admin/app/components/solidus_admin/ui/forms/address/component.rb
  admin/app/components/solidus_admin/ui/forms/address/fields/city_and_zipcode/component.html.erb
  admin/app/components/solidus_admin/ui/forms/address/fields/city_and_zipcode/component.rb
  admin/app/components/solidus_admin/ui/forms/address/fields/country_and_state/component.html.erb
  admin/app/components/solidus_admin/ui/forms/address/fields/country_and_state/component.js
  admin/app/components/solidus_admin/ui/forms/address/fields/country_and_state/component.rb
  admin/app/components/solidus_admin/ui/forms/address/fields/reverse_charge_fields/component.html.erb
  admin/app/components/solidus_admin/ui/forms/address/fields/reverse_charge_fields/component.rb
  admin/app/components/solidus_admin/ui/forms/address/fieldsets/base.rb
  admin/app/components/solidus_admin/ui/forms/address/fieldsets/contact/component.rb
  admin/app/components/solidus_admin/ui/forms/address/fieldsets/location/component.rb
  admin/spec/components/previews/solidus_admin/ui/forms/address/component_preview.rb
  admin/spec/components/previews/solidus_admin/ui/forms/address/component_preview/overview.html.erb
  admin/spec/components/previews/solidus_admin/ui/forms/address/component_preview/with_custom_fieldset.html.erb
  admin/spec/components/previews/solidus_admin/ui/forms/address/component_preview/with_extended_fields.html.erb
  admin/spec/components/solidus_admin/ui/forms/address/component_spec.rb
Labels: changelog:solidus_admin

#6226 [Admin][UI] Alert component
  admin/app/components/solidus_admin/ui/alert/component.html.erb
  admin/app/components/solidus_admin/ui/alert/component.rb
  admin/app/components/solidus_admin/ui/alert/component.yml
  admin/app/components/solidus_admin/ui/toast/component.html.erb
  admin/app/javascript/solidus_admin/controllers/alert_animation_controller.js
  admin/config/tailwind.config.js
  admin/spec/components/previews/solidus_admin/ui/alert/component_preview.rb
  admin/spec/components/previews/solidus_admin/ui/alert/component_preview/overview.html.erb
  admin/spec/components/solidus_admin/ui/alert/component_spec.rb
Labels: changelog:solidus_admin

#6238 [Admin] fix table sorting
  admin/app/components/solidus_admin/ui/table/component.js
  admin/app/components/solidus_admin/ui/table/component.rb
  admin/app/javascript/solidus_admin/controllers/sortable_controller.js
Labels: changelog:solidus_admin

#6243 Move Taxon -> Promotion Rule association to legacy promotions
  core/app/models/spree/taxon.rb
  legacy_promotions/app/patches/models/solidus_legacy_promotions/spree_taxon_patch.rb
Labels: changelog:solidus_core, changelog:solidus_legacy_promotions, backport-v4.5

#6251 Fix libvips install in circleci
  .circleci/config.yml
Labels: changelog:repository

#6249 Do not download Chrome on CI
  .circleci/config.yml
Labels: changelog:repository

#6245 Refactor load_user_roles into current_user_roles helper
  .rubocop_todo.yml
  api/app/controllers/spree/api/base_controller.rb
  api/app/controllers/spree/api/line_items_controller.rb
  api/app/helpers/spree/api/api_helpers.rb
  api/app/views/spree/api/payments/source_views/_gateway.json.jbuilder
  api/app/views/spree/api/products/_product.json.jbuilder
Labels: changelog:solidus_api

#6261 [v4.5] Fix flaky test errors using chrome 134
  .circleci/config.yml
  admin/lib/solidus_admin/testing_support/feature_helpers.rb
  admin/lib/solidus_admin/testing_support/shared_examples/promotion_categories_features.rb
  admin/spec/features/adjustment_reasons_spec.rb
  admin/spec/features/properties_spec.rb
  admin/spec/features/refund_reasons_spec.rb
  admin/spec/features/return_reasons_spec.rb
  admin/spec/features/roles_spec.rb
  admin/spec/features/shipping_categories_spec.rb
  admin/spec/features/shipping_methods_spec.rb
  admin/spec/features/store_credit_reasons_spec.rb
  admin/spec/features/tax_categories_spec.rb
  admin/spec/spec_helper.rb
  backend/spec/spec_helper.rb
  core/lib/spree/testing_support/capybara_driver.rb
  legacy_promotions/spec/features/solidus_admin/promotion_categories_spec.rb
  legacy_promotions/spec/rails_helper.rb
  promotions/spec/rails_helper.rb
  promotions/spec/system/solidus_promotions/admin/promotion_categories_spec.rb
Labels: changelog:solidus_backend, changelog:solidus_core, changelog:solidus_admin, changelog:solidus_legacy_promotions, changelog:solidus_promotions

#6235 Add 500ms delay before AJAX in Select2
  backend/app/assets/javascripts/spree/backend/option_value_picker.js
  backend/app/assets/javascripts/spree/backend/product_picker.js
  backend/app/assets/javascripts/spree/backend/taxon_autocomplete.js
Labels: changelog:solidus_backend

#6265 Addressbook: Add foreign key, dependent/inverse_of options
  core/app/models/concerns/spree/user_address_book.rb
  core/app/models/spree/user_address.rb
  core/db/migrate/20250530102541_add_addressbook_foreign_key.rb
Labels: changelog:solidus_core

#6263 [v4.5] Use Firefox for system specs
  admin/lib/solidus_admin/testing_support/feature_helpers.rb
  admin/spec/features/products_spec.rb
  core/lib/spree/testing_support/capybara_driver.rb
Labels: changelog:solidus_core, changelog:solidus_admin

#6244 Replace `puts` in tasks and generators with Rails.logger or Logger.new
  core/lib/generators/spree/dummy/dummy_generator.rb
  core/lib/spree/testing_support/common_rake.rb
  core/lib/spree/testing_support/dummy_app.rb
  core/lib/spree/testing_support/dummy_app/migrations.rb
  core/lib/spree/testing_support/translations.rb
  promotions/lib/generators/solidus_promotions/install/install_generator.rb
  promotions/lib/solidus_promotions/promotion_migrator.rb
Labels: changelog:solidus_core, changelog:solidus_promotions

#6200 Promotions: Add a PercentWithCap calculator
  promotions/app/models/solidus_promotions/calculators/percent_with_cap.rb
  promotions/config/locales/en.yml
  promotions/spec/models/solidus_promotions/calculators/percent_with_cap_spec.rb
Labels: changelog:solidus_promotions
