Repository solidusio/solidus, pull requests merged in 2025-07, with the labels that each got.

#6300 Add the new Ruby debug gem
  Gemfile
  bin/sandbox
  core/lib/spree/testing_support/dummy_app/rake_tasks.rb
Labels: changelog:solidus_core

#6304 Create state changes in background job
  api/spec/spec_helper.rb
  backend/spec/spec_helper.rb
  core/app/jobs/spree/base_job.rb
  core/app/jobs/spree/state_change_tracking_job.rb
  core/app/models/concerns/spree/state_change_tracking.rb
  core/app/models/spree/core/state_machines/order.rb
  core/app/models/spree/core/state_machines/order/class_methods.rb
  core/app/models/spree/core/state_machines/payment.rb
  core/app/models/spree/core/state_machines/shipment.rb
  core/app/models/spree/order_updater.rb
  core/lib/spree/testing_support/dummy_app.rb
  core/lib/spree/testing_support/job_helpers.rb
  core/spec/jobs/spree/state_change_tracking_job_spec.rb
  core/spec/models/spree/order/checkout_spec.rb
  core/spec/models/spree/order_spec.rb
  core/spec/models/spree/order_updater_spec.rb
  core/spec/models/spree/payment_spec.rb
  core/spec/models/spree/shipment_spec.rb
  core/spec/rails_helper.rb
  legacy_promotions/spec/rails_helper.rb
Labels: changelog:solidus_api, changelog:solidus_backend, changelog:solidus_core, changelog:solidus_legacy_promotions

#6280 [Admin] Flashes helper and reorganization
  admin/app/components/solidus_admin/layout/flashes/alerts/component.html.erb
  admin/app/components/solidus_admin/layout/flashes/alerts/component.rb
  admin/app/components/solidus_admin/layout/flashes/toasts/component.html.erb
  admin/app/components/solidus_admin/layout/flashes/toasts/component.rb
  admin/app/components/solidus_admin/ui/alert/component.html.erb
  admin/app/components/solidus_admin/ui/alert/component.rb
  admin/app/components/solidus_admin/ui/alert/component.yml
  admin/app/controllers/solidus_admin/adjustments_controller.rb
  admin/app/controllers/solidus_admin/base_controller.rb
  admin/app/controllers/solidus_admin/customers_controller.rb
  admin/app/controllers/solidus_admin/products_controller.rb
  admin/app/controllers/solidus_admin/users_controller.rb
  admin/app/helpers/solidus_admin/flash_helper.rb
  admin/app/views/layouts/solidus_admin/application.html.erb
  admin/docs/index_pages.md
  admin/spec/components/previews/solidus_admin/ui/alert/component_preview/overview.html.erb
  admin/spec/components/solidus_admin/layout/flashes/alerts/component_spec.rb
  admin/spec/components/solidus_admin/layout/flashes/toasts/component_spec.rb
  admin/spec/components/solidus_admin/ui/alert/component_spec.rb
Labels: changelog:solidus_admin

#6303 Restrict deletion of adjustment reasons if adjustments present
  .rubocop_todo.yml
  core/app/models/spree/adjustment_reason.rb
  core/db/migrate/20250708120317_add_adjustment_reason_foreign_keys.rb
Labels: changelog:solidus_core

#6237 fix admin component generator namespace
  admin/lib/generators/solidus_admin/install/templates/config/initializers/solidus_admin.rb.tt
Labels: changelog:solidus_admin, backport-v4.5
